In [1]:
import pandas as pd
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', None) 
import numpy as np
import re
from collections import defaultdict

In [2]:
yahoo_players = pd.read_csv('Raw/players_yahooleague_raw_14to25.csv')
yahoo_players.head()
yahoo_players = yahoo_players.drop(columns='Unnamed: 0')
yahoo_players.head()

master_ids = pd.read_csv('Raw/player_keys_raw.csv')
master_ids.head()
master_ids = master_ids.drop(columns='Unnamed: 0')
master_ids.head()

master_raw = master_ids.copy()

In [3]:
master_raw['position'].value_counts()

position
WR    2038
LB    1779
RB    1587
CB    1268
S     1083
DT     969
DE     957
TE     948
QB     666
PK     276
PN     215
DB     146
DL     136
OT      53
XX      16
C        6
T        1
?        1
Name: count, dtype: int64

In [4]:
master_raw[master_raw['name'] == 'Peyton Hillis']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
6857,9272,a34a5944-33c4-4965-b404-6772f4b7f1ab,9506.0,00-0026367,4541.0,660.0,1980.0,11461.0,900035.0,NaN,523458.0,HillPe00,peyton-hillis-1,5866.0,4965.0,NaN,9004.0,267714.0,11747.0,NaN,Peyton Hillis,peyton hillis,RB,FA,1986-01-21,35.3,2008.0,7.0,20.0,227.0,thepeytonhillis,74.0,250.0,Arkansas,2025

In [5]:
master_raw = master_raw.loc[master_raw['position'].isin(['QB', 'RB', 'TE', 'WR', 'PK', 'XX'])]
master_raw[master_raw['name'] == 'Jacoby Jones']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
7043,8772,ce4d7d70-307f-4093-bf54-432b8b405eb4,9253.0,00-0025460,3689.0,203.0,2495651.0,10517.0,8327.0,4674.0,1220258.0,JoneJa03,NaN,5229.0,4239.0,NaN,8327.0,329337.0,5100.0,NaN,Jacoby Jones,jacoby jones,WR,FA,1984-07-11,36.8,2007.0,3.0,9.0,73.0,TheRealJacoby12,76.0,215.0,Lane,2025

In [6]:
# Create name cleaning funciton
def clean_name(name):
    if pd.isna(name) or name is None:
        return name
    name = re.sub(r'\s+(Jr\.?|Sr\.?|III|II|IV|V)(\s|$|,)', '', str(name), flags=re.IGNORECASE).strip()
    name = name.replace("'", "")
    return name

In [7]:
yahoo_players['cleaned_name'] = yahoo_players['name.full'].apply(clean_name)

In [8]:
master_raw['cleaned_name'] = master_raw['name'].apply(clean_name)

In [9]:
yahoo_players['match_key'] = yahoo_players['cleaned_name'] + '_' + yahoo_players['player_id'].astype('Int64').astype(str)
master_raw['match_key'] = master_raw['cleaned_name'] + '_' + master_raw['stats_id'].astype('Int64').astype(str)

In [10]:
master_raw[master_raw['name'] == 'Jacoby Jones']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key
7043,8772,ce4d7d70-307f-4093-bf54-432b8b405eb4,9253.0,00-0025460,3689.0,203.0,2495651.0,10517.0,8327.0,4674.0,1220258.0,JoneJa03,NaN,5229.0,4239.0,NaN,8327.0,329337.0,5100.0,NaN,Jacoby Jones,jacoby jones,WR,FA,1984-07-11,36.8,2007.0,3.0,9.0,73.0,TheRealJacoby12,76.0,215.0,Lane,2025,Jacoby Jones,Jacoby Jones_8327

In [11]:
master_raw[master_raw['match_key'].str.contains('_<NA>')]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer,Sean Brewer_<NA>
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien,Doug Brien_<NA>
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham,Jeremy Brigham_<NA>
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby,Vincent Brisby_<NA>
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister,Bubby Brister_<NA>

In [12]:
print(f"Memory usage: {master_raw.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

Memory usage: 5.25 MB

In [13]:
# Rookies missing are on the yahoo list, will make a yahoo ID map and use to add to master list

yahoo_id_maps = yahoo_players.set_index('match_key')['player_id'].to_dict()

In [14]:
print(yahoo_id_maps['Jacoby Jones_8327'])

8327

In [15]:
master_raw['mapped_ids'] = master_raw['match_key'].map(yahoo_id_maps)
display(master_raw[master_raw['name'] == 'Ben Wooldridge'])
display(master_raw[master_raw['name'] == 'Travis Hunter'])

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
301,17338,0eba8690-2572-11f0-841c-6faaaac5712d,NaN,NaN,NaN,13065.0,NaN,4373895.0,NaN,NaN,2965115.0,NaN,NaN,18872.0,NaN,NaN,4373895.0,0.0,NaN,NaN,Ben Wooldridge,ben wooldridge,QB,FA,1999-09-27,26.1,2025.0,NaN,NaN,NaN,NaN,74.0,214.0,Louisiana,2025,Ben Wooldridge,Ben Wooldridge_4373895,NaN

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN

In [16]:
master_raw[(master_raw['mapped_ids'].isna())]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer,Sean Brewer_<NA>,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien,Doug Brien_<NA>,NaN
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham,Jeremy Brigham_<NA>,NaN
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby,Vincent Brisby_<NA>,NaN
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister,Bubby Brister_<NA>,NaN

In [17]:
# Count NaN in mapped_ids
print("NaN in mapped_ids:", master_raw['mapped_ids'].isna().sum())

# Check if mismatch should include NaN
print("Should show mismatches:", (~master_raw['mapped_ids'].isin(master_raw['stats_id'])).sum())

# Are the NaN values in mapped_ids also NaN in stats_id?
both_nan = master_raw['mapped_ids'].isna() & master_raw['stats_id'].isna()
print("Rows where BOTH are NaN:", both_nan.sum())

NaN in mapped_ids: 2601
Should show mismatches: 0
Rows where BOTH are NaN: 1093

In [18]:
master_raw[master_raw['name'] == 'Adam Vinatieri']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
9688,2842,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025,Adam Vinatieri,Adam Vinatieri_3727,3727.0

In [19]:
# Exclude rows where BOTH are NaN (those are fine)
# Show rows where they don't match
master_mismatch = master_raw[
    (master_raw['mapped_ids'] != master_raw['stats_id']) & 
    ~(master_raw['mapped_ids'].isna() & master_raw['stats_id'].isna())
]
print(f"True mismatches: {len(master_mismatch)}")

True mismatches: 1508

In [20]:
master_mismatch.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,NaN
294,17329,826620a0-249a-11f0-9302-cb167d81eff7,23170.0,00-0040332,123119.0,12479.0,58768.0,4690972.0,NaN,NaN,3168195.0,JackJa05,NaN,18527.0,NaN,NaN,4690972.0,0.0,25901.0,NaN,Ja'Quinden Jackson,jaquinden jackson,RB,JAC,2001-09-12,24.1,2025.0,NaN,NaN,NaN,NaN,74.0,233.0,Arkansas,2025,JaQuinden Jackson,JaQuinden Jackson_4690972,NaN
301,17338,0eba8690-2572-11f0-841c-6faaaac5712d,NaN,NaN,NaN,13065.0,NaN,4373895.0,NaN,NaN,2965115.0,NaN,NaN,18872.0,NaN,NaN,4373895.0,0.0,NaN,NaN,Ben Wooldridge,ben wooldridge,QB,FA,1999-09-27,26.1,2025.0,NaN,NaN,NaN,NaN,74.0,214.0,Louisiana,2025,Ben Wooldridge,Ben Wooldridge_4373895,NaN
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,NaN

In [21]:
master_mismatch[master_mismatch['stats_id'] > 101000]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
294,17329,826620a0-249a-11f0-9302-cb167d81eff7,23170.0,00-0040332,123119.0,12479.0,58768.0,4690972.0,NaN,NaN,3168195.0,JackJa05,NaN,18527.0,NaN,NaN,4690972.0,0.0,25901.0,NaN,Ja'Quinden Jackson,jaquinden jackson,RB,JAC,2001-09-12,24.1,2025.0,NaN,NaN,NaN,NaN,74.0,233.0,Arkansas,2025,JaQuinden Jackson,JaQuinden Jackson_4690972,NaN
301,17338,0eba8690-2572-11f0-841c-6faaaac5712d,NaN,NaN,NaN,13065.0,NaN,4373895.0,NaN,NaN,2965115.0,NaN,NaN,18872.0,NaN,NaN,4373895.0,0.0,NaN,NaN,Ben Wooldridge,ben wooldridge,QB,FA,1999-09-27,26.1,2025.0,NaN,NaN,NaN,NaN,74.0,214.0,Louisiana,2025,Ben Wooldridge,Ben Wooldridge_4373895,NaN
666,16964,9f2c6ea0-0570-11ef-af69-dfa5fe884ba6,NaN,00-0039614,141559.0,11897.0,57742.0,4698301.0,NaN,NaN,26717777.0,JackJe01,NaN,18104.0,NaN,NaN,4698301.0,0.0,NaN,1274459.0,Jermaine Jackson,jermaine jackson,WR,FA,2000-06-02,25.4,2024.0,NaN,NaN,NaN,NaN,67.0,170.0,Idaho,2025,Jermaine Jackson,Jermaine Jackson_4698301,NaN

These three player shave no stats, will drop

In [22]:
master_mismatch = master_mismatch[master_mismatch['stats_id'] < 101000]
master_mismatch[master_mismatch['stats_id'] > 101000]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [23]:
master_mismatch.loc[(master_mismatch['stats_id'].isna()), 'stats_id'] = master_mismatch.loc[(master_mismatch['stats_id'].isna()), 'mapped_ids']

In [24]:
master_mismatch[master_mismatch['stats_id'].isna()]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [25]:
master_mismatch[master_mismatch['stats_id'].isna()]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [26]:
master_mismatch.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,NaN
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,NaN
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,NaN
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,NaN

In [27]:
master_mismatch.loc[master_mismatch['stats_id'].duplicated(keep=False)]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [28]:
master_mismatch.loc[master_mismatch['stats_id'] < 3000].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
9848,1032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BantBr00,bradford-banta-1,837.0,NaN,NaN,2732.0,0.0,NaN,NaN,Bradford Banta,bradford banta,TE,FA,1970-12-14,50.4,1994.0,4.0,3.0,106.0,NaN,78.0,253.0,Southern California,2025,Bradford Banta,Bradford Banta_2732,NaN
9852,1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,briendou01,doug-brien-1,849.0,NaN,NaN,2935.0,0.0,NaN,NaN,Doug Brien,doug brien,PK,FA,1970-11-24,50.5,1994.0,3.0,20.0,85.0,NaN,NaN,185.0,California,2025,Doug Brien,Doug Brien_2935,NaN
9854,1095,NaN,NaN,00-0002099,NaN,NaN,NaN,658.0,NaN,322.0,1294.0,BrucIs00,isaac-bruce-1,626.0,414.0,NaN,2914.0,0.0,NaN,NaN,Isaac Bruce,isaac bruce,WR,FA,1972-11-10,48.5,1994.0,2.0,4.0,33.0,NaN,72.0,188.0,Memphis,2025,Isaac Bruce,Isaac Bruce_2914,NaN
9858,1183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1065.0,DilfTr00,trent-dilfer-1,666.0,552.0,NaN,2900.0,0.0,NaN,NaN,Trent Dilfer,trent dilfer,QB,FA,1972-03-13,49.2,1994.0,1.0,6.0,6.0,DilfersDimes,76.0,234.0,Fresno State,2025,Trent Dilfer,Trent Dilfer_2900,NaN
9861,1213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FaulMa00,marshall-faulk-1,292.0,368.0,NaN,2728.0,0.0,NaN,NaN,Marshall Faulk,marshall faulk,RB,FA,1973-02-26,48.2,1994.0,1.0,2.0,2.0,marshallfaulk,70.0,211.0,NaN,2025,Marshall Faulk,Marshall Faulk_2728,NaN

In [29]:
master_mismatch = master_mismatch.drop(labels=master_mismatch.loc[master_mismatch['stats_id'] < 3726].index, axis=0)
master_mismatch['stats_id'].min()

np.float64(3731.0)

In [30]:
master_mismatch[~master_mismatch['mapped_ids'].isin(master_mismatch['stats_id'])]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,NaN
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,NaN
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,NaN
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12034,9793,20af511b-03b7-4905-bc41-158f286b99c6,NaN,NaN,NaN,2864.0,2553937.0,12899.0,29138.0,NaN,2175732.0,NaN,NaN,6002.0,5243.0,NaN,9736.0,245814.0,17332.0,NaN,Mike Reilly,mike reilly,QB,STL,1985-01-25,36.3,0.0,NaN,NaN,NaN,NaN,76.0,240.0,Central Washington,2025,Mike Reilly,Mike Reilly_9736,NaN
12036,9796,NaN,NaN,00-0026792,NaN,NaN,NaN,13027.0,NaN,NaN,1675238.0,WillPa01,NaN,6401.0,5595.0,NaN,9721.0,267416.0,NaN,NaN,Patrick Williams,patrick williams,WR,BAL,1986-01-13,35.3,0.0,NaN,NaN,NaN,NaN,73.0,204.0,Colorado,2025,Patrick Williams,Patrick Williams_9721,NaN
12038,9800,NaN,NaN,00-0024825,NaN,NaN,NaN,11142.0,NaN,NaN,1226291.0,NordJa00,NaN,5467.0,4608.0,NaN,8692.0,219960.0,NaN,NaN,Jake Nordin,jake nordin,TE,DET,1984-07-08,36.8,0.0,NaN,NaN,NaN,NaN,75.0,255.0,Northern Illinois,2025,Jake Nordin,Jake Nordin_8692,NaN
12039,9806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6202.0,5498.0,NaN,9122.0,463275.0,NaN,NaN,Sam Giguere,sam giguere,WR,FA,1985-07-11,35.8,0.0,NaN,NaN,NaN,NaN,71.0,215.0,Sherbrooke,2025,Sam Giguere,Sam Giguere_9122,NaN
12040,9807,95fda3ba-3d46-4985-9b2e-939f5fe4883b,NaN,00-0026669,5308.0,NaN,NaN,12965.0,NaN,NaN,1675122.0,ClohCo00,NaN,6418.0,5628.0,NaN,9683.0,288898.0,NaN,NaN,Colin Cloherty,colin cloherty,TE,FA,1987-09-16,33.6,0.0,NaN,NaN,NaN,colincloherty,74.0,252.0,Brown,2025,Colin Cloherty,Colin Cloherty_9683,NaN

In [31]:
print(master_mismatch['mapped_ids'].isna().sum())

1409

In [32]:
master_mismatch.shape

(1409, 38)

In [33]:
master_mismatch.loc[(master_mismatch['mapped_ids'].isna()), 'mapped_ids'] = master_mismatch.loc[(master_mismatch['mapped_ids'].isna()), 'stats_id']
master_mismatch[master_mismatch['name'] == 'Ollie Gordon']

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [34]:
master_mismatch.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,41787.0
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,41980.0
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,41559.0
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,41477.0
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,41163.0

In [35]:
updated_yahoo_maps = master_mismatch.set_index('match_key')['stats_id'].to_dict()
display(updated_yahoo_maps)

{'Travis Hunter_41787': 41787.0,
 'Andres Borregales_41980': 41980.0,
 'Taulia Tagovailoa_41559': 41559.0,
 'Justin Strong_41477': 41477.0,
 'Lideatrick Griffin_41163': 41163.0,
 'CJ Johnson_40461': 40461.0,
 'Scott Matlock_40225': 40225.0,
 'Demario Douglas_40222': 40222.0,
 'Grant Dubose_40251': 40251.0,
 'Keytaon Thompson_40592': 40592.0,
 'Mitchell Tinsley_40313': 40313.0,
 'EJ Perry_34346': 34346.0,
 'Dvonte Price_34521': 34521.0,
 'TJ Pledger_34691': 34691.0,
 'John Metchie_34063': 34063.0,
 'Chigoziem Okonkwo_34099': 34099.0,
 'Andrew Ogletree_34148': 34148.0,
 'Lujuan Winningham_34255': 34255.0,
 'John Parker Romo_34657': 34657.0,
 'Mike Strachan_33620': 33620.0,
 'BJ Emmons_33855': 33855.0,
 'AJ Dillon_32732': 32732.0,
 'Lamical Perine_32790': 32790.0,
 'Gabriel Davis_32798': 32798.0,
 'K.J. Hill_32890': 32890.0,
 'Jacob Breeland_32994': 32994.0,
 'LJ Scott_32569': 32569.0,
 'Marquise Brown_31857': 31857.0,
 'JJ Arcega-Whiteside_31889': 31889.0,
 'Tyron Johnson_32511': 32511.0,
 'Olabisi Johnson_32079': 32079.0,
 'Chris Blewitt_31819': 31819.0,
 'Jacob Dolegala_32464': 32464.0,
 'D.J. Moore_30994': 30994.0,
 'D.J. Chark_31031': 31031.0,
 'Matthew McCrane_31310': 31310.0,
 'Mike Badgley_31366': 31366.0,
 'Jeffery Wilson_31394': 31394.0,
 'Josh Crockett_31758': 31758.0,
 'KD Cannon_30553': 30553.0,
 'Speedy Noil_30854': 30854.0,
 'Brendan Langley_30214': 30214.0,
 'Alexander Armah_30305': 30305.0,
 'Stanley Williams_30588': 30588.0,
 'Peyton Barber_29560': 29560.0,
 'Moritz Boehringer_29414': 29414.0,
 'Kieren Duncan_29987': 29987.0,
 'Rory Anderson_28642': 28642.0,
 'Justin Manton_28954': 28954.0,
 'Rod Smith_28718': 28718.0,
 'Daniel Brown_29102': 29102.0,
 'A.J. McCarron_27692': 27692.0,
 'Gator Hoskins_28095': 28095.0,
 'Tim Flanders_27924': 27924.0,
 'Rashaun Allen_28253': 28253.0,
 'Alex Carder_27185': 27185.0,
 'James Vandenberg_27128': 27128.0,
 'Dayne Crist_27426': 27426.0,
 'Ryan Katz_26883': 26883.0,
 'Seth Doege_27014': 27014.0,
 'Colby Cameron_27090': 27090.0,
 'Kyle Padron_27068': 27068.0,
 'D.J. Harper_27283': 27283.0,
 'Onterio McCalebb_27163': 27163.0,
 'Stefphon Jefferson_27301': 27301.0,
 'Dominique Whaley_26900': 26900.0,
 'Curtis McNeal_26913': 26913.0,
 'Robbie Rouse_27362': 27362.0,
 'Marcus Davis_27317': 27317.0,
 'Ryan Swope_26797': 26797.0,
 'Roy Roundtree_27115': 27115.0,
 'Zach Rogers_26993': 26993.0,
 'Tyrone Goard_27114': 27114.0,
 'Philip Lutzenkirchen_27168': 27168.0,
 'Havard Rugland_26618': 26618.0,
 'Braden Wilson_26827': 26827.0,
 'Jordan Roberts_27402': 27402.0,
 'Sam McGuffie_27067': 27067.0,
 'Jasper Collins_27244': 27244.0,
 'Matt McGloin_27429': 27429.0,
 'Morgan Lineberry_27097': 27097.0,
 'Perez Ashford_27145': 27145.0,
 'Andrew Helmick_27430': 27430.0,
 'Tyrone Walker_27396': 27396.0,
 'Quentin Sims_27461': 27461.0,
 'Tim Wright_27050': 27050.0,
 'Trent Richardson_25713': 25713.0,
 'Patrick Edwards_26385': 26385.0,
 'Deangelo Peterson_26358': 26358.0,
 'Hayden Smith_25707': 25707.0,
 'Les Brown_25709': 25709.0,
 'T.J. Graham_25779': 25779.0,
 'Greg Childs_25844': 25844.0,
 'Terrance Ganaway_25912': 25912.0,
 'Greg Scruggs_25942': 25942.0,
 'Drake Dunsmore_25943': 25943.0,
 'B.J. Coleman_25953': 25953.0,
 'Jordan White_25954': 25954.0,
 'Rodney Stewart_26248': 26248.0,
 'Lennon Creer_26276': 26276.0,
 'Gerrell Robinson_25984': 25984.0,
 'Michael Calvin_26234': 26234.0,
 'Michael Hayes_26194': 26194.0,
 'Joe Martinek_26405': 26405.0,
 'Adonis Thomas_26500': 26500.0,
 'Marc Tyler_26437': 26437.0,
 'Cody Pearcy_26176': 26176.0,
 'Brandon Collins_26476': 26476.0,
 'Stephfon Green_26387': 26387.0,
 'Devin Goda_26445': 26445.0,
 'Ed Wesley_26570': 26570.0,
 'LaRon Byrd_26135': 26135.0,
 'Darrell Scott_26074': 26074.0,
 'David Douglas_26404': 26404.0,
 'Jarrett Lee_26195': 26195.0,
 'Nate Eachus_26111': 26111.0,
 'Eddy Carmona_26510': 26510.0,
 'Marquis Maze_26226': 26226.0,
 'Danny Noble_26332': 26332.0,
 'John Griffin_25456': 25456.0,
 'Alex Silvestro_25313': 25313.0,
 'Dan DePalma_25297': 25297.0,
 'Andy Fantuz_24782': 24782.0,
 'Derrick Locke_25533': 25533.0,
 'Titus Young_24831': 24831.0,
 'Robert Housler_24856': 24856.0,
 'Clyde Gates_24898': 24898.0,
 'Owen Marecic_24911': 24911.0,
 'Jamie Harper_24917': 24917.0,
 'Johnny White_24920': 24920.0,
 'Nathan Enderle_24947': 24947.0,
 'Greg McElroy_24995': 24995.0,
 'DaRel Scott_25008': 25008.0,
 'Shane Bannon_25010': 25010.0,
 'Scotty McKnight_25014': 25014.0,
 'Baron Batch_25019': 25019.0,
 'Stephen Burton_25023': 25023.0,
 'Daniel Hardy_25025': 25025.0,
 'Jay Finley_25033': 25033.0,
 'Demarco Sampson_25036': 25036.0,
 'Noel Devine_25172': 25172.0,
 'John Clay_25052': 25052.0,
 'Mario Fannin_25185': 25185.0,
 'Darren Evans_25561': 25561.0,
 'Ben Chappell_25480': 25480.0,
 'Graig Cooper_25044': 25044.0,
 'Brandon Saine_25475': 25475.0,
 'DeAndre Brown_25043': 25043.0,
 'Damien Berry_25355': 25355.0,
 'Nic Grigsby_25325': 25325.0,
 'Emmanuel Arceneaux_24779': 24779.0,
 'Caleb King_25682': 25682.0,
 'Adam Froman_25329': 25329.0,
 'Demario Ballard_25620': 25620.0,
 'Isaac Odim_25165': 25165.0,
 'Josh Portis_25100': 25100.0,
 'Armond Smith_25597': 25597.0,
 'Joseph Morgan_25290': 25290.0,
 'Phillip Livas_25322': 25322.0,
 'Will Yeatman_25316': 25316.0,
 'Zack Pianalto_25394': 25394.0,
 'Kyle Adams_25070': 25070.0,
 'Colin Cochart_25450': 25450.0,
 'Collin Franklin_25298': 25298.0,
 'Mossis Madu_25254': 25254.0,
 'Ryan Mahaffey_25364': 25364.0,
 'Michael Higgins_25284': 25284.0,
 'Adam Weber_25195': 25195.0,
 'Darvin Adams_25414': 25414.0,
 'Adi Kunalic_25419': 25419.0,
 'Armando Allen_25244': 25244.0,
 'Joe Hastings_25221': 25221.0,
 'Austin Sylvester_25194': 25194.0,
 'Richard Medlin_25652': 25652.0,
 'Jarred Fayson_25279': 25279.0,
 'Jerome Messam_25702': 25702.0,
 'Diondre Borel_25458': 25458.0,
 'Eddie McGee_25410': 25410.0,
 'Tommy Gallarda_25114': 25114.0,
 'Mario Harvey_25062': 25062.0,
 'Richard Murphy_25126': 25126.0,
 'Jamie McCoy_24313': 24313.0,
 'Terrence Austin_24195': 24195.0,
 'Dedrick Epps_24210': 24210.0,
 'Ryan DImperio_24212': 24212.0,
 'Sean Canfield_24214': 24214.0,
 'Zac Robinson_24226': 24226.0,
 'Tim Toone_24231': 24231.0,
 'Shawnbrey McNeal_24488': 24488.0,
 'Jevan Snead_24232': 24232.0,
 'Stafon Johnson_24406': 24406.0,
 'Blair White_24463': 24463.0,
 'Freddie Barnes_24420': 24420.0,
 'Ryan Perrilloux_24489': 24489.0,
 'Brett Swenson_24468': 24468.0,
 'Curtis Steele_24360': 24360.0,
 'Scott Sicko_24614': 24614.0,
 'Lonyae Miller_24576': 24576.0,
 'Keith Toston_24300': 24300.0,
 'Dimitri Nance_24267': 24267.0,
 'Keiland Williams_24611': 24611.0,
 'Curtis Brinkley_23971': 23971.0,
 'Quinn Porter_24504': 24504.0,
 'Brandon James_24467': 24467.0,
 'Aaron Pettrey_24355': 24355.0,
 'Jeremy Horne_24238': 24238.0,
 'Max Hall_24281': 24281.0,
 'Mike McLaughlin_24361': 24361.0,
 'Chris Gronkowski_24601': 24601.0,
 'Max Komar_24288': 24288.0,
 'Donald Jones_24270': 24270.0,
 'Jerome Johnson_9781': 9781.0,
 'Duke Calhoun_24552': 24552.0,
 'Dominique Curry_24668': 24668.0,
 'Andre Anderson_24399': 24399.0,
 'Javarris James_24462': 24462.0,
 'Richard Goodman_24491': 24491.0,
 'Verran Tucker_24575': 24575.0,
 'Chris Brooks_24663': 24663.0,
 'Clint Stitser_23972': 23972.0,
 'Rashawn Jackson_24341': 24341.0,
 'Chastin West_24522': 24522.0,
 'Cody Slate_24732': 24732.0,
 'Manase Tonga_24392': 24392.0,
 'Joe Jon Finley_9116': 9116.0,
 'Eron Riley_9662': 9662.0,
 'Rod Windsor_24761': 24761.0,
 'Raymond Radway_25440': 25440.0,
 'Tristan Davis_9624': 9624.0,
 'Austin Signor_26622': 26622.0,
 'Aaron Hernandez_24088': 24088.0,
 'Jahvid Best_24005': 24005.0,
 'Mardy Gilyard_24074': 24074.0,
 'Jeremy Williams_24423': 24423.0,
 'Tony Pike_24180': 24180.0,
 'Shay Hodge_24330': 24330.0,
 'Jarrett Brown_24321': 24321.0,
 'Noah Shepard_24519': 24519.0,
 'Jordan Shipley_24059': 24059.0,
 'Montario Hardesty_24034': 24034.0,
 'John Skelton_24131': 24131.0,
 'Brody Eldridge_24138': 24138.0,
 'Kerry Meier_24141': 24141.0,
 'Jonathan Crompton_24144': 24144.0,
 'Dennis Morris_24150': 24150.0,
 'Charles Scott_24176': 24176.0,
 'Levi Brown_24185': 24185.0,
 'Marquez Branson_9606': 9606.0,
 'Walter Mendenhall_23974': 23974.0,
 'Herb Donaldson_9725': 9725.0,
 'Graham Harrell_24727': 24727.0,
 'Kestahn Moore_9756': 9756.0,
 'Roberto Wallace_24285': 24285.0,
 'John Matthews_9685': 9685.0,
 'Todd Carter_23973': 23973.0,
 'Jehuu Caulcrick_9096': 9096.0,
 'Taj Smith_9044': 9044.0,
 'Britt Davis_9734': 9734.0,
 'Julius Pruitt_9682': 9682.0,
 'Beanie Wells_9295': 9295.0,
 'Nate Davis_9435': 9435.0,
 'James Davis_9459': 9459.0,
 'Rhett Bomar_9415': 9415.0,
 'Pat White_9308': 9308.0,
 'Mohamed Massaquoi_9314': 9314.0,
 'Glen Coffee_9338': 9338.0,
 'Derrick Williams_9346': 9346.0,
 'Patrick Turner_9351': 9351.0,
 'Deon Butler_9355': 9355.0,
 'Juaquin Iglesias_9363': 9363.0,
 'Stephen McGee_9365': 9365.0,
 'Shawn Nelson_9385': 9385.0,
 'Anthony Hill_9386': 9386.0,
 'Gartrell Johnson_9398': 9398.0,
 'Johnny Knox_9404': 9404.0,
 'Kenny McKinley_9405': 9405.0,
 'Jarett Dillard_9408': 9408.0,
 'Davon Drew_9413': 9413.0,
 'Cornelius Ingram_9417': 9417.0,
 'Brooks Foster_9424': 9424.0,
 'John Nalbone_9425': 9425.0,
 'David Buehler_9436': 9436.0,
 'Javon Ringer_9437': 9437.0,
 'Tom Brandstater_9438': 9438.0,
 'Quinten Lawrence_9439': 9439.0,
 'Mike Teel_9442': 9442.0,
 'Aaron Brown_9456': 9456.0,
 'Keith Null_9460': 9460.0,
 'Jake Ingram_9462': 9462.0,
 'Dominique Edison_9470': 9470.0,
 'Javarris Williams_9476': 9476.0,
 'Fui Vakapuna_9479': 9479.0,
 'Eddie Williams_9485': 9485.0,
 'Demetrius Byrd_9488': 9488.0,
 'Manuel Johnson_9493': 9493.0,
 'Sammie Stroughter_9497': 9497.0,
 'Jake OConnell_9501': 9501.0,
 'Marko Mitchell_9507': 9507.0,
 'Derek Kinder_9515': 9515.0,
 'Freddie Brown_9516': 9516.0,
 'Dan Gronkowski_9519': 9519.0,
 'Devin Moore_9667': 9667.0,
 'Jeremiah Johnson_9607': 9607.0,
 'P.J. Hill_9603': 9603.0,
 'Ian Johnson_9597': 9597.0,
 'Marion Brennan_9720': 9720.0,
 'Quan Cosby_9530': 9530.0,
 'Isaac Redman_9674': 9674.0,
 'Tyrell Sutton_9587': 9587.0,
 'John Parker Wilson_9529': 9529.0,
 'Nick Miller_9546': 9546.0,
 'Jovan Belcher_9540': 9540.0,
 'Chris Jennings_9622': 9622.0,
 'Nate Jones_9213': 9213.0,
 'Charly Martin_9695': 9695.0,
 'Kahlil Bell_9701': 9701.0,
 'Rudy Carpenter_9569': 9569.0,
 'Troy Bergeron_8225': 8225.0,
 'Marcus Mailei_9634': 9634.0,
 'Kareem Huggins_9642': 9642.0,
 'Brock Bolen_9635': 9635.0,
 'Hunter Cantwell_9626': 9626.0,
 'Darius Hill_9522': 9522.0,
 'Gary Banks_9083': 9083.0,
 'Colt Brennan_8963': 8963.0,
 'Brian Brohm_8833': 8833.0,
 'John David Booty_8898': 8898.0,
 'Early Doucet_8858': 8858.0,
 'James Hardy_8818': 8818.0,
 'Malcolm Kelly_8828': 8828.0,
 'Martin Rucker_8888': 8888.0,
 'Limas Sweed_8830': 8830.0,
 'Andre Woodson_8975': 8975.0,
 'Devin Thomas_8811': 8811.0,
 'Dexter Jackson_8835': 8835.0,
 'Jacob Hester_8846': 8846.0,
 'Brad Cottam_8853': 8853.0,
 'Steve Slaton_8866': 8866.0,
 'Kevin OConnell_8871': 8871.0,
 'Will Franklin_8882': 8882.0,
 'Marcus Smith_8883': 8883.0,
 'Spergon Wynn_8887': 8887.0,
 'Tashard Choice_8902': 8902.0,
 'Arman Shields_8913': 8913.0,
 'Keenan Burton_8918': 8918.0,
 'Derek Fine_8922': 8922.0,
 'Kenneth Moore_8896': 8896.0,
 'Ryan Torain_8905': 8905.0,
 'Matt Slater_8930': 8930.0,
 'Amos Zereoue_8934': 8934.0,
 'Erik Ainge_8939': 8939.0,
 'Owen Schmitt_8940': 8940.0,
 'Marcus Thomas_8943': 8943.0,
 'Marcus Henry_8948': 8948.0,
 'Thomas Brown_8949': 8949.0,
 'Taylor Mehlhaff_8955': 8955.0,
 'Xavier Omon_8956': 8956.0,
 'Kevin Robinson_8959': 8959.0,
 'Spencer Larsen_8960': 8960.0,
 'Tyler Schmitt_8966': 8966.0,
 'Paul Hubbard_8968': 8968.0,
 'Jaymar Johnson_8970': 8970.0,
 'Tom Santi_8973': 8973.0,
 'Mike Hart_8979': 8979.0,
 'Lex Hilliard_8981': 8981.0,
 'Matt Sherry_8984': 8984.0,
 'Chauncey Washington_8990': 8990.0,
 'Justin Harper_8992': 8992.0,
 'Brett Swain_8994': 8994.0,
 'Alex Brink_9000': 9000.0,
 'Stevie Johnson_9001': 9001.0,
 'Chaz Schilens_9003': 9003.0,
 'Keith Zinger_9009': 9009.0,
 'Brandon Coutu_9012': 9012.0,
 'Adrian Arrington_9014': 9014.0,
 'Cory Boyd_9015': 9015.0,
 'Mike Merritt_9016': 9016.0,
 'Allen Patrick_9017': 9017.0,
 'Mario Urrutia_9023': 9023.0,
 'Marcus Monk_9025': 9025.0,
 'Brandon London_8578': 8578.0,
 'Anthony Alridge_9031': 9031.0,
 'Kregg Lumpkin_9038': 9038.0,
 'Mike Cox_9051': 9051.0,
 'Steven Hauschka_9066': 9066.0,
 'Michael Bumpus_9091': 9091.0,
 'Olaniyi Sobomehin_9179': 9179.0,
 'Joey Haynos_9129': 9129.0,
 'Chad Simpson_9167': 9167.0,
 'Clifton Smith_9168': 9168.0,
 'Jonathan Stupar_9171': 9171.0,
 'James Johnson_9034': 9034.0,
 'Darnell Jenkins_9134': 9134.0,
 'Louis Rankin_9155': 9155.0,
 'Lance Ball_9080': 9080.0,
 'Lynell Hamilton_9126': 9126.0,
 'Maurice Purify_9154': 9154.0,
 'Jake Allen_9076': 9076.0,
 'Albert Young_9177': 9177.0,
 'Nate Hughes_9220': 9220.0,
 'Matt Lawrence_9205': 9205.0,
 'Evan Moore_9539': 9539.0,
 'Ricky Schmitt_9225': 9225.0,
 'JaMarcus Russell_8255': 8255.0,
 'Gaines Adams_8258': 8258.0,
 'Dwayne Jarrett_8299': 8299.0,
 'Kenny Irons_8303': 8303.0,
 'Buster Davis_8284': 8284.0,
 'Anthony Gonzalez_8286': 8286.0,
 'Steve Smith_8305': 8305.0,
 'Tony Hunt_8344': 8344.0,
 'Johnnie Lee Higgins_8353': 8353.0,
 'Troy Smith_8428': 8428.0,
 'Antonio Pittman_8361': 8361.0,
 'Paul Williams_8334': 8334.0,
 'Lorenzo Booker_8325': 8325.0,
 'Chansi Stuckey_8489': 8489.0,
 'David Clowney_8411': 8411.0,
 'Josh Huston_8528': 8528.0,
 'Aaron Barret_8253': 8253.0,
 'John Beck_8294': 8294.0,
 'Chris Henry_8304': 8304.0,
 'Brandon Jackson_8317': 8317.0,
 'Yamon Figurs_8328': 8328.0,
 'Laurent Robinson_8329': 8329.0,
 'Jason Hill_8330': 8330.0,
 'Mike Sims-Walker_8333': 8333.0,
 'Garrett Wolfe_8347': 8347.0,
 'Isaiah Stanback_8357': 8357.0,
 'Dwayne Wright_8365': 8365.0,
 'Ryne Robinson_8372': 8372.0,
 'Kareem Brown_8381': 8381.0,
 'Chris Davis_8382': 8382.0,
 'Martrez Milner_8387': 8387.0,
 'Steve Breaston_8396': 8396.0,
 'Aundrae Allison_8400': 8400.0,
 'Kolby Smith_8402': 8402.0,
 'Jeff Rowe_8405': 8405.0,
 'Kevin Boss_8407': 8407.0,
 'Justin Medlock_8414': 8414.0,
 'Roy Hall_8423': 8423.0,
 'Legedu Naanee_8426': 8426.0,
 'Oren ONeal_8429': 8429.0,
 'Reagan Mauia_8435': 8435.0,
 'Thomas Clayton_8440': 8440.0,
 'Joel Filani_8442': 8442.0,
 'Michael Wiley_8444': 8444.0,
 'Korey Hall_8445': 8445.0,
 'Deon Anderson_8449': 8449.0,
 'Courtney Taylor_8451': 8451.0,
 'Justise Hairston_8462': 8462.0,
 'Jordan Kent_8464': 8464.0,
 'Ben Patrick_8469': 8469.0,
 'Tyler Ecker_8470': 8470.0,
 'Derek Schouman_8476': 8476.0,
 'Dallas Baker_8481': 8481.0,
 'DeShawn Wynn_8482': 8482.0,
 'John Broussard_8483': 8483.0,
 'Michael Allan_8485': 8485.0,
 'Chandler Williams_8487': 8487.0,
 'Syndric Steptoe_8488': 8488.0,
 'Nate Ilaoa_8490': 8490.0,
 'Jason Snelling_8498': 8498.0,
 'Kenneth Darby_8500': 8500.0,
 'Derek Stanley_8503': 8503.0,
 'Johnathan Holland_8508': 8508.0,
 'Gary Russell_8530': 8530.0,
 'Selvin Young_8523': 8523.0,
 'Clifton Dawson_8541': 8541.0,
 'Matt Gutierrez_8539': 8539.0,
 'Biren Ealy_8540': 8540.0,
 'Daniel Coats_8542': 8542.0,
 'Marcus Freeman_8543': 8543.0,
 'Cody Boyd_8555': 8555.0,
 'Tyler Palko_8639': 8639.0,
 'Michael Matthews_8569': 8569.0,
 'Tim Castille_8549': 8549.0,
 'Charles Ali_8546': 8546.0,
 'Matt Willis_8627': 8627.0,
 'Darius Walker_8646': 8646.0,
 'Gilbert Harris_8681': 8681.0,
 'D.J. Ware_8524': 8524.0,
 'D.D. Terry_8514': 8514.0,
 'Logan Payne_8678': 8678.0,
 'Brett Ratliff_8622': 8622.0,
 'Marcus Mason_8557': 8557.0,
 'Gijon Robinson_8661': 8661.0,
 'Maurice Price_9035': 9035.0,
 'Buck Ortega_8082': 8082.0,
 'Darrell Hackney_8673': 8673.0,
 'Dominique Zeigler_8671': 8671.0,
 'Alonzo Coleman_8572': 8572.0,
 'Stefan Logan_9559': 9559.0,
 'Matt Leinart_7759': 7759.0,
 'Laurence Maroney_7770': 7770.0,
 'Joseph Addai_7779': 7779.0,
 'Chad Jackson_7785': 7785.0,
 'Sinorice Moss_7793': 7793.0,
 'LenDale White_7794': 7794.0,
 'Joe Klopfenstein_7795': 7795.0,
 'Leonard Pope_7821': 7821.0,
 'Brian Calhoun_7823': 7823.0,
 'Travis Wilson_7827': 7827.0,
 'Jerious Norwood_7828': 7828.0,
 'Brandon Williams_7833': 7833.0,
 'Brodie Croyle_7834': 7834.0,
 'Dave Thomas_7835': 7835.0,
 'Maurice Stovall_7839': 7839.0,
 'Dominique Byrd_7842': 7842.0,
 'Willie Reid_7844': 7844.0,
 'Garrett Mills_7855': 7855.0,
 'Demetrius Williams_7860': 7860.0,
 'Skyler Green_7874': 7874.0,
 'Floyd Turner_7878': 7878.0,
 'P.J. Daniels_7881': 7881.0,
 'Kevin Turner_7890': 7890.0,
 'Marques Hagans_7893': 7893.0,
 'Jerome Harrison_7894': 7894.0,
 'Jeremy Bloom_7896': 7896.0,
 'Ingle Martin_7897': 7897.0,
 'Jason Pociask_7899': 7899.0,
 'Jeff King_7904': 7904.0,
 'David Kirtman_7912': 7912.0,
 'Omar Jacobs_7913': 7913.0,
 'Quinn Sypniewski_7915': 7915.0,
 'Charles Davis_7916': 7916.0,
 'Wali Lundy_7919': 7919.0,
 'Mike Hass_7920': 7920.0,
 'Jonathan Orr_7921': 7921.0,
 'Lawrence Vickers_7929': 7929.0,
 'Adam Jennings_7933': 7933.0,
 'Kurt Smith_7937': 7937.0,
 'Jeff Webb_7939': 7939.0,
 'Reggie McNeal_7942': 7942.0,
 'J.D. Runnels_7944': 7944.0,
 'Mike Vanderjagt_7950': 7950.0,
 'T.J. Williams_7951': 7951.0,
 'Todd Watkins_7967': 7967.0,
 'D.J. Shockley_7972': 7972.0,
 'Michael Vick_7973': 7973.0,
 'Bennie Brazell_7980': 7980.0,
 'Devin Aromashodu_7982': 7982.0,
 'Cedric Humes_7989': 7989.0,
 'Tim Massaquoi_7993': 7993.0,
 'Quinton Ganther_7995': 7995.0,
 'Ben Obomanu_7998': 7998.0,
 'David Anderson_8000': 8000.0,
 'Kevin McMahan_8004': 8004.0,
 'Mike Bell_8008': 8008.0,
 'Hank Baskett_8010': 8010.0,
 'Sam Hurd_8024': 8024.0,
 'Patrick Cobbs_8011': 8011.0,
 'Diamond Ferri_7739': 7739.0,
 'Shaun Bodiford_8047': 8047.0,
 'Jason Carter_8116': 8116.0,
 'Devale Ellis_8093': 8093.0,
 'Chris Hannon_8035': 8035.0,
 'Derrick Ross_8037': 8037.0,
 'John Madsen_8043': 8043.0,
 'Ahmard Hall_8041': 8041.0,
 'Jason Rader_7618': 7618.0,
 'Marquis Weeks_7662': 7662.0,
 'Marcus Vick_8007': 8007.0,
 'Chris Francies_8095': 8095.0,
 'Glenn Holt_8076': 8076.0,
 'Brian Clark_8090': 8090.0,
 'P.J. Pope_8073': 8073.0,
 'Kay-Jay Harris_7616': 7616.0,
 'Zac Alcorn_8094': 8094.0,
 'Mike Espy_8163': 8163.0,
 'Charles Sharon_8108': 8108.0,
 'Naufahu Tahi_8078': 8078.0,
 'Wallace Wright_8134': 8134.0,
 'Chris Taylor_8101': 8101.0,
 'Cory Ross_8015': 8015.0,
 'Brett Basanez_8066': 8066.0,
 'Anthony Sherrell_8224': 8224.0,
 'Cooper Wallace_8162': 8162.0,
 'Andy Thorn_7653': 7653.0,
 'Stacy Tutt_8133': 8133.0,
 'Steven I Jackson_8068': 8068.0,
 'William Buchanon_8136': 8136.0,
 'Martin Nance_8118': 8118.0,
 'Darcy Johnson_8127': 8127.0,
 'James Sims_8129': 8129.0,
 'Jamaal Branch_8122': 8122.0,
 'Quinton Porter_8099': 8099.0,
 'Anthony Mix_8128': 8128.0,
 'Ryan Grant_7635': 7635.0,
 'Greg Estandia_8105': 8105.0,
 'Jason Davis_8582': 8582.0,
 'Spencer Havner_8177': 8177.0,
 'Eldra Buckley_8685': 8685.0,
 'Josh Davis_7627': 7627.0,
 'Braylon Edwards_7179': 7179.0,
 'Cedric Benson_7180': 7180.0,
 'Carnell Williams_7181': 7181.0,
 'Troy Williamson_7183': 7183.0,
 'Matt Jones_7197': 7197.0,
 'Mark Clayton_7198': 7198.0,
 'Reggie Brown_7211': 7211.0,
 'Mark Bradley_7215': 7215.0,
 'J.J. Arrington_7220': 7220.0,
 'Eric Shelton_7230': 7230.0,
 'Roscoe Parrish_7231': 7231.0,
 'Darrent Williams_7232': 7232.0,
 'Terrence Murphy_7234': 7234.0,
 'Charlie Frye_7243': 7243.0,
 'Andrew Walter_7245': 7245.0,
 'Vernand Morency_7249': 7249.0,
 'Ryan Moats_7253': 7253.0,
 'Chris Henry_7259': 7259.0,
 'David Greene_7261': 7261.0,
 'Kevin Everett_7262': 7262.0,
 'Brandon Jones_7272': 7272.0,
 'Maurice Clarett_7277': 7277.0,
 'Marion Barber_7285': 7285.0,
 'Brandon Jacobs_7286': 7286.0,
 'Tony Stewart_7287': 7287.0,
 'Ciatrick Fason_7288': 7288.0,
 'Jerome Mathis_7290': 7290.0,
 'Craphonso Thorpe_7292': 7292.0,
 'Chase Lyman_7294': 7294.0,
 'Manuel White_7296': 7296.0,
 'Stefan Lefors_7297': 7297.0,
 'J.J. Stokes_7302': 7302.0,
 'Alvin Pearman_7303': 7303.0,
 'Fred Gibson_7307': 7307.0,
 'Roydell Williams_7312': 7312.0,
 'Boomer Grigsby_7314': 7314.0,
 'Airese Currie_7316': 7316.0,
 'Damien Nash_7318': 7318.0,
 'Jerome Collins_7320': 7320.0,
 'Pete Stoyanovich_7326': 7326.0,

In [36]:
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN

In [37]:
master_raw = master_raw[((master_raw['stats_id'] < 101000) & (master_raw['stats_id'] > 3720)) | (master_raw['stats_id'].isna())]

In [38]:
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN

In [39]:
master_raw[master_raw['name'] == 'Antwane Wells']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN

In [40]:
master_raw.loc[(master_raw['match_key'].isin(updated_yahoo_maps.keys())) & (master_raw['mapped_ids'].isna()), 'mapped_ids'] = master_raw.loc[(master_raw['match_key'].isin(updated_yahoo_maps.keys())) & (master_raw['mapped_ids'].isna()), 'match_key'].map(updated_yahoo_maps)

In [41]:
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>,NaN

In [42]:
master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5432 entries, 0 to 12143
Data columns (total 38 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            5432 non-null   int64
 1   sportradar_id     3263 non-null   object
 2   fantasypros_id    2489 non-null   float64
 3   gsis_id           3339 non-null   object
 4   pff_id            3146 non-null   float64
 5   sleeper_id        2844 non-null   float64
 6   nfl_id            3091 non-null   float64
 7   espn_id           3457 non-null   float64
 8   yahoo_id          2684 non-null   float64
 9   fleaflicker_id    493 non-null    float64
 10  cbs_id            4130 non-null   float64
 11  pfr_id            3917 non-null   object
 12  cfbref_id         2171 non-null   object
 13  rotowire_id       4749 non-null   float64
 14  rotoworld_id      3257 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4339 non-null   float64
 17  stats_global_id   5380 non-null   float64
 18  fantasy_data_id   2513 non-null   float64
 19  swish_id          1466 non-null   float64
 20  name              5432 non-null   object
 21  merge_name        5432 non-null   object
 22  position          5432 non-null   object
 23  team              5432 non-null   object
 24  birthdate         4889 non-null   object
 25  age               4889 non-null   float64
 26  draft_year        5380 non-null   float64
 27  draft_round       2830 non-null   float64
 28  draft_pick        2782 non-null   float64
 29  draft_ovr         2514 non-null   float64
 30  twitter_username  1009 non-null   object
 31  height            4981 non-null   float64
 32  weight            5161 non-null   float64
 33  college           5155 non-null   object
 34  db_season         5432 non-null   int64
 35  cleaned_name      5432 non-null   object
 36  match_key         5432 non-null   object
 37  mapped_ids        4339 non-null   float64
dtypes: float64(23), int64(2), object(13)
memory usage: 1.6+ MB

In [43]:
master_raw[~master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,41980.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer,Sean Brewer_<NA>,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien,Doug Brien_<NA>,NaN
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham,Jeremy Brigham_<NA>,NaN
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby,Vincent Brisby_<NA>,NaN
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister,Bubby Brister_<NA>,NaN

In [43]:
master_raw[master_raw['name'] == 'Travis Hunter']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,41787.0

In [82]:
master_raw['mapped_ids'].isna().sum()

np.int64(1192)

In [84]:
((master_raw['mapped_ids'].isna()) & (master_raw['stats_id'].isna())).sum()

np.int64(1093)

In [85]:
master_cln_raw = master_raw.copy()

In [86]:
master_cln_raw.loc[(master_cln_raw['mapped_ids'].isna()) & (master_cln_raw['stats_id'].notna()), 'mapped_ids'] = master_cln_raw.loc[(master_cln_raw['mapped_ids'].isna()) & (master_cln_raw['stats_id'].notna()), 'stats_id']

In [87]:
master_cln_raw.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,match_key,mapped_ids
0,17030,3c76cab3-3df2-43dd-acaa-57e055bd32d0,24755.0,00-0040676,133244.0,12522.0,58203.0,4688380.0,NaN,NaN,3168422.0,WardCa00,NaN,16997.0,NaN,1730.0,41786.0,0.0,25323.0,NaN,Cam Ward,cam ward,QB,TEN,2002-05-25,23.4,2025.0,1.0,1.0,1.0,NaN,74.0,219.0,Miami (FL),2025,Cam Ward_41786,41786.0
1,17031,270e09bc-8bf8-44b0-87ed-1fd014de4ab7,25968.0,00-0040668,131396.0,12524.0,58349.0,4432762.0,NaN,NaN,26710004.0,SandSh00,NaN,18479.0,NaN,1731.0,41930.0,0.0,26079.0,NaN,Shedeur Sanders,shedeur sanders,QB,CLE,2002-02-07,23.7,2025.0,5.0,6.0,144.0,NaN,74.0,212.0,Colorado,2025,Shedeur Sanders_41930,41930.0
2,17032,53848cba-bcad-4cd0-bb35-0a1f6ed111d1,23160.0,00-0040691,146409.0,12508.0,58227.0,4689114.0,NaN,NaN,26694019.0,DartJa00,NaN,18574.0,NaN,1732.0,41810.0,0.0,26082.0,NaN,Jaxson Dart,jaxson dart,QB,NYG,2003-05-13,22.4,2025.0,1.0,25.0,25.0,NaN,74.0,223.0,Ole Miss,2025,Jaxson Dart_41810,41810.0
3,17033,b0eb5b67-4ef2-462d-bfe7-e73bcce1f6b0,22884.0,00-0040673,146590.0,12510.0,58297.0,4432734.0,NaN,NaN,26694943.0,MilrJa00,NaN,18477.0,NaN,1733.0,41882.0,0.0,25882.0,NaN,Jalen Milroe,jalen milroe,QB,SEA,2002-12-13,22.8,2025.0,3.0,28.0,92.0,NaN,74.0,216.0,Alabama,2025,Jalen Milroe_41882,41882.0
4,17034,d89f0384-21a6-44e4-8aa6-324cb2103bf6,23680.0,00-0040234,127253.0,12500.0,58436.0,4889929.0,NaN,NaN,26746721.0,EwerQu00,NaN,18505.0,NaN,1734.0,42037.0,0.0,26048.0,NaN,Quinn Ewers,quinn ewers,QB,MIA,2003-05-13,22.4,2025.0,7.0,15.0,231.0,NaN,74.0,209.0,Texas,2025,Quinn Ewers_42037,42037.0

In [88]:
master_cln_raw[master_cln_raw['name'] == 'Ollie Gordon']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,match_key,mapped_ids
29,17059,42753bb4-a416-4d40-bf81-f20d2181be2f,25984.0,00-0040198,157792.0,12495.0,58384.0,4711533.0,NaN,NaN,28873887.0,GordOl00,NaN,18450.0,NaN,1759.0,41969.0,0.0,25953.0,NaN,Ollie Gordon,ollie gordon,RB,MIA,2004-01-15,21.8,2025.0,6.0,3.0,179.0,NaN,74.0,225.0,Oklahoma State,2025,Ollie Gordon_41969,41969.0

In [94]:
master_cln_raw[(master_cln_raw['mapped_ids'].isna()) & (master_cln_raw['match_key'].str.contains('<NA>'))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery_<NA>,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe_<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer_<NA>,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien_<NA>,NaN
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham_<NA>,NaN
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby_<NA>,NaN
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister_<NA>,NaN

In [ ]:
# master_cln_raw.loc[master_cln_raw['mapped_ids'].isna(), 'mapped_ids'] = master_cln_raw.loc[master_cln_raw['mapped_ids'].isna(), 'name'].map(yahoo_id_maps)

In [93]:
master_cln_raw[(master_cln_raw['mapped_ids'].isna())]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery_<NA>,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe_<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer_<NA>,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien_<NA>,NaN
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham_<NA>,NaN
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby_<NA>,NaN
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister_<NA>,NaN

In [95]:
# Create name cleaning funciton
def clean_name(name):
    if pd.isna(name) or name is None:
        return name
    return re.sub(r'\s+(Jr\.?|Sr\.?|III|II|IV|V)(\s|$|,)', '', str(name), flags=re.IGNORECASE).strip()

In [96]:
# create function to cehck if dupes will be created and list where
def check_cleaning_duplicates(original_dict, clean_function):
    """Check if cleaning will create duplicate keys"""
    
    # Map: cleaned_name -> list of original names
    cleaned_to_original = defaultdict(list)
    
    for original_name in original_dict.keys():
        cleaned = clean_function(original_name)
        cleaned_to_original[cleaned].append(original_name)
    
    # Find cleaned names that have multiple originals
    duplicates = {k: v for k, v in cleaned_to_original.items() if len(v) > 1}
    
    if duplicates:
        print(f"Found {len(duplicates)} names that will become duplicates after cleaning:\n")
        for cleaned_name, original_names in duplicates.items():
            print(f'{cleaned_name}')
            for orig in original_names:
                print(f"    - '{orig}' (ID: {original_dict[orig]})")
            print()
        return duplicates
    else:
        print("No duplicates will be created after cleaning")
        return {}

In [98]:
yahoo_id_maps

{'Adam Vinatieri_3727': 3727,
 'Tony Gonzalez_3950': 3950,
 'Peyton Manning_4256': 4256,
 'Phil Dawson_4269': 4269,
 'Matt Hasselbeck_4416': 4416,
 'David Akers_4587': 4587,
 'Sebastian Janikowski_5046': 5046,
 'Tom Brady_5228': 5228,
 'Mike Leach_5381': 5381,
 'Rian Lindell_5388': 5388,
 'Jay Feely_5447': 5447,
 'Michael Vick_5448': 5448,
 'Santana Moss_5463': 5463,
 'Reggie Wayne_5477': 5477,
 'Drew Brees_5479': 5479,
 'Steve Smith_5521': 5521,
 'Shayne Graham_5854': 5854,
 'Josh McCown_5967': 5967,
 'David Garrard_5994': 5994,
 'Billy Cundiff_6154': 6154,
 'Shaun Hill_6169': 6169,
 'Matt Bryant_6243': 6243,
 'Carson Palmer_6337': 6337,
 'Andre Johnson_6339': 6339,
 'Rex Grossman_6358': 6358,
 'Willis McGahee_6359': 6359,
 'Dallas Clark_6360': 6360,
 'Anquan Boldin_6390': 6390,
 'Jason Witten_6405': 6405,
 'Nate Burleson_6407': 6407,
 'Brandon Lloyd_6460': 6460,
 'Josh Brown_6558': 6558,
 'Tony Romo_6624': 6624,
 'Antonio Gates_6663': 6663,
 'Kassim Osgood_6664': 6664,
 'Eli Manning_6760': 6760,
 'Larry Fitzgerald_6762': 6762,
 'Philip Rivers_6763': 6763,
 'Kellen Winslow_6765': 6765,
 'Ben Roethlisberger_6770': 6770,
 'Steven Jackson_6783': 6783,
 'Benjamin Watson_6791': 6791,
 'Greg Jones_6814': 6814,
 'Ben Hartsock_6827': 6827,
 'Matt Schaub_6849': 6849,
 'Luke McCown_6865': 6865,
 'Jerricho Cotchery_6867': 6867,
 'Josh Scobee_6896': 6896,
 'Wes Welker_7027': 7027,
 'Vonta Leach_7139': 7139,
 'Malcom Floyd_7149': 7149,
 'Alex Smith_7177': 7177,
 'Ronnie Brown_7178': 7178,
 'Aaron Rodgers_7200': 7200,
 'Jason Campbell_7201': 7201,
 'Roddy White_7203': 7203,
 'Heath Miller_7206': 7206,
 'Mike Nugent_7223': 7223,
 'Vincent Jackson_7237': 7237,
 'Frank Gore_7241': 7241,
 'Courtney Roby_7244': 7244,
 'Alex Smith_7247': 7247,
 'Kyle Orton_7282': 7282,
 'Darren Sproles_7306': 7306,
 'Dan Orlovsky_7321': 7321,
 'Joel Dreessen_7374': 7374,
 'Derek Anderson_7389': 7389,
 'Matt Cassel_7406': 7406,
 'Ryan Fitzpatrick_7426': 7426,
 'Rob Bironas_7434': 7434,
 'Josh Cribbs_7448': 7448,
 'Nate Washington_7492': 7492,
 'Nick Novak_7505': 7505,
 'Robbie Gould_7520': 7520,
 'Shaun Suisham_7527': 7527,
 'Lance Moore_7544': 7544,
 'John Kuhn_7695': 7695,
 'Reggie Bush_7751': 7751,
 'Vince Young_7752': 7752,
 'Vernon Davis_7755': 7755,
 'Jay Cutler_7760': 7760,
 'Santonio Holmes_7774': 7774,
 'DeAngelo Williams_7776': 7776,
 'Marcedes Lewis_7777': 7777,
 'Kellen Clemens_7798': 7798,
 'Greg Jennings_7801': 7801,
 'Anthony Fasano_7802': 7802,
 'Devin Hester_7806': 7806,
 'Maurice Jones-Drew_7809': 7809,
 'Tony Scheffler_7810': 7810,
 'Tarvaris Jackson_7813': 7813,
 'Charlie Whitehurst_7830': 7830,
 'Derek Hagan_7831': 7831,
 'Owen Daniels_7847': 7847,
 'Michael Robinson_7849': 7849,
 'Brad Smith_7852': 7852,
 'Jason Avant_7858': 7858,
 'Leon Washington_7866': 7866,
 'Stephen Gostkowski_7867': 7867,
 'Brandon Marshall_7868': 7868,
 'Domenik Hixon_7879': 7879,
 'Delanie Walker_7924': 7924,
 'Bruce Gradkowski_7943': 7943,
 'Marques Colston_8001': 8001,
 'Miles Austin_8021': 8021,
 'Daniel Fells_8028': 8028,
 'Montell Owens_8040': 8040,
 'Micheal Spurlock_8054': 8054,
 'Fred Jackson_8063': 8063,
 'Calvin Johnson_8256': 8256,
 'Adrian Peterson_8261': 8261,
 'Ted Ginn Jr._8263': 8263,
 'Marshawn Lynch_8266': 8266,
 'Brady Quinn_8276': 8276,
 'Dwayne Bowe_8277': 8277,
 'Robert Meachem_8281': 8281,
 'Greg Olsen_8285': 8285,
 'Kevin Kolb_8290': 8290,
 'Zach Miller_8292': 8292,
 'Drew Stanton_8297': 8297,
 'Sidney Rice_8298': 8298,
 'Brian Leonard_8306': 8306,
 'Jacoby Jones_8327': 8327,
 'Matt Spaeth_8331': 8331,
 'James Jones_8332': 8332,
 'Trent Edwards_8346': 8346,
 'Michael Bush_8354': 8354,
 'Scott Chandler_8383': 8383,
 "Le'Ron McClain_8391": 8391,
 'Dante Rosario_8409': 8409,
 'Brent Celek_8416': 8416,
 'Nick Folk_8432': 8432,
 'Mason Crosby_8447': 8447,
 'Jordan Palmer_8459': 8459,
 'Tyler Thigpen_8471': 8471,
 'Clark Harris_8497': 8497,
 'Ahmad Bradshaw_8504': 8504,
 'Matt Moore_8544': 8544,
 'Pierre Thomas_8561': 8561,
 'Matt Prater_8565': 8565,
 'Eric Weems_8609': 8609,
 'Jackie Battle_8739': 8739,
 'Matt Ryan_8780': 8780,
 'Darren McFadden_8781': 8781,
 'Jonathan Stewart_8790': 8790,
 'Joe Flacco_8795': 8795,
 'Felix Jones_8799': 8799,
 'Rashard Mendenhall_8800': 8800,
 'Chris Johnson_8801': 8801,
 'Dustin Keller_8807': 8807,
 'Donnie Avery_8810': 8810,
 'Jordy Nelson_8813': 8813,
 'John Carlson_8815': 8815,
 'Eddie Royal_8819': 8819,
 'Matt Forte_8821': 8821,
 'Jerome Simpson_8823': 8823,
 'Fred Davis_8825': 8825,
 'DeSean Jackson_8826': 8826,
 'Ray Rice_8832': 8832,
 'Chad Henne_8834': 8834,
 'Martellus Bennett_8838': 8838,
 'Kevin Smith_8841': 8841,
 'Earl Bennett_8847': 8847,
 'Jamaal Charles_8850': 8850,
 'Harry Douglas_8861': 8861,
 'Craig Stevens_8862': 8862,
 'Jermichael Finley_8868': 8868,
 'Mario Manningham_8872': 8872,
 'Andre Caldwell_8874': 8874,
 'Gary Barnidge_8907': 8907,
 'Jerome Felton_8912': 8912,
 'Lavelle Hawkins_8914': 8914,
 'Jacob Tamme_8916': 8916,
 'Matthew Slater_8930': 8930,
 'Dennis Dixon_8933': 8933,
 'Kellen Davis_8935': 8935,
 'Josh Johnson_8937': 8937,
 'Josh Morgan_8951': 8951,
 'Jalen Parmele_8953': 8953,
 'Pierre Garcon_8982': 8982,
 'Matt Flynn_8986': 8986,
 'Steve Johnson_9001': 9001,
 'Peyton Hillis_9004': 9004,
 'Justin Forsett_9010': 9010,
 'Davone Bess_9030': 9030,
 'Dan Carpenter_9032': 9032,
 'Caleb Hanie_9033': 9033,
 'Danny Amendola_9037': 9037,
 'BenJarvus Green-Ellis_9039': 9039,
 'Mike Tolbert_9043': 9043,
 'Stephen Hauschka_9066': 9066,
 'Anthony Armstrong_9077': 9077,
 'Jed Collins_9098': 9098,
 'Matthew Mulligan_9149': 9149,
 'Marcel Reece_9158': 9158,
 'Darius Reynaud_9161': 9161,
 'Connor Barth_9219': 9219,
 'Garrett Hartley_9222': 9222,
 'Matthew Stafford_9265': 9265,
 'Mark Sanchez_9269': 9269,
 'Darrius Heyward-Bey_9271': 9271,
 'Michael Crabtree_9274': 9274,
 'Knowshon Moreno_9276': 9276,
 'Josh Freeman_9281': 9281,
 'Jeremy Maclin_9283': 9283,
 'Brandon Pettigrew_9284': 9284,
 'Percy Harvin_9286': 9286,
 'Donald Brown_9291': 9291,
 'Hakeem Nicks_9293': 9293,
 'Kenny Britt_9294': 9294,
 'Brian Robiskie_9300': 9300,
 'LeSean McCoy_9317': 9317,
 'Richard Quinn_9328': 9328,
 'Shonn Greene_9329': 9329,
 'Brandon Tate_9347': 9347,
 'Mike Wallace_9348': 9348,
 'Ramses Barden_9349': 9349,
 'Jared Cook_9353': 9353,
 'Chase Coffman_9362': 9362,
 'Travis Beckum_9364': 9364,
 'Mike Thomas_9371': 9371,
 'Brian Hartline_9372': 9372,
 'Mike Goodson_9375': 9375,
 'Louis Murphy_9388': 9388,
 'Austin Collie_9391': 9391,
 'Tony Fiammetta_9392': 9392,
 'Andre Brown_9393': 9393,
 'Quinn Johnson_9409': 9409,
 'James Casey_9416': 9416,
 'Frank Summers_9433': 9433,
 'Zach Miller_9444': 9444,
 'Bear Pascoe_9448': 9448,
 'Cedric Peerman_9449': 9449,
 'Brandon Gibson_9458': 9458,
 'Curtis Painter_9465': 9465,
 'Brandon Myers_9466': 9466,
 'John Phillips_9472': 9472,
 'Bernard Scott_9473': 9473,
 'Chris Ogbonnaya_9475': 9475,
 'Julian Edelman_9496': 9496,
 'LaRod Stephens-Howling_9504': 9504,
 'David Johnson_9505': 9505,
 'Cameron Morrah_9512': 9512,
 'Rashad Jennings_9514': 9514,
 'Tiquan Underwood_9517': 9517,
 'Ryan Succop_9520': 9520,
 'Graham Gano_9526': 9526,
 'Arian Foster_9527': 9527,
 'Kevin Ogletree_9534': 9534,
 'Brian Hoyer_9547': 9547,
 'Danny Woodhead_9560': 9560,
 "Will Ta'ufo'ou_9563": 9563,
 'Chris Pressley_9566': 9566,
 'Tom Crabtree_9613': 9613,
 'Josh Vaughan_9639': 9639,
 'Darrel Young_9666': 9666,
 'Kory Sheets_9671': 9671,
 'Chase Daniel_9678': 9678,
 'Kory Sperry_9694': 9694,
 'Kevin Brock_9699': 9699,
 'Zach Potter_9702': 9702,
 'Jordan Norwood_9705': 9705,
 'Antone Smith_9707': 9707,
 'Chris Williams_9729': 9729,
 'Chad Hall_23966': 23966,
 'Sam Bradford_23976': 23976,
 'C.J. Spiller_23984': 23984,
 'Ryan Mathews_23987': 23987,
 'Jermaine Gresham_23996': 23996,
 'Demaryius Thomas_23997': 23997,
 'Dez Bryant_23999': 23999,
 'Dexter McCluster_24011': 24011,
 'Arrelious Benn_24014': 24014,
 'Rob Gronkowski_24017': 24017,
 'Jimmy Clausen_24023': 24023,
 'Toby Gerhart_24026': 24026,
 'Ben Tate_24033': 24033,
 'Golden Tate_24035': 24035,
 'Ed Dickson_24045': 24045,
 'Damian Williams_24052': 24052,
 'Brandon LaFell_24053': 24053,
 'Emmanuel Sanders_24057': 24057,
 'Colt McCoy_24060': 24060,
 'Eric Decker_24062': 24062,
 'Andre Roberts_24063': 24063,
 'Armanti Edwards_24064': 24064,
 'Taylor Price_24065': 24065,
 'Tony Moeaki_24068': 24068,
 'Jimmy Graham_24070': 24070,
 'Mike Williams_24076': 24076,
 'Marcus Easley_24082': 24082,
 'Jacoby Ford_24083': 24083,
 'Joe McKnight_24087': 24087,
 'Dennis Pitta_24089': 24089,
 'Garrett Graham_24093': 24093,
 'Mike Kafka_24097': 24097,
 'Clay Harbor_24100': 24100,
 'Michael Hoomanawanui_24108': 24108,
 'John Conner_24115': 24115,
 'Andrew Quarless_24130': 24130,
 'David Reed_24132': 24132,
 'Riley Cooper_24135': 24135,
 'Fendi Onobun_24146': 24146,
 'Anthony Dixon_24149': 24149,
 'Rusty Smith_24152': 24152,
 'Deji Karim_24156': 24156,
 'Nate Byham_24158': 24158,
 'Anthony McCoy_24161': 24161,
 'Jonathan Dwyer_24164': 24164,
 'Dezmon Briscoe_24167': 24167,
 'James Starks_24169': 24169,
 'Antonio Brown_24171': 24171,
 'Trindon Holliday_24173': 24173,
 'David Gettis_24174': 24174,
 'Joe Webb III_24175': 24175,
 'Kyle Williams_24182': 24182,
 'Mickey Shuler_24190': 24190,
 'Marc Mariani_24198': 24198,
 'Dorin Dickerson_24203': 24203,
 'Jim Dray_24208': 24208,
 'Jameson Konz_24220': 24220,
 'Erik Lorig_24229': 24229,
 'Joique Bell_24262': 24262,
 'Michael Palmer_24271': 24271,
 'David Nelson_24272': 24272,
 'Naaman Roosevelt_24273': 24273,
 'Marlon Moore_24280': 24280,
 'Alfonso Smith_24287': 24287,
 'Stephen Williams_24289': 24289,
 'Jeff Cumberland_24303': 24303,
 'Thaddeus Lewis_24311': 24311,
 'LeGarrette Blount_24318': 24318,
 'Nathan Overbay_24370': 24370,
 'Preston Parker_24373': 24373,
 'Jeron Mastrud_24379': 24379,
 'Chris Ivory_24400': 24400,
 'Richie Brockel_24431': 24431,
 'Seyi Ajirotutu_24435': 24435,
 'Bryan Walters_24436': 24436,
 'Steve Maneri_24453': 24453,
 'Mike Caussin_24473': 24473,
 'Jake Ballard_24550': 24550,
 'Victor Cruz_24553': 24553,
 'Logan Paulsen_24608': 24608,
 'Isaiah Williams_24696': 24696,
 'Andy Tanner_24701': 24701,
 'Will Tukuafu_24735': 24735,
 'Harvey Unga_24743': 24743,
 'Teddy Williams_24746': 24746,
 'Danario Alexander_24757': 24757,
 'James Develin_24760': 24760,
 'Tyler Clutts_24769': 24769,
 'Andrew Hawkins_24774': 24774,
 'Cam Newton_24788': 24788,
 'A.J. Green_24791': 24791,
 'Julio Jones_24793': 24793,
 'Jake Locker_24795': 24795,
 'Blaine Gabbert_24797': 24797,
 'Christian Ponder_24799': 24799,
 'Jon Baldwin_24813': 24813,
 'Mark Ingram II_24815': 24815,
 'Andy Dalton_24822': 24822,
 'Colin Kaepernick_24823': 24823,
 'Ryan Williams_24825': 24825,
 'Kyle Rudolph_24830': 24830,
 'Lance Kendricks_24834': 24834,
 'Shane Vereen_24843': 24843,
 'Mikel Leshoure_24844': 24844,
 'Torrey Smith_24845': 24845,
 'Greg Little_24846': 24846,
 'Daniel Thomas_24849': 24849,
 'Randall Cobb_24851': 24851,
 'Rob Housler_24856': 24856,
 'DeMarco Murray_24858': 24858,
 'Stevan Ridley_24860': 24860,
 'Ryan Mallett_24861': 24861,
 'Austin Pettis_24865': 24865,
 'Leonard Hankerson_24866': 24866,
 'Vincent Brown_24869': 24869,
 'Jerrel Jernigan_24870': 24870,
 'Alex Green_24883': 24883,
 'Jordan Cameron_24889': 24889,
 'Luke Stocker_24891': 24891,
 'Roy Helu_24892': 24892,
 'Kris Durham_24894': 24894,
 'Edmond Gates_24898': 24898,
 'Greg Salas_24899': 24899,
 'Cecil Shorts_24901': 24901,
 'Kendall Hunter_24902': 24902,
 'Delone Carter_24906': 24906,
 'Alex Henery_24907': 24907,
 'Tandon Doss_24910': 24910,
 'Bilal Powell_24913': 24913,
 'Julius Thomas_24916': 24916,
 'Kealoha Pilares_24919': 24919,
 'Ricky Stanzi_24922': 24922,
 'Anthony Sherman_24923': 24923,
 'D.J. Williams_24928': 24928,
 'Jacquizz Rodgers_24932': 24932,
 'Denarius Moore_24935': 24935,
 'Dion Lewis_24936': 24936,
 'T.J. Yates_24939': 24939,
 'Jeremy Kerley_24940': 24940,
 'Niles Paul_24942': 24942,
 'Lee Smith_24946': 24946,
 'Ryan Whalen_24954': 24954,
 'Charles Clay_24961': 24961,
 'Dwayne Harris_24963': 24963,
 'Evan Royster_24964': 24964,
 'Aldrick Robinson_24965': 24965,
 'Tyrod Taylor_24967': 24967,
 'Richard Gordon_24968': 24968,
 'Ronald Johnson_24969': 24969,
 'Jordan Todman_24970': 24970,
 'Virgil Green_24991': 24991,
 'Bruce Miller_24998': 24998,
 'Ryan Taylor_25005': 25005,
 'Shaun Chapas_25007': 25007,
 'Anthony Allen_25012': 25012,
 'Stanley Havili_25027': 25027,
 'David Ausberry_25028': 25028,
 'DeMarco Sampson_25036': 25036,
 'Jerrod Johnson_25046': 25046,
 'Martell Webb_25050': 25050,
 'Weslye Saunders_25056': 25056,
 'Robert Hughes_25077': 25077,
 'Andre Smith_25084': 25084,
 'Doug Baldwin_25105': 25105,
 'Ricardo Lockette_25106': 25106,
 'Armon Binns_25107': 25107,
 'DuJuan Harris_25117': 25117,
 'Dontrelle Inman_25120': 25120,
 'Raymond Webber_25123': 25123,
 'Kyle Miller_25125': 25125,
 'Jamar Newsome_25127': 25127,
 'Michael Preston_25144': 25144,
 'Kris Adams_25146': 25146,
 'Dane Sanzenbacher_25151': 25151,
 'Patrick DiMarco_25158': 25158,
 'Scott Tolzien_25171': 25171,
 'Chad Spann_25175': 25175,
 'Chris Hogan_25178': 25178,
 'William Powell_25209': 25209,
 'Allen Reisner_25230': 25230,
 'Andre Holmes_25234': 25234,
 'Matt Asiata_25238': 25238,
 'Mike Higgins_25284': 25284,
 'Joe Morgan_25290': 25290,
 'Kyle Nelson_25291': 25291,
 'Michael Campbell_25296': 25296,
 'Eric Kettani_25303': 25303,
 'Jeremy Ross_25312': 25312,
 'Josh Baker_25317': 25317,
 'Pat Devlin_25323': 25323,
 'Drew Davis_25324': 25324,
 'Brett Brackett_25331': 25331,
 'Patrick Scales_25370': 25370,
 'LaQuan Williams_25375': 25375,
 'Kamar Aiken_25379': 25379,
 'Dan Bailey_25427': 25427,
 'Phillip Tanner_25444': 25444,
 'Tori Gurley_25464': 25464,
 'Kerry Taylor_25479': 25479,
 'Shaun Draughn_25481': 25481,
 'McLeod Bethel-Thompson_25483': 25483,
 'Marcus Harris_25493': 25493,
 'Jake Rogers_25503': 25503,
 'Henry Hynoski_25505': 25505,
 'Lestar Jean_25525': 25525,
 'Jeff Maehl_25526': 25526,
 'Terrence Toliver_25530': 25530,
 'David Gilreath_25562': 25562,
 'Mike McNeill_25566': 25566,
 'Chris Matthews_25594': 25594,
 'Kai Forbath_25648': 25648,
 'Chase Reynolds_25650': 25650,
 'Kevin Cone_25658': 25658,
 'Greg Orton_25677': 25677,
 'Terrelle Pryor Sr._25681': 25681,
 'Marcus Thigpen_25694': 25694,
 'Larry Donnell_25703': 25703,
 'Will Johnson_25706': 25706,
 'Andre Hardy_25708': 25708,
 'Andrew Luck_25711': 25711,
 'Robert Griffin III_25712': 25712,
 'Trenton Richardson_25713': 25713,
 'Justin Blackmon_25715': 25715,
 'Ryan Tannehill_25718': 25718,
 'Michael Floyd_25723': 25723,
 'Kendall Wright_25730': 25730,
 'Brandon Weeden_25732': 25732,
 'A.J. Jenkins_25740': 25740,
 'Doug Martin_25741': 25741,
 'David Wilson_25742': 25742,
 'Brian Quick_25743': 25743,
 'Coby Fleener_25744': 25744,
 'Stephen Hill_25753': 25753,
 'Alshon Jeffery_25755': 25755,
 'Isaiah Pead_25760': 25760,
 'Ryan Broyles_25764': 25764,
 'Brock Osweiler_25767': 25767,
 'LaMichael James_25771': 25771,
 'Rueben Randle_25773': 25773,
 'Dwayne Allen_25774': 25774,
 'Ronnie Hillman_25777': 25777,
 'DeVier Posey_25778': 25778,
 'Trevor Graham_25779': 25779,
 'Russell Wilson_25785': 25785,
 'Michael Egnew_25788': 25788,
 'Mohamed Sanu_25793': 25793,
 'Bernard Pierce_25794': 25794,
 'Nick Foles_25798': 25798,
 'T.Y. Hilton_25802': 25802,
 'Chris Givens_25806': 25806,
 'Lamar Miller_25807': 25807,
 'Travis Benjamin_25810': 25810,
 'Kirk Cousins_25812': 25812,
 'Joe Adams_25814': 25814,
 'Robert Turbin_25816': 25816,
 'Devon Wylie_25817': 25817,
 'Ladarius Green_25820': 25820,
 'Evan Rodriguez_25821': 25821,
 'Orson Charles_25826': 25826,
 'Jarius Wright_25828': 25828,
 'Keshawn Martin_25831': 25831,
 'Nick Toon_25832': 25832,
 'Adrien Robinson_25837': 25837,
 'Rhett Ellison_25838': 25838,
 'Taylor Thompson_25855': 25855,
 'Danny Coale_25862': 25862,
 'Bradie Ewing_25867': 25867,
 'Chris Rainey_25869': 25869,
 'Randy Bullock_25871': 25871,
 'Marvin Jones Jr._25876': 25876,
 'Juron Criner_25878': 25878,
 'Vick Ballard_25880': 25880,
 'Greg Zuerlein_25881': 25881,
 'Alfred Morris_25883': 25883,
 'Blair Walsh_25885': 25885,
 'Cyrus Gray_25892': 25892,
 'B.J. Cunningham_25893': 25893,
 'Ryan Lindley_25895': 25895,
 'James Hanna_25896': 25896,
 'Dan Herron_25901': 25901,
 'Marvin McNutt_25904': 25904,
 'Tommy Streeter_25908': 25908,
 'LaVon Brazill_25916': 25916,
 'Michael Smith_25922': 25922,
 'Rishard Matthews_25937': 25937,
 'Bryce Brown_25939': 25939,
 'Toney Clemons_25941': 25941,
 'Jeremy Ebert_25945': 25945,
 'Junior Hemingway_25948': 25948,
 'David Paulson_25950': 25950,
 'Brad Smelley_25957': 25957,
 'Edwin Baker_25960': 25960,
 'John Potter_25961': 25961,
 'Daryl Richardson_25962': 25962,
 'Chandler Harnish_25963': 25963,
 'Alvester Alexander_25964': 25964,
 'Brittan Golden_25970': 25970,
 'Chris Summers_25973': 25973,
 'Gerell Robinson_25984': 25984,
 'Eric Page_25987': 25987,
 'Phil Bates_25988': 25988,
 'Jermaine Kearse_25991': 25991,
 'Sean McGrath_25992': 25992,
 'Carson Wiggs_25997': 25997,
 'Chase Ford_26000': 26000,
 'Emil Igwenagu_26002': 26002,
 'Damaris Johnson_26004': 26004,
 'Chris Polk_26006': 26006,
 'Jeremy Stewart_26007': 26007,
 'Brandon Barden_26013': 26013,
 'Beau Brinkley_26016': 26016,
 'Jake Byrne_26021': 26021,
 'Travaris Cadet_26024': 26024,
 'Nick Stephens_26025': 26025,
 'Chris Givens_26033': 26033,
 'Cole Beasley_26060': 26060,
 'Tim Benford_26061': 26061,
 'Lance Dunbar_26064': 26064,
 'Saalim Hakim_26066': 26066,
 'Andrew Szczerba_26076': 26076,
 'Joe Banyard_26079': 26079,
 'Jarrett Boykin_26083': 26083,
 'Kevin Elliott_26087': 26087,
 'Matt Veldman_26095': 26095,
 'Brenton Bersin_26096': 26096,
 'Jared Green_26099': 26099,
 'Tauren Poole_26103': 26103,
 'Josh Bellamy_26108': 26108,
 'Matt Szymanski_26121': 26121,
 'Laron Byrd_26135': 26135,
 'G.J. Kinne_26154': 26154,
 'Dominique Davis_26162': 26162,
 'Mike Willie_26202': 26202,
 'Dominique Jones_26203': 26203,
 'Jabin Sambrano_26216': 26216,
 'Griff Whalen_26218': 26218,
 'Collin Mooney_26233': 26233,
 'Bryce Davis_26239': 26239,
 'Kashif Moore_26245': 26245,
 'Garrett Celek_26253': 26253,
 'Jewel Hampton_26255': 26255,
 'Chris Owusu_26261': 26261,
 'Nathan Palmer_26262': 26262,
 'Giorgio Tavecchio_26264': 26264,
 'Brian Tyms_26266': 26266,
 'Jonas Gray_26273': 26273,
 'Lance Lewis_26282': 26282,
 'Derek Moye_26289': 26289,
 'Jerrell Jackson_26292': 26292,
 'Dwight Jones_26293': 26293,
 'Derrick Coleman_26299': 26299,
 'Kamar Jorden_26304': 26304,
 'Matt Simms_26317': 26317,
 'Mike Brown_26335': 26335,
 'Austin Davis_26346': 26346,
 'Cory Harkey_26347': 26347,
 'Josh Cooper_26368': 26368,
 'Derek Dimke_26384': 26384,
 'Pat Edwards_26385': 26385,
 'Brandon Bolden_26389': 26389,
 'Kellen Moore_26399': 26399,
 'Julian Talley_26403': 26403,
 'Derek Carrier_26416': 26416,
 'Rod Streater_26428': 26428,
 'Dale Moss_26433': 26433,
 'Bobby Rainey_26455': 26455,
 'Deonte Thompson_26456': 26456,
 'Matt Blanchard_26463': 26463,
 'Jourdan Brooks_26474': 26474,
 'Case Keenum_26483': 26483,
 'Jonathan Grimes_26488': 26488,
 'Davin Meggett_26493': 26493,
 'Phillip Supernaw_26497': 26497,
 'Cooper Helfet_26518': 26518,
 'Danny Hrapmann_26531': 26531,
 'Justin Tucker_26534': 26534,
 'Jamize Olawale_26535': 26535,
 'Brandon Bostick_26538': 26538,
 'Alex Tanney_26547': 26547,
 'Jorvorskie Lane_26548': 26548,
 'Lamont Bryant_26552': 26552,
 'Josh Gordon_26561': 26561,
 'Andrew DePaola_26583': 26583,
 'Jeff Demps_26591': 26591,
 'Fozzy Whittaker_26596': 26596,
 'Austin Johnson_26601': 26601,
 'James Shaw_26608': 26608,
 'Darren Fells_26612': 26612,
 'Ifeanyi Momah_26614': 26614,
 'Dallas Walker_26619': 26619,
 'Tavon Austin_26631': 26631,
 'E.J. Manuel_26639': 26639,
 'Tyler Eifert_26644': 26644,
 'DeAndre Hopkins_26650': 26650,
 'Cordarrelle Patterson_26652': 26652,
 'Justin Hunter_26657': 26657,
 'Zach Ertz_26658': 26658,
 'Giovani Bernard_26660': 26660,
 'Geno Smith_26662': 26662,
 'Robert Woods_26664': 26664,
 'Gavin Escobar_26670': 26670,
 "Le'Veon Bell_26671": 26671,
 'Vance McDonald_26678': 26678,
 'Montee Ball_26681': 26681,

In [97]:
# Run function

check_cleaning_duplicates(yahoo_id_maps, clean_name)

No duplicates will be created after cleaning

{}

In [ ]:
# Create mapping with cleaned names
cln_yahoo_id_maps = {clean_name(key): value for key, value in yahoo_id_maps.items()}

In [ ]:

# Add ID maps woth standardized names
master_cln_raw.loc[master_cln_raw['mapped_ids'].isna(), 'mapped_ids'] = master_cln_raw.loc[master_cln_raw['mapped_ids'].isna(), 'name'].map(cln_yahoo_id_maps)

In [37]:
cln_yahoo_id_maps['Rob Bironas']

7434

In [38]:
master_cln_raw[master_cln_raw['name'] == 'Rob Bironas']

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, mapped_ids]
Index: []

In [ ]:
master_cln_raw[master_cln_raw['mapped_ids'].isna()]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,NaN
370,16602,NaN,NaN,NaN,NaN,11578.0,NaN,NaN,NaN,NaN,3169578.0,NaN,NaN,17857.0,NaN,NaN,NaN,0.0,NaN,NaN,Miyan Williams,miyan williams,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,69.0,226.0,Ohio State,2025,NaN
1084,15700,NaN,NaN,NaN,NaN,8216.0,NaN,NaN,NaN,NaN,2966363.0,NaN,NaN,15970.0,NaN,NaN,NaN,0.0,NaN,NaN,Kaleb Eleby,kaleb eleby,QB,FA,2000-03-13,23.0,2022.0,NaN,NaN,NaN,NaN,73.0,208.0,Western Michigan,2025,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,NaN
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,NaN
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,NaN
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,NaN

:

:

In [ ]:
master_cln_raw[master_cln_raw ['name'] == 'Travis Hunter']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,99001.0

:

:

In [ ]:
# Any missing yahoo ID values are now because those players were not in the yahoo ID Set, can drop these rows
master_cln_raw = master_cln_raw.dropna(subset=['mapped_ids'])
master_cln_raw['mapped_ids'] = master_cln_raw['mapped_ids'].astype(int)
master_cln_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4472 entries, 0 to 12138
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4472 non-null   int64
 1   sportradar_id     3261 non-null   object
 2   fantasypros_id    2487 non-null   float64
 3   gsis_id           3345 non-null   object
 4   pff_id            3142 non-null   float64
 5   sleeper_id        2837 non-null   float64
 6   nfl_id            3089 non-null   float64
 7   espn_id           3464 non-null   float64
 8   yahoo_id          2679 non-null   float64
 9   fleaflicker_id    495 non-null    float64
 10  cbs_id            4150 non-null   float64
 11  pfr_id            3608 non-null   object
 12  cfbref_id         1906 non-null   object
 13  rotowire_id       4326 non-null   float64
 14  rotoworld_id      3275 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4438 non-null   float64
 17  stats_global_id   4469 non-null   float64
 18  fantasy_data_id   2508 non-null   float64
 19  swish_id          1466 non-null   float64
 20  name              4472 non-null   object
 21  merge_name        4472 non-null   object
 22  position          4472 non-null   object
 23  team              4472 non-null   object
 24  birthdate         4417 non-null   object
 25  age               4417 non-null   float64
 26  draft_year        4469 non-null   float64
 27  draft_round       2311 non-null   float64
 28  draft_pick        2303 non-null   float64
 29  draft_ovr         2206 non-null   float64
 30  twitter_username  976 non-null    object
 31  height            4342 non-null   float64
 32  weight            4448 non-null   float64
 33  college           4443 non-null   object
 34  db_season         4472 non-null   int64
 35  mapped_ids        4472 non-null   int64
dtypes: float64(22), int64(3), object(11)
memory usage: 1.3+ MB

:

:

In [ ]:
master_cln_raw.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,mapped_ids
0,17030,3c76cab3-3df2-43dd-acaa-57e055bd32d0,24755.0,00-0040676,133244.0,12522.0,58203.0,4688380.0,NaN,NaN,3168422.0,WardCa00,NaN,16997.0,NaN,1730.0,41786.0,0.0,25323.0,NaN,Cam Ward,cam ward,QB,TEN,2002-05-25,23.4,2025.0,1.0,1.0,1.0,NaN,74.0,219.0,Miami (FL),2025,41786
1,17031,270e09bc-8bf8-44b0-87ed-1fd014de4ab7,25968.0,00-0040668,131396.0,12524.0,58349.0,4432762.0,NaN,NaN,26710004.0,SandSh00,NaN,18479.0,NaN,1731.0,41930.0,0.0,26079.0,NaN,Shedeur Sanders,shedeur sanders,QB,CLE,2002-02-07,23.7,2025.0,5.0,6.0,144.0,NaN,74.0,212.0,Colorado,2025,41930
2,17032,53848cba-bcad-4cd0-bb35-0a1f6ed111d1,23160.0,00-0040691,146409.0,12508.0,58227.0,4689114.0,NaN,NaN,26694019.0,DartJa00,NaN,18574.0,NaN,1732.0,41810.0,0.0,26082.0,NaN,Jaxson Dart,jaxson dart,QB,NYG,2003-05-13,22.4,2025.0,1.0,25.0,25.0,NaN,74.0,223.0,Ole Miss,2025,41810
3,17033,b0eb5b67-4ef2-462d-bfe7-e73bcce1f6b0,22884.0,00-0040673,146590.0,12510.0,58297.0,4432734.0,NaN,NaN,26694943.0,MilrJa00,NaN,18477.0,NaN,1733.0,41882.0,0.0,25882.0,NaN,Jalen Milroe,jalen milroe,QB,SEA,2002-12-13,22.8,2025.0,3.0,28.0,92.0,NaN,74.0,216.0,Alabama,2025,41882
4,17034,d89f0384-21a6-44e4-8aa6-324cb2103bf6,23680.0,00-0040234,127253.0,12500.0,58436.0,4889929.0,NaN,NaN,26746721.0,EwerQu00,NaN,18505.0,NaN,1734.0,42037.0,0.0,26048.0,NaN,Quinn Ewers,quinn ewers,QB,MIA,2003-05-13,22.4,2025.0,7.0,15.0,231.0,NaN,74.0,209.0,Texas,2025,42037

:

:

In [ ]:
master_cln_raw.loc[master_cln_raw['stats_id'].isna(), 'stats_id'] = master_cln_raw.loc[master_cln_raw['stats_id'].isna(), 'mapped_ids']

:

:

In [ ]:
master_cln_raw['stats_id'].isna().sum()

np.int64(0)

:

:

In [ ]:
master_cln_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4472 entries, 0 to 12138
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4472 non-null   int64
 1   sportradar_id     3261 non-null   object
 2   fantasypros_id    2487 non-null   float64
 3   gsis_id           3345 non-null   object
 4   pff_id            3142 non-null   float64
 5   sleeper_id        2837 non-null   float64
 6   nfl_id            3089 non-null   float64
 7   espn_id           3464 non-null   float64
 8   yahoo_id          2679 non-null   float64
 9   fleaflicker_id    495 non-null    float64
 10  cbs_id            4150 non-null   float64
 11  pfr_id            3608 non-null   object
 12  cfbref_id         1906 non-null   object
 13  rotowire_id       4326 non-null   float64
 14  rotoworld_id      3275 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4472 non-null   float64
 17  stats_global_id   4469 non-null   float64
 18  fantasy_data_id   2508 non-null   float64
 19  swish_id          1466 non-null   float64
 20  name              4472 non-null   object
 21  merge_name        4472 non-null   object
 22  position          4472 non-null   object
 23  team              4472 non-null   object
 24  birthdate         4417 non-null   object
 25  age               4417 non-null   float64
 26  draft_year        4469 non-null   float64
 27  draft_round       2311 non-null   float64
 28  draft_pick        2303 non-null   float64
 29  draft_ovr         2206 non-null   float64
 30  twitter_username  976 non-null    object
 31  height            4342 non-null   float64
 32  weight            4448 non-null   float64
 33  college           4443 non-null   object
 34  db_season         4472 non-null   int64
 35  mapped_ids        4472 non-null   int64
dtypes: float64(22), int64(3), object(11)
memory usage: 1.3+ MB

:

:

In [ ]:
master_cln_raw['stats_id'].nunique()

4442

:

:

In [ ]:
master_cln_raw[master_cln_raw['stats_id'].duplicated(keep=False)].sort_values(by='stats_id').head(60)

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,mapped_ids
9231,3291,aae6d92e-5f28-43ee-b0dc-522e80e99f76,9507.0,00-0010346,327.0,294.0,2501863.0,1428.0,4256.0,NaN,12531.0,MannPe00,peyton-manning-1,902.0,1493.0,NaN,4256.0,24375.0,7328.0,NaN,Peyton Manning,peyton manning,QB,FA,1976-03-24,45.1,1998.0,1.0,1.0,1.0,NaN,77.0,230.0,Tennessee,2025,4256
10556,5274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4256.0,0.0,NaN,NaN,Peyton Manning,peyton manning,QB,IND,NaN,NaN,1987.0,NaN,NaN,NaN,NaN,73.0,218.0,Pittsburgh,2025,4256
9844,3852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4416.0,0.0,NaN,NaN,Matt Hasselbeck,matt hasselbeck,QB,SEA,NaN,NaN,1995.0,6.0,5.0,NaN,NaN,NaN,NaN,California,2025,4416
9358,3445,7d8eba61-208d-4d91-86cd-704ad05cb7f4,9439.0,00-0007091,408.0,36.0,2501078.0,1575.0,4416.0,NaN,12429.0,HassMa00,matt-hasselbeck-1,949.0,519.0,NaN,4416.0,24535.0,1034.0,NaN,Matt Hasselbeck,matt hasselbeck,QB,FA,1975-09-25,45.6,1998.0,6.0,34.0,187.0,Hasselbeck,76.0,235.0,Boston College,2025,4416
9384,3579,8259ba2b-d4ae-4290-964f-903fa09b1c4f,NaN,00-0000108,295.0,NaN,2499370.0,1716.0,NaN,NaN,1666.0,akersdav01,NaN,1052.0,721.0,NaN,4587.0,24706.0,NaN,NaN,David Akers,david akers,PK,FA,1974-12-09,46.4,1998.0,NaN,NaN,NaN,NaN,70.0,200.0,Louisville,2025,4587
12056,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4587.0,NaN,NaN,NaN,David Akers,david akers,PK,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,4587
10191,4392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5046.0,0.0,NaN,NaN,Sebastian Janikowski,sebastian janikowski,PK,OAK,NaN,NaN,1992.0,7.0,24.0,NaN,NaN,NaN,NaN,Houston,2025,5046
8799,5666,480277d1-47c9-44df-969e-038a84cd0fea,9560.0,00-0019646,595.0,118.0,2504257.0,2148.0,5046.0,NaN,187389.0,janikseb01,sebastian-janikowski-1,1299.0,819.0,NaN,5046.0,25165.0,3253.0,NaN,Sebastian Janikowski,sebastian janikowski,PK,FA,1978-03-02,43.2,2000.0,1.0,17.0,17.0,NaN,73.0,260.0,Florida State,2025,5046
8960,5848,41c44740-d0f6-44ab-8347-3b5d515e5ecf,9603.0,00-0019596,698.0,167.0,2504211.0,2330.0,5228.0,309.0,187741.0,BradTo00,tom-brady-1,1350.0,1163.0,NaN,5228.0,25347.0,4314.0,25347.0,Tom Brady,tom brady,QB,FA,1977-08-03,48.2,2000.0,6.0,33.0,199.0,NaN,76.0,225.0,Michigan,2025,5228
12135,948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5228.0,NaN,NaN,NaN,Tom Brady,tom brady,QB,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,5228
10383,6004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5463.0,0.0,NaN,NaN,Santana Moss,santana moss,WR,NYJ,NaN,NaN,1990.0,2.0,16.0,NaN,NaN,NaN,NaN,Notre Dame,2025,5463
8570,4907,8cef3644-bd81-4645-b5d0-0a15ea8d6548,9556.0,00-0020494,786.0,69.0,2504743.0,2564.0,5463.0,1328.0,235234.0,MossSa00,santana-moss-1,2207.0,867.0,NaN,5463.0,25582.0,1944.0,NaN,Santana Moss,santana moss,WR,FA,1979-06-01,41.9,2001.0,1.0,16.0,16.0,EIGHTTODANINE,70.0,193.0,Miami (Fla.),2025,5463
8585,4925,bb5957e6-ce7d-47ab-8036-22191ffc1c44,9200.0,00-0020531,802.0,289.0,2504775.0,2580.0,5479.0,NaN,235197.0,BreeDr00,drew-brees-1,2178.0,591.0,NaN,5479.0,25598.0,7242.0,NaN,Drew Brees,drew brees,QB,FA,1979-01-15,46.1,2001.0,2.0,1.0,32.0,drewbrees,72.0,209.0,Purdue,2025,5479
12138,966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5479.0,NaN,NaN,NaN,Drew Brees,drew brees,QB,SDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,5479
9620,2706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BrowRe00,reggie-brown-7,NaN,NaN,NaN,7211.0,0.0,NaN,NaN,Reggie Brown,reggie brown,RB,FA,1973-06-26,47.9,1996.0,3.0,30.0,91.0,NaN,72.0,244.0,Fresno State,2025,42478
7612,7847,NaN,NaN,00-0023470,2252.0,NaN,29862.0,8449.0,NaN,3029.0,407234.0,BrowRe01,reggie-brown-2,4408.0,3180.0,NaN,7211.0,0.0,NaN,NaN,Reggie Brown,reggie brown,WR,FA,1981-01-13,40.3,2005.0,2.0,3.0,35.0,NaN,73.0,197.0,Georgia,2025,42478
10419,1146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7211.0,0.0,NaN,NaN,Reggie Brown,reggie brown,RB,SEA,NaN,NaN,1989.0,3.0,7.0,NaN,NaN,76.0,234.0,Iowa,2025,42478
5029,11409,be08946a-31ea-46da-b572-19c1e1948d14,11840.0,00-0030113,7998.0,1530.0,2541147.0,15885.0,26839.0,NaN,2057693.0,JohnCh08,NaN,8913.0,8615.0,NaN,26839.0,386696.0,15141.0,NaN,Charles Johnson,charles johnson,WR,PHI,1989-02-27,32.2,2013.0,7.0,10.0,216.0,NaN,74.0,215.0,Grand Valley St,2025,26839
9872,1350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnCh00,charles-e-johnson-1,525.0,NaN,NaN,26839.0,0.0,NaN,NaN,Charles Johnson,charles johnson,WR,FA,1972-01-03,49.3,1994.0,1.0,17.0,17.0,NaN,72.0,189.0,Colorado,2025,26839
10290,4512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26839.0,0.0,NaN,NaN,Charles Johnson,charles johnson,WR,FA,NaN,NaN,1991.0,3.0,14.0,NaN,NaN,NaN,NaN,Colorado,2025,26839
9146,4030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnMa00,malcolm-johnson-1,1186.0,NaN,NaN,28583.0,0.0,NaN,NaN,Malcolm Johnson,malcolm johnson,WR,FA,1977-08-27,43.7,1999.0,5.0,33.0,166.0,NaN,76.0,210.0,Notre Dame,2025,28583
10304,4593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28583.0,0.0,NaN,NaN,Malcolm Johnson,malcolm johnson,WR,PIT,NaN,NaN,1991.0,9.0,5.0,NaN,NaN,NaN,NaN,Arkansas State,2025,28583
4179,12345,96b38cbb-4709-4c5f-89c7-f9fd7fa77a95,14091.0,00-0032068,9628.0,2496.0,2553446.0,2516316.0,28583.0,NaN,2174190.0,JohnMa06,malcolm-johnson-2,10480.0,10569.0,NaN,28583.0,555630.0,16955.0,NaN,Malcolm Johnson,malcolm johnson,RB,SFO,1992-08-11,28.7,2015.0,6.0,19.0,195.0,NaN,73.0,231.0,Mississippi State,2025,28583
11290,5546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30827.0,734314.0,NaN,NaN,Reggie Davis,reggie davis,TE,FA,1976-09-03,44.7,0.0,NaN,NaN,NaN,NaN,72.0,170.0,Washington,2025,30827
3425,13436,3411b31b-9800-4f5b-a43f-4564c9530627,NaN,00-0033815,48079.0,4681.0,45676.0,3043134.0,30827.0,NaN,2820499.0,DaviRe01,NaN,12146.0,12914.0,NaN,30827.0,734314.0,19582.0,NaN,Reggie Davis,reggie davis,WR,CHI,1995-11-22,25.5,2017.0,NaN,NaN,NaN,NaN,71.0,185.0,Georgia,2025,30827
2866,13776,bdb77276-7191-4454-85c2-e1693a33d709,17603.0,00-0034386,66915.0,5374.0,46213.0,3118892.0,31114.0,NaN,2137198.0,WatsJu01,NaN,12746.0,13208.0,NaN,31114.0,832220.0,19922.0,832220.0,Justin Watson,justin watson,WR,HOU,1996-04-04,29.5,2018.0,5.0,7.0,144.0,NaN,74.0,215.0,Pennsylvania,2025,31114
11273,5528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1290.0,NaN,NaN,31114.0,0.0,NaN,NaN,Justin Watson,justin watson,RB,FA,1975-01-07,46.3,0.0,NaN,NaN,NaN,NaN,NaN,225.0,San Diego State,2025,31114
10352,1708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WarrCh00,chris-warren-2,573.0,NaN,NaN,31514.0,0.0,NaN,NaN,Chris Warren,chris warren,RB,FA,NaN,NaN,1990.0,4.0,8.0,89.0,NaN,74.0,225.0,NaN,2025,31514
2817,13725,86b05ebc-a22f-46a4-b521-67cc0b1fa206,18058.0,00-0034315,35977.0,5587.0,46540.0,3929855.0,31514.0,NaN,2092162.0,WarrCh01,NaN,12867.0,13683.0,NaN,31514.0,884299.0,20588.0,NaN,Chris Warren,chris warren,RB,FA,1996-06-06,24.9,2018.0,NaN,NaN,NaN,NaN,74.0,246.0,Texas,2025,31514
10001,1622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SmitIr00,irv-smith-1,NaN,NaN,NaN,31882.0,0.0,NaN,NaN,Irv Smith,irv smith,TE,FA,1971-10-13,49.6,1993.0,1.0,20.0,20.0,NaN,75.0,246.0,Notre Dame,2025,31882
2321,14141,ed0e6a30-83d5-4f4b-bf49-f7ff80e21304,18610.0,00-0034970,42060.0,6126.0,47833.0,4040980.0,31882.0,NaN,2257888.0,SmitIr01,irv-smith-jr-1,13583.0,14052.0,NaN,31882.0,944428.0,20949.0,944428.0,Irv Smith,irv smith,TE,FA,1998-08-09,27.2,2019.0,2.0,18.0,50.0,NaN,74.0,242.0,Alabama,2025,31882
2503,14329,adcd3d89-a2f8-4bd1-adfe-8e47bf42ea4d,18956.0,00-0035019,34698.0,6261.0,48116.0,3121225.0,32244.0,NaN,3116826.0,WhitRe01,NaN,13926.0,14495.0,NaN,32244.0,830113.0,21196.0,NaN,Reggie White Jr.,reggie white,WR,FA,1996-03-10,25.2,2019.0,NaN,NaN,NaN,NaN,74.0,212.0,Monmouth,2025,32244
11476,6480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32244.0,0.0,NaN,NaN,Reggie White,reggie white,RB,FA,1979-07-11,41.8,0.0,NaN,NaN,NaN,NaN,72.0,228.0,Oklahoma State,2025,32244
2370,14192,495651ef-1a14-42be-9f6a-40385a428dd8,NaN,00-0027452,NaN,6169.0,NaN,3884368.0,32368.0,NaN,2180416.0,NaN,NaN,13549.0,14225.0,NaN,32368.0,868331.0,21081.0,NaN,James Williams,james williams,RB,FA,1996-05-17,29.4,2019.0,NaN,NaN,NaN,NaN,72.0,205.0,Washington State,2025,32368
8939,5824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WillJa01,james-williams-5,1344.0,NaN,NaN,32368.0,0.0,NaN,NaN,James Williams,james williams,WR,FA,1978-03-06,43.2,2000.0,6.0,9.0,175.0,NaN,71.0,185.0,Marshall,2025,32368
10206,4494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32482.0,0.0,NaN,NaN,Anthony Johnson,anthony johnson,RB,FA,NaN,NaN,1992.0,12.0,26.0,NaN,NaN,NaN,NaN,Virginia Tech,2025,32482
2299,14119,e0dc9dce-fe33-4092-b6bd-6af3cbcb762e,18263.0,00-0035474,41706.0,5929.0,48618.0,4049301.0,32482.0,NaN,2258536.0,NaN,NaN,13788.0,14143.0,NaN,32482.0,945145.0,20830.0,945145.0,Anthony Johnson,anthony johnson,WR,FA,1995-01-29,27.1,2019.0,NaN,NaN,NaN,NaN,74.0,209.0,Buffalo,2025,32482
10336,1348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnAn00,anthony-johnson-5,NaN,NaN,NaN,32482.0,0.0,NaN,NaN,Anthony Johnson,anthony johnson,RB,FA,NaN,NaN,1990.0,2.0,11.0,36.0,NaN,74.0,304.0,Notre Dame,2025,32482
1142,15759,2995df34-ee81-4320-be1e-1c497b83c927,22895.0,00-0037614,97400.0,8147.0,54509.0,4567096.0,33999.0,NaN,3121171.0,MetcJo00,john-metchie-1,16069.0,NaN,NaN,34063.0,0.0,23160.0,1160348.0,John Metchie,john metchie,WR,PHI,2000-07-18,25.2,2022.0,2.0,12.0,44.0,NaN,72.0,195.0,Alabama,2025,34063
1100,15717,5d4ef6da-a6b5-4d9c-adc0-28dfdbe9315e,22947.0,00-0037258,83659.0,8129.0,54572.0,4360238.0,34063.0,NaN,2964236.0,PierDa01,dameon-pierce-1,15875.0,NaN,1207.0,34063.0,0.0,23223.0,1108998.0,Dameon Pierce,dameon pierce,RB,HOU,2000-02-19,25.7,2022.0,4.0,2.0,107.0,NaN,70.0,215.0,Florida,2025,34063
11081,3564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34581.0,0.0,NaN,NaN,Rodney Williams,rodney williams,WR,FA,1973-08-15,47.7,0.0,NaN,NaN,NaN,NaN,NaN,185.0,Arizona,2025,34581
1470,16524,e480b9d0-d254-11ec-b16e-cf7159baf83d,24820.0,NaN,NaN,8757.0,NaN,4250969.0,34581.0,NaN,2262718.0,NaN,NaN,16480.0,NaN,NaN,34581.0,0.0,NaN,948705.0,Rodney Williams,rodney williams,TE,FA,1998-04-08,26.9,2022.0,NaN,NaN,NaN,NaN,76.0,235.0,Tennessee-Martin,2025,34581
749,16203,c634c231-61fb-4725-8533-2cce14bfebbf,25336.0,00-0038576,55038.0,10228.0,55996.0,4257188.0,40158.0,NaN,2868959.0,JoneCh11,charlie-jones-7,16719.0,NaN,NaN,40158.0,0.0,24122.0,1067132.0,Charlie Jones,charlie jones,WR,CIN,1998-10-29,27.0,2023.0,4.0,29.0,131.0,NaN,72.0,190.0,Purdue,2025,40158
10314,4644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40158.0,0.0,NaN,NaN,Charlie Jones,charlie jones,WR,SDC,NaN,NaN,1991.0,11.0,10.0,NaN,NaN,NaN,NaN,UCLA,2025,40158
9634,2725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JoneCh00,charlie-jones-4,NaN,NaN,NaN,40158.0,0.0,NaN,NaN,Charlie Jones,charlie jones,WR,FA,1972-12-01,48.4,1996.0,4.0,19.0,114.0,NaN,68.0,175.0,Fresno State,2025,40158
9839,3828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844.0,NaN,40893.0,0.0,NaN,NaN,Marvin Harrison,marvin harrison,WR,IND,1973-08-26,47.7,1995.0,2.0,17.0,NaN,NaN,75.0,315.0,TCU,2025,40893
382,16614,e8da21a8-796d-48a2-b644-57d08983ae01,23064.0,00-0039849,145056.0,11628.0,57125.0,4432708.0,40893.0,NaN,26701883.0,HarrMa09,marvin-harrison-jr-1,17674.0,NaN,1585.0,40893.0,0.0,24974.0,1287828.0,Marvin Harrison Jr.,marvin harrison,WR,ARI,2002-08-11,23.2,2024.0,1.0,4.0,4.0,NaN,75.0,220.0,Ohio State,2025,40893
9469,2992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnLe00,leon-johnson-1,809.0,NaN,NaN,41140.0,0.0,NaN,NaN,Leon Johnson,leon johnson,RB,FA,1974-07-13,46.8,1997.0,4.0,8.0,104.0,NaN,NaN,215.0,North Carolina,2025,41140
10301,4578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41140.0,0.0,NaN,NaN,Leon Johnson,leon johnson,RB,NYJ,NaN,NaN,1991.0,8.0,6.0,NaN,NaN,NaN,NaN,Nebraska,2025,41140
8909,5793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WileMi00,michael-wiley-1,1343.0,NaN,NaN,41234.0,0.0,NaN,NaN,Michael Wiley,michael wiley,RB,FA,1978-01-05,43.3,2000.0,5.0,15.0,144.0,NaN,71.0,185.0,Ohio State,2025,41234
578,16811,f2734220-0668-11ef-9381-bf0dc2a6d127,26380.0,00-0039684,98617.0,11943.0,57825.0,4569156.0,41234.0,NaN,3128079.0,WileMi01,NaN,17670.0,NaN,NaN,41234.0,0.0,25108.0,1179244.0,Michael Wiley,michael wiley,RB,TBB,2000-11-10,24.9,2024.0,NaN,NaN,NaN,NaN,72.0,209.0,Arizona,2025,41234
69,17099,6af50530-145a-4b34-946d-ce1a7f7d3166,25997.0,00-0040189,144046.0,12493.0,58370.0,4595342.0,NaN,NaN,26727374.0,GadsOr01,NaN,18481.0,NaN,1799.0,41951.0,0.0,25876.0,NaN,Oronde Gadsden,oronde gadsden,TE,LAC,2003-06-25,22.3,2025.0,5.0,27.0,165.0,NaN,77.0,236.0,Syracuse,2025,41951
9525,3078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41951.0,0.0,NaN,NaN,Oronde Gadsden,oronde gadsden,WR,MIA,1975-07-30,45.8,1997.0,7.0,2.0,NaN,NaN,71.0,197.0,Northwestern,2025,41951
11045,3501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0,NaN,NaN,41951.0,0.0,NaN,NaN,Oronde Gadsden,oronde gadsden,WR,FA,1971-08-20,49.7,0.0,NaN,NaN,NaN,NaN,NaN,218.0,NaN,2025,41951

:

:

In [ ]:
master_cln_raw = (master_cln_raw.sort_values(by=['stats_id', 'sportradar_id'], na_position='last').drop_duplicates(subset='stats_id', keep='first'))

:

:

In [ ]:
master_cln_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4442 entries, 10536 to 46
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4442 non-null   int64
 1   sportradar_id     3260 non-null   object
 2   fantasypros_id    2486 non-null   float64
 3   gsis_id           3344 non-null   object
 4   pff_id            3141 non-null   float64
 5   sleeper_id        2836 non-null   float64
 6   nfl_id            3088 non-null   float64
 7   espn_id           3463 non-null   float64
 8   yahoo_id          2678 non-null   float64
 9   fleaflicker_id    495 non-null    float64
 10  cbs_id            4149 non-null   float64
 11  pfr_id            3598 non-null   object
 12  cfbref_id         1896 non-null   object
 13  rotowire_id       4318 non-null   float64
 14  rotoworld_id      3274 non-null   float64
 15  ktc_id            393 non-null    float64
 16  stats_id          4442 non-null   float64
 17  stats_global_id   4442 non-null   float64
 18  fantasy_data_id   2507 non-null   float64
 19  swish_id          1465 non-null   float64
 20  name              4442 non-null   object
 21  merge_name        4442 non-null   object
 22  position          4442 non-null   object
 23  team              4442 non-null   object
 24  birthdate         4402 non-null   object
 25  age               4402 non-null   float64
 26  draft_year        4442 non-null   float64
 27  draft_round       2290 non-null   float64
 28  draft_pick        2282 non-null   float64
 29  draft_ovr         2196 non-null   float64
 30  twitter_username  976 non-null    object
 31  height            4326 non-null   float64
 32  weight            4429 non-null   float64
 33  college           4418 non-null   object
 34  db_season         4442 non-null   int64
 35  mapped_ids        4442 non-null   int64
dtypes: float64(22), int64(3), object(11)
memory usage: 1.3+ MB

:

:

In [ ]:
master_cln_raw['stats_id'].nunique()

4442

:

:

In [ ]:
master_cln_raw['mapped_ids'].nunique()

4410

:

:

In [ ]:
master_cln_raw.loc[master_cln_raw['mapped_ids'].duplicated(keep=False), 'mapped_ids'] = master_cln_raw.loc[master_cln_raw['mapped_ids'].duplicated(keep=False), 'stats_id']

:

:

In [ ]:
master_cln_raw['mapped_ids'].nunique()

4442

:

:

In [ ]:
master_cln_raw[master_cln_raw['name'] == 'Rob Bironas']

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, mapped_ids]
Index: []

:

:

In [ ]:
master_copy = master_cln_raw.copy()
full_copy = yahoo_players.merge(master_copy, how='left', left_on='player_id', right_on='mapped_ids')
full_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14096 entries, 0 to 14095
Data columns (total 61 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   bye_weeks.week            14096 non-null  int64
 1   display_position          14096 non-null  object
 2   editorial_player_key      14096 non-null  object
 3   editorial_team_abbr       14096 non-null  object
 4   editorial_team_full_name  14096 non-null  object
 5   editorial_team_key        14096 non-null  object
 6   editorial_team_url        14096 non-null  object
 7   eligible_positions        14096 non-null  object
 8   headshot.size             14096 non-null  object
 9   headshot.url              14096 non-null  object
 10  image_url                 14096 non-null  object
 11  is_keeper.status          14096 non-null  bool
 12  is_keeper.cost            14096 non-null  bool
 13  is_keeper.kept            14096 non-null  bool
 14  is_undroppable            14096 non-null  int64
 15  name.ascii_first          14096 non-null  object
 16  name.first                14096 non-null  object
 17  name.full                 14096 non-null  object
 18  name.last                 14096 non-null  object
 19  player_id                 14096 non-null  int64
 20  player_key                14096 non-null  object
 21  position_type             14096 non-null  object
 22  primary_position          14096 non-null  object
 23  url                       14096 non-null  object
 24  season                    14096 non-null  int64
 25  mfl_id                    12037 non-null  float64
 26  sportradar_id             11962 non-null  object
 27  fantasypros_id            10866 non-null  float64
 28  gsis_id                   11767 non-null  object
 29  pff_id                    11636 non-null  float64
 30  sleeper_id                11772 non-null  float64
 31  nfl_id                    11569 non-null  float64
 32  espn_id                   11804 non-null  float64
 33  yahoo_id                  11505 non-null  float64
 34  fleaflicker_id            1017 non-null   float64
 35  cbs_id                    11949 non-null  float64
 36  pfr_id                    11545 non-null  object
 37  cfbref_id                 6286 non-null   object
 38  rotowire_id               12023 non-null  float64
 39  rotoworld_id              8836 non-null   float64
 40  ktc_id                    1727 non-null   float64
 41  stats_id                  12037 non-null  float64
 42  stats_global_id           12037 non-null  float64
 43  fantasy_data_id           11042 non-null  float64
 44  swish_id                  7561 non-null   float64
 45  name                      12037 non-null  object
 46  merge_name                12037 non-null  object
 47  position                  12037 non-null  object
 48  team                      12037 non-null  object
 49  birthdate                 12023 non-null  object
 50  age                       12023 non-null  float64
 51  draft_year                12037 non-null  float64
 52  draft_round               6906 non-null   float64
 53  draft_pick                6889 non-null   float64
 54  draft_ovr                 6902 non-null   float64
 55  twitter_username          3805 non-null   object
 56  height                    12026 non-null  float64
 57  weight                    12029 non-null  float64
 58  college                   12017 non-null  object
 59  db_season                 12037 non-null  float64
 60  mapped_ids                12037 non-null  float64
dtypes: bool(3), float64(25), int64(4), object(29)
memory usage: 6.3+ MB

:

:

In [ ]:
full_copy[(full_copy['stats_id'].isna())]

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,mapped_ids
52,10,RB,nfl.p.7178,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/QYw6.yBPo_XN...,https://s.yimg.com/iu/api/res/1.2/QYw6.yBPo_XN...,False,False,False,0,Ronnie,Ronnie,Ronnie Brown,Brown,7178,331.p.7178,O,RB,https://sports.yahoo.com/nfl/players/7178,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,9,K,nfl.p.7434,Ten,Tennessee Titans,nfl.t.10,https://sports.yahoo.com/nfl/teams/tennessee/,['K'],small,https://s.yimg.com/iu/api/res/1.2/etIu4LtcHSr7...,https://s.yimg.com/iu/api/res/1.2/etIu4LtcHSr7...,False,False,False,0,Rob,Rob,Rob Bironas,Bironas,7434,331.p.7434,K,K,https://sports.yahoo.com/nfl/players/7434,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,10,WR,nfl.p.8327,LAC,Los Angeles Chargers,nfl.t.24,https://sports.yahoo.com/nfl/teams/la-chargers/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/3guLflRZ8IWP...,https://s.yimg.com/iu/api/res/1.2/3guLflRZ8IWP...,False,False,False,0,Jacoby,Jacoby,Jacoby Jones,Jones,8327,331.p.8327,O,WR,https://sports.yahoo.com/nfl/players/8327,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,12,WR,nfl.p.24746,Car,Carolina Panthers,nfl.t.29,https://sports.yahoo.com/nfl/teams/carolina/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/M8gJ9e0k7poq...,https://s.yimg.com/iu/api/res/1.2/M8gJ9e0k7poq...,False,False,False,0,Teddy,Teddy,Teddy Williams,Williams,24746,331.p.24746,O,WR,https://sports.yahoo.com/nfl/players/24746,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,4,RB,nfl.p.24825,Ari,Arizona Cardinals,nfl.t.22,https://sports.yahoo.com/nfl/teams/arizona/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/B8vwtafB1pNJ...,https://s.yimg.com/iu/api/res/1.2/B8vwtafB1pNJ...,False,False,False,0,Ryan,Ryan,Ryan Williams,Williams,24825,331.p.24825,O,RB,https://sports.yahoo.com/nfl/players/24825,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14091,12,DEF,nfl.p.100028,Was,Washington Commanders,nfl.t.28,https://sports.yahoo.com/nfl/teams/washington/,['DEF'],small,https://s.yimg.com/cv/apiv2/default/nfl/202009...,https://s.yimg.com/cv/apiv2/default/nfl/202009...,False,False,False,0,Washington,Washington,Washington Commanders,Commanders,100028,461.p.100028,DT,DEF,https://sports.yahoo.com/nfl/teams/washington/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14092,14,DEF,nfl.p.100029,Car,Carolina Panthers,nfl.t.29,https://sports.yahoo.com/nfl/teams/carolina/,['DEF'],small,https://s.yimg.com/cv/ip/ap/default/120210/50x...,https://s.yimg.com/cv/ip/ap/default/120210/50x...,False,False,False,0,Carolina,Carolina,Carolina Panthers,Panthers,100029,461.p.100029,DT,DEF,https://sports.yahoo.com/nfl/teams/carolina/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14093,8,DEF,nfl.p.100030,Jax,Jacksonville Jaguars,nfl.t.30,https://sports.yahoo.com/nfl/teams/jacksonville/,['DEF'],small,https://s.yimg.com/xe/ipt/50x50w.3.gif,https://s.yimg.com/xe/ipt/50x50w.3.gif,False,False,False,0,Jacksonville,Jacksonville,Jacksonville Jaguars,Jaguars,100030,461.p.100030,DT,DEF,https://sports.yahoo.com/nfl/teams/jacksonville/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14094,7,DEF,nfl.p.100033,Bal,Baltimore Ravens,nfl.t.33,https://sports.yahoo.com/nfl/teams/baltimore/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0,Baltimore,Baltimore,Baltimore Ravens,Ravens,100033,461.p.100033,DT,DEF,https://sports.yahoo.com/nfl/teams/baltimore/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14095,6,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0,Houston,Houston,Houston Texans,Texans,100034,461.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

:

In [ ]:
# def position_checker():
#     master_copy = master_raw.copy()
#     master_copy.loc[(master_copy['yahoo_id'].isna()) & (master_copy['stats_id'].notna()), 'yahoo_id'] = master_copy.loc[(master_copy['yahoo_id'].isna()) & (master_copy['stats_id'].notna()), 'stats_id']
#     master_copy.loc[(master_copy['yahoo_id'] != master_copy['stats_id']), 'yahoo_id'] = master_copy.loc[(master_copy['yahoo_id'] != master_copy['stats_id']), 'stats_id']
#     master_copy.loc[(master_copy['yahoo_id'] != master_copy['stats_id']), 'yahoo_id'] = master_copy.loc[(master_copy['yahoo_id'] != master_copy['stats_id']), 'stats_id']
#     full_copy = yahoo_players.merge(master_copy, how='left', left_on='player_id', right_on='yahoo_id')
#     # full_copy.loc[(full_copy['primary_position'] == 'DEF'), 'yahoo_id'] = full_copy.loc[(full_copy['primary_position'] == 'DEF'), 'player_id']
#     # mismatches = full_copy[full_copy['primary_position'] != full_copy['position']]
#     return full_copy

:

:

In [ ]:
____________________

NameError: name '____________________' is not defined

:

:

In [ ]:
# result = position_checker()

:

:

In [ ]:
full_copy[full_copy['stats_id'].isna()]

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,mapped_ids
3,4,QB,nfl.p.4256,Den,Denver Broncos,nfl.t.7,https://sports.yahoo.com/nfl/teams/denver/,['QB'],small,https://s.yimg.com/iu/api/res/1.2/UCWtIm9kEbbH...,https://s.yimg.com/iu/api/res/1.2/UCWtIm9kEbbH...,False,False,False,0,Peyton,Peyton,Peyton Manning,Manning,4256,331.p.4256,O,QB,https://sports.yahoo.com/nfl/players/4256,2014,5274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Peyton Manning,peyton manning,QB,IND,NaN,NaN,1987.0,NaN,NaN,NaN,NaN,73.0,218.0,Pittsburgh,2025.0,4256.0
6,10,QB,nfl.p.4416,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['QB'],small,https://s.yimg.com/iu/api/res/1.2/YdWdJ6P7MDCj...,https://s.yimg.com/iu/api/res/1.2/YdWdJ6P7MDCj...,False,False,False,0,Matt,Matt,Matt Hasselbeck,Hasselbeck,4416,331.p.4416,O,QB,https://sports.yahoo.com/nfl/players/4416,2014,3852.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Matt Hasselbeck,matt hasselbeck,QB,SEA,NaN,NaN,1995.0,6.0,5.0,NaN,NaN,NaN,NaN,California,2025.0,4416.0
8,9,K,nfl.p.4587,Det,Detroit Lions,nfl.t.8,https://sports.yahoo.com/nfl/teams/detroit/,['K'],small,https://s.yimg.com/iu/api/res/1.2/LYV0FawBt9B8...,https://s.yimg.com/iu/api/res/1.2/LYV0FawBt9B8...,False,False,False,0,David,David,David Akers,Akers,4587,331.p.4587,K,K,https://sports.yahoo.com/nfl/players/4587,2014,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,David Akers,david akers,PK,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025.0,4587.0
10,4,K,nfl.p.5046,Sea,Seattle Seahawks,nfl.t.26,https://sports.yahoo.com/nfl/teams/seattle/,['K'],small,https://s.yimg.com/iu/api/res/1.2/_FbxgaDsf1YA...,https://s.yimg.com/iu/api/res/1.2/_FbxgaDsf1YA...,False,False,False,0,Sebastian,Sebastian,Sebastian Janikowski,Janikowski,5046,331.p.5046,K,K,https://sports.yahoo.com/nfl/players/5046,2014,4392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Sebastian Janikowski,sebastian janikowski,PK,OAK,NaN,NaN,1992.0,7.0,24.0,NaN,NaN,NaN,NaN,Houston,2025.0,5046.0
12,7,QB,nfl.p.5228,TB,Tampa Bay Buccaneers,nfl.t.27,https://sports.yahoo.com/nfl/teams/tampa-bay/,['QB'],small,https://s.yimg.com/iu/api/res/1.2/Ol_o6nNm9irL...,https://s.yimg.com/iu/api/res/1.2/Ol_o6nNm9irL...,False,False,False,0,Tom,Tom,Tom Brady,Brady,5228,331.p.5228,O,QB,https://sports.yahoo.com/nfl/players/5228,2014,948.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tom Brady,tom brady,QB,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025.0,5228.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14336,12,DEF,nfl.p.100028,Was,Washington Commanders,nfl.t.28,https://sports.yahoo.com/nfl/teams/washington/,['DEF'],small,https://s.yimg.com/cv/apiv2/default/nfl/202009...,https://s.yimg.com/cv/apiv2/default/nfl/202009...,False,False,False,0,Washington,Washington,Washington Commanders,Commanders,100028,461.p.100028,DT,DEF,https://sports.yahoo.com/nfl/teams/washington/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14337,14,DEF,nfl.p.100029,Car,Carolina Panthers,nfl.t.29,https://sports.yahoo.com/nfl/teams/carolina/,['DEF'],small,https://s.yimg.com/cv/ip/ap/default/120210/50x...,https://s.yimg.com/cv/ip/ap/default/120210/50x...,False,False,False,0,Carolina,Carolina,Carolina Panthers,Panthers,100029,461.p.100029,DT,DEF,https://sports.yahoo.com/nfl/teams/carolina/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14338,8,DEF,nfl.p.100030,Jax,Jacksonville Jaguars,nfl.t.30,https://sports.yahoo.com/nfl/teams/jacksonville/,['DEF'],small,https://s.yimg.com/xe/ipt/50x50w.3.gif,https://s.yimg.com/xe/ipt/50x50w.3.gif,False,False,False,0,Jacksonville,Jacksonville,Jacksonville Jaguars,Jaguars,100030,461.p.100030,DT,DEF,https://sports.yahoo.com/nfl/teams/jacksonville/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14339,7,DEF,nfl.p.100033,Bal,Baltimore Ravens,nfl.t.33,https://sports.yahoo.com/nfl/teams/baltimore/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0,Baltimore,Baltimore,Baltimore Ravens,Ravens,100033,461.p.100033,DT,DEF,https://sports.yahoo.com/nfl/teams/baltimore/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14340,6,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0,Houston,Houston,Houston Texans,Texans,100034,461.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

:

In [ ]:
result[result['name'] == "Travis Hunter"]

Empty DataFrame
Columns: [bye_weeks.week, display_position, editorial_player_key, editorial_team_abbr, editorial_team_full_name, editorial_team_key, editorial_team_url, eligible_positions, headshot.size, headshot.url, image_url, is_keeper.status, is_keeper.cost, is_keeper.kept, is_undroppable, name.ascii_first, name.first, name.full, name.last, player_id, player_key, position_type, primary_position, url, season, mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season]
Index: []

:

:

In [ ]:
# Fill all missing yahoo ids with player IDs

result.loc[(result['yahoo_id'].isna()), 'yahoo_id'] = result.loc[(result['yahoo_id'].isna()), 'player_id']

:

:

In [ ]:
result['yahoo_id'].isna().sum()

np.int64(0)

:

:

In [ ]:
result[result['name'] == 'Ollie Gordon']

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
13843,12,RB,nfl.p.41969,Mia,Miami Dolphins,nfl.t.15,https://sports.yahoo.com/nfl/teams/miami/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/eDlltI2Ax54R...,https://s.yimg.com/iu/api/res/1.2/eDlltI2Ax54R...,False,False,False,0,Ollie,Ollie,Ollie Gordon II,Gordon II,41969,461.p.41969,O,RB,https://sports.yahoo.com/nfl/players/41969,2025,17059.0,42753bb4-a416-4d40-bf81-f20d2181be2f,25984.0,00-0040198,157792.0,12495.0,58384.0,4711533.0,41969.0,NaN,28873887.0,GordOl00,NaN,18450.0,NaN,1759.0,41969.0,0.0,25953.0,NaN,Ollie Gordon,ollie gordon,RB,MIA,2004-01-15,21.8,2025.0,6.0,3.0,179.0,NaN,74.0,225.0,Oklahoma State,2025.0

:

:

In [ ]:
result[(result['gsis_id'].isna()) & (result['primary_position'] != 'DEF') & (result['season'] == 2024)]

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
12125,12,WR,nfl.p.33001,Jax,Jacksonville Jaguars,nfl.t.30,https://sports.yahoo.com/nfl/teams/jacksonville/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/yptHbCexuz6x...,https://s.yimg.com/iu/api/res/1.2/yptHbCexuz6x...,False,False,False,0,Jaylon,Jaylon,Jaylon Moore,Moore,33001,449.p.33001,O,WR,https://sports.yahoo.com/nfl/players/33001,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12137,14,TE,nfl.p.33168,Bal,Baltimore Ravens,nfl.t.33,https://sports.yahoo.com/nfl/teams/baltimore/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/NNyZmg0U9BAr...,https://s.yimg.com/iu/api/res/1.2/NNyZmg0U9BAr...,False,False,False,0,Scotty,Scotty,Scotty Washington,Washington,33168,449.p.33168,O,TE,https://sports.yahoo.com/nfl/players/33168,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12228,14,TE,nfl.p.33676,Den,Denver Broncos,nfl.t.7,https://sports.yahoo.com/nfl/teams/denver/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/vXbre9RtzGdI...,https://s.yimg.com/iu/api/res/1.2/vXbre9RtzGdI...,False,False,False,0,Hunter,Hunter,Hunter Kampmoyer,Kampmoyer,33676,449.p.33676,O,TE,https://sports.yahoo.com/nfl/players/33676,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12231,12,WR,nfl.p.33710,NYJ,New York Jets,nfl.t.20,https://sports.yahoo.com/nfl/teams/ny-jets/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/CmD.PEN8vd8i...,https://s.yimg.com/iu/api/res/1.2/CmD.PEN8vd8i...,False,False,False,0,Brandon,Brandon,Brandon Smith,Smith,33710,449.p.33710,O,WR,https://sports.yahoo.com/nfl/players/33710,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12235,11,TE,nfl.p.33759,Ari,Arizona Cardinals,nfl.t.22,https://sports.yahoo.com/nfl/teams/arizona/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/zskwyXeICNy_...,https://s.yimg.com/iu/api/res/1.2/zskwyXeICNy_...,False,False,False,0,Bernhard,Bernhard,Bernhard Seikovits,Seikovits,33759,449.p.33759,O,TE,https://sports.yahoo.com/nfl/players/33759,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12816,10,WR,nfl.p.41733,GB,Green Bay Packers,nfl.t.9,https://sports.yahoo.com/nfl/teams/green-bay/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0,Rory,Rory,Rory Starkey,Starkey,41733,449.p.41733,O,WR,https://sports.yahoo.com/nfl/players/41733,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12817,12,QB,nfl.p.41735,NYJ,New York Jets,nfl.t.20,https://sports.yahoo.com/nfl/teams/ny-jets/,['QB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0,Ben,Ben,Ben Bryant,Bryant,41735,449.p.41735,O,QB,https://sports.yahoo.com/nfl/players/41735,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12818,10,RB,nfl.p.41736,Sea,Seattle Seahawks,nfl.t.26,https://sports.yahoo.com/nfl/teams/seattle/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0,Kairee,Kairee,Kairee Robinson,Robinson,41736,449.p.41736,O,RB,https://sports.yahoo.com/nfl/players/41736,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41736.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12819,6,TE,nfl.p.41738,KC,Kansas City Chiefs,nfl.t.12,https://sports.yahoo.com/nfl/teams/kansas-city/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0,Geor'Quarius,Geor'Quarius,Geor'Quarius Spivey,Spivey,41738,449.p.41738,O,TE,https://sports.yahoo.com/nfl/players/41738,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41738.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12821,10,TE,nfl.p.41762,Sea,Seattle Seahawks,nfl.t.26,https://sports.yahoo.com/nfl/teams/seattle/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0,Devon,Devon,Devon Garrison,Garrison,41762,449.p.41762,O,TE,https://sports.yahoo.com/nfl/players/41762,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41762.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

:

:

:

In [ ]:
result

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
0,10,K,nfl.p.3727,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['K'],small,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,False,False,False,0,Adam,Adam,Adam Vinatieri,Vinatieri,3727,331.p.3727,K,K,https://sports.yahoo.com/nfl/players/3727,2014,2842.0,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025.0
5912,6,K,nfl.p.3727,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['K'],small,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,False,False,False,0,Adam,Adam,Adam Vinatieri,Vinatieri,3727,390.p.3727,K,K,https://sports.yahoo.com/nfl/players/3727,2019,2842.0,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025.0
4728,9,K,nfl.p.3727,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['K'],small,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,False,False,False,0,Adam,Adam,Adam Vinatieri,Vinatieri,3727,380.p.3727,K,K,https://sports.yahoo.com/nfl/players/3727,2018,2842.0,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025.0
7117,7,K,nfl.p.3727,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['K'],small,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,False,False,False,0,Adam,Adam,Adam Vinatieri,Vinatieri,3727,399.p.3727,K,K,https://sports.yahoo.com/nfl/players/3727,2020,2842.0,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025.0
3523,11,K,nfl.p.3727,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['K'],small,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,False,False,False,0,Adam,Adam,Adam Vinatieri,Vinatieri,3727,371.p.3727,K,K,https://sports.yahoo.com/nfl/players/3727,2017,2842.0,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14100,12,DEF,nfl.p.100028,Was,Washington Commanders,nfl.t.28,https://sports.yahoo.com/nfl/teams/washington/,['DEF'],small,https://s.yimg.com/cv/apiv2/default/nfl/202009...,https://s.yimg.com/cv/apiv2/default/nfl/202009...,False,False,False,0,Washington,Washington,Washington Commanders,Commanders,100028,461.p.100028,DT,DEF,https://sports.yahoo.com/nfl/teams/washington/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14101,14,DEF,nfl.p.100029,Car,Carolina Panthers,nfl.t.29,https://sports.yahoo.com/nfl/teams/carolina/,['DEF'],small,https://s.yimg.com/cv/ip/ap/default/120210/50x...,https://s.yimg.com/cv/ip/ap/default/120210/50x...,False,False,False,0,Carolina,Carolina,Carolina Panthers,Panthers,100029,461.p.100029,DT,DEF,https://sports.yahoo.com/nfl/teams/carolina/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14102,8,DEF,nfl.p.100030,Jax,Jacksonville Jaguars,nfl.t.30,https://sports.yahoo.com/nfl/teams/jacksonville/,['DEF'],small,https://s.yimg.com/xe/ipt/50x50w.3.gif,https://s.yimg.com/xe/ipt/50x50w.3.gif,False,False,False,0,Jacksonville,Jacksonville,Jacksonville Jaguars,Jaguars,100030,461.p.100030,DT,DEF,https://sports.yahoo.com/nfl/teams/jacksonville/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14103,7,DEF,nfl.p.100033,Bal,Baltimore Ravens,nfl.t.33,https://sports.yahoo.com/nfl/teams/baltimore/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0,Baltimore,Baltimore,Baltimore Ravens,Ravens,100033,461.p.100033,DT,DEF,https://sports.yahoo.com/nfl/teams/baltimore/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100033.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14104,6,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0,Houston,Houston,Houston Texans,Texans,100034,461.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

:

:

:

: