In [1]:
import pandas as pd
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', None) 
import numpy as np
import re
from collections import defaultdict

In [2]:
yahoo_players = pd.read_csv('Raw/players_yahooleague_raw_14to25.csv')
yahoo_players.head()
yahoo_players = yahoo_players.drop(columns='Unnamed: 0')
yahoo_players.head()

master_ids = pd.read_csv('Raw/player_keys_raw.csv')
master_ids.head()
master_ids = master_ids.drop(columns='Unnamed: 0')
master_ids.head()

master_raw = master_ids.copy()

In [3]:
master_raw['position'].value_counts()

position
WR    2038
LB    1779
RB    1587
CB    1268
S     1083
DT     969
DE     957
TE     948
QB     666
PK     276
PN     215
DB     146
DL     136
OT      53
XX      16
C        6
T        1
?        1
Name: count, dtype: int64

In [4]:
master_raw[master_raw['name'] == 'Peyton Hillis']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
6857,9272,a34a5944-33c4-4965-b404-6772f4b7f1ab,9506.0,00-0026367,4541.0,660.0,1980.0,11461.0,900035.0,NaN,523458.0,HillPe00,peyton-hillis-1,5866.0,4965.0,NaN,9004.0,267714.0,11747.0,NaN,Peyton Hillis,peyton hillis,RB,FA,1986-01-21,35.3,2008.0,7.0,20.0,227.0,thepeytonhillis,74.0,250.0,Arkansas,2025

In [5]:
master_raw = master_raw.loc[master_raw['position'].isin(['QB', 'RB', 'TE', 'WR', 'PK', 'XX'])]
master_raw[master_raw['name'] == 'Jacoby Jones']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
7043,8772,ce4d7d70-307f-4093-bf54-432b8b405eb4,9253.0,00-0025460,3689.0,203.0,2495651.0,10517.0,8327.0,4674.0,1220258.0,JoneJa03,NaN,5229.0,4239.0,NaN,8327.0,329337.0,5100.0,NaN,Jacoby Jones,jacoby jones,WR,FA,1984-07-11,36.8,2007.0,3.0,9.0,73.0,TheRealJacoby12,76.0,215.0,Lane,2025

In [6]:
# Create name cleaning funciton
def clean_name(name):
    if pd.isna(name) or name is None:
        return name
    name = re.sub(r'\s+(Jr\.?|Sr\.?|III|II|IV|V)(\s|$|,)', '', str(name), flags=re.IGNORECASE).strip()
    name = name.replace("'", "")
    return name

In [7]:
yahoo_players['cleaned_name'] = yahoo_players['name.full'].apply(clean_name)

In [8]:
master_raw['cleaned_name'] = master_raw['name'].apply(clean_name)

In [9]:
yahoo_players['match_key'] = yahoo_players['cleaned_name'] + '_' + yahoo_players['player_id'].astype('Int64').astype(str)
master_raw['match_key'] = master_raw['cleaned_name'] + '_' + master_raw['stats_id'].astype('Int64').astype(str)

In [10]:
master_raw[master_raw['name'] == 'Jacoby Jones']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key
7043,8772,ce4d7d70-307f-4093-bf54-432b8b405eb4,9253.0,00-0025460,3689.0,203.0,2495651.0,10517.0,8327.0,4674.0,1220258.0,JoneJa03,NaN,5229.0,4239.0,NaN,8327.0,329337.0,5100.0,NaN,Jacoby Jones,jacoby jones,WR,FA,1984-07-11,36.8,2007.0,3.0,9.0,73.0,TheRealJacoby12,76.0,215.0,Lane,2025,Jacoby Jones,Jacoby Jones_8327

In [11]:
master_raw[master_raw['match_key'].str.contains('_<NA>')]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer,Sean Brewer_<NA>
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien,Doug Brien_<NA>
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham,Jeremy Brigham_<NA>
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby,Vincent Brisby_<NA>
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister,Bubby Brister_<NA>

In [12]:
print(f"Memory usage: {master_raw.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

Memory usage: 5.25 MB

In [13]:
# Rookies missing are on the yahoo list, will make a yahoo ID map and use to add to master list

yahoo_id_maps = yahoo_players.set_index('match_key')['player_id'].to_dict()

In [14]:
print(yahoo_id_maps['Jacoby Jones_8327'])

8327

In [15]:
master_raw['mapped_ids'] = master_raw['match_key'].map(yahoo_id_maps)
display(master_raw[master_raw['name'] == 'Ben Wooldridge'])
display(master_raw[master_raw['name'] == 'Travis Hunter'])

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
301,17338,0eba8690-2572-11f0-841c-6faaaac5712d,NaN,NaN,NaN,13065.0,NaN,4373895.0,NaN,NaN,2965115.0,NaN,NaN,18872.0,NaN,NaN,4373895.0,0.0,NaN,NaN,Ben Wooldridge,ben wooldridge,QB,FA,1999-09-27,26.1,2025.0,NaN,NaN,NaN,NaN,74.0,214.0,Louisiana,2025,Ben Wooldridge,Ben Wooldridge_4373895,NaN

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN

In [16]:
master_raw[(master_raw['mapped_ids'].isna())]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12139,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sean Brewer,sean brewer,TE,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Sean Brewer,Sean Brewer_<NA>,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien,Doug Brien_<NA>,NaN
12141,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeremy Brigham,jeremy brigham,TE,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeremy Brigham,Jeremy Brigham_<NA>,NaN
12142,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Vincent Brisby,vincent brisby,WR,FA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Vincent Brisby,Vincent Brisby_<NA>,NaN
12143,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bubby Brister,bubby brister,QB,KCC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Bubby Brister,Bubby Brister_<NA>,NaN

In [17]:
# Count NaN in mapped_ids
print("NaN in mapped_ids:", master_raw['mapped_ids'].isna().sum())

# Check if mismatch should include NaN
print("Should show mismatches:", (~master_raw['mapped_ids'].isin(master_raw['stats_id'])).sum())

# Are the NaN values in mapped_ids also NaN in stats_id?
both_nan = master_raw['mapped_ids'].isna() & master_raw['stats_id'].isna()
print("Rows where BOTH are NaN:", both_nan.sum())

NaN in mapped_ids: 2601
Should show mismatches: 0
Rows where BOTH are NaN: 1093

In [18]:
master_raw[master_raw['name'] == 'Adam Vinatieri']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
9688,2842,9ecf8040-10f9-4a5c-92da-1b4d77bd6760,9004.0,00-0016919,226.0,120.0,2503471.0,1097.0,3727.0,2074.0,1392.0,vinatada01,NaN,395.0,1152.0,NaN,3727.0,23849.0,3258.0,NaN,Adam Vinatieri,adam vinatieri,PK,FA,1972-12-28,49.2,1996.0,NaN,NaN,NaN,aVinatieri4,72.0,212.0,South Dakota State,2025,Adam Vinatieri,Adam Vinatieri_3727,3727.0

In [19]:
# Exclude rows where BOTH are NaN (those are fine)
# Show rows where they don't match
master_mismatch = master_raw[
    (master_raw['mapped_ids'] != master_raw['stats_id']) & 
    ~(master_raw['mapped_ids'].isna() & master_raw['stats_id'].isna())
]
print(f"True mismatches: {len(master_mismatch)}")

True mismatches: 1508

In [20]:
master_mismatch.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,NaN
294,17329,826620a0-249a-11f0-9302-cb167d81eff7,23170.0,00-0040332,123119.0,12479.0,58768.0,4690972.0,NaN,NaN,3168195.0,JackJa05,NaN,18527.0,NaN,NaN,4690972.0,0.0,25901.0,NaN,Ja'Quinden Jackson,jaquinden jackson,RB,JAC,2001-09-12,24.1,2025.0,NaN,NaN,NaN,NaN,74.0,233.0,Arkansas,2025,JaQuinden Jackson,JaQuinden Jackson_4690972,NaN
301,17338,0eba8690-2572-11f0-841c-6faaaac5712d,NaN,NaN,NaN,13065.0,NaN,4373895.0,NaN,NaN,2965115.0,NaN,NaN,18872.0,NaN,NaN,4373895.0,0.0,NaN,NaN,Ben Wooldridge,ben wooldridge,QB,FA,1999-09-27,26.1,2025.0,NaN,NaN,NaN,NaN,74.0,214.0,Louisiana,2025,Ben Wooldridge,Ben Wooldridge_4373895,NaN
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,NaN

In [21]:
master_mismatch[master_mismatch['stats_id'] > 101000]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
294,17329,826620a0-249a-11f0-9302-cb167d81eff7,23170.0,00-0040332,123119.0,12479.0,58768.0,4690972.0,NaN,NaN,3168195.0,JackJa05,NaN,18527.0,NaN,NaN,4690972.0,0.0,25901.0,NaN,Ja'Quinden Jackson,jaquinden jackson,RB,JAC,2001-09-12,24.1,2025.0,NaN,NaN,NaN,NaN,74.0,233.0,Arkansas,2025,JaQuinden Jackson,JaQuinden Jackson_4690972,NaN
301,17338,0eba8690-2572-11f0-841c-6faaaac5712d,NaN,NaN,NaN,13065.0,NaN,4373895.0,NaN,NaN,2965115.0,NaN,NaN,18872.0,NaN,NaN,4373895.0,0.0,NaN,NaN,Ben Wooldridge,ben wooldridge,QB,FA,1999-09-27,26.1,2025.0,NaN,NaN,NaN,NaN,74.0,214.0,Louisiana,2025,Ben Wooldridge,Ben Wooldridge_4373895,NaN
666,16964,9f2c6ea0-0570-11ef-af69-dfa5fe884ba6,NaN,00-0039614,141559.0,11897.0,57742.0,4698301.0,NaN,NaN,26717777.0,JackJe01,NaN,18104.0,NaN,NaN,4698301.0,0.0,NaN,1274459.0,Jermaine Jackson,jermaine jackson,WR,FA,2000-06-02,25.4,2024.0,NaN,NaN,NaN,NaN,67.0,170.0,Idaho,2025,Jermaine Jackson,Jermaine Jackson_4698301,NaN

These three player shave no stats, will drop

In [22]:
master_mismatch = master_mismatch[master_mismatch['stats_id'] < 101000]
master_mismatch[master_mismatch['stats_id'] > 101000]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [23]:
master_mismatch.loc[(master_mismatch['stats_id'].isna()), 'stats_id'] = master_mismatch.loc[(master_mismatch['stats_id'].isna()), 'mapped_ids']

In [24]:
master_mismatch[master_mismatch['stats_id'].isna()]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [25]:
master_mismatch[master_mismatch['stats_id'].isna()]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [26]:
master_mismatch.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,NaN
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,NaN
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,NaN
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,NaN

In [27]:
master_mismatch.loc[master_mismatch['stats_id'].duplicated(keep=False)]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [28]:
master_mismatch.loc[master_mismatch['stats_id'] < 3000].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
9848,1032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BantBr00,bradford-banta-1,837.0,NaN,NaN,2732.0,0.0,NaN,NaN,Bradford Banta,bradford banta,TE,FA,1970-12-14,50.4,1994.0,4.0,3.0,106.0,NaN,78.0,253.0,Southern California,2025,Bradford Banta,Bradford Banta_2732,NaN
9852,1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,briendou01,doug-brien-1,849.0,NaN,NaN,2935.0,0.0,NaN,NaN,Doug Brien,doug brien,PK,FA,1970-11-24,50.5,1994.0,3.0,20.0,85.0,NaN,NaN,185.0,California,2025,Doug Brien,Doug Brien_2935,NaN
9854,1095,NaN,NaN,00-0002099,NaN,NaN,NaN,658.0,NaN,322.0,1294.0,BrucIs00,isaac-bruce-1,626.0,414.0,NaN,2914.0,0.0,NaN,NaN,Isaac Bruce,isaac bruce,WR,FA,1972-11-10,48.5,1994.0,2.0,4.0,33.0,NaN,72.0,188.0,Memphis,2025,Isaac Bruce,Isaac Bruce_2914,NaN
9858,1183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1065.0,DilfTr00,trent-dilfer-1,666.0,552.0,NaN,2900.0,0.0,NaN,NaN,Trent Dilfer,trent dilfer,QB,FA,1972-03-13,49.2,1994.0,1.0,6.0,6.0,DilfersDimes,76.0,234.0,Fresno State,2025,Trent Dilfer,Trent Dilfer_2900,NaN
9861,1213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FaulMa00,marshall-faulk-1,292.0,368.0,NaN,2728.0,0.0,NaN,NaN,Marshall Faulk,marshall faulk,RB,FA,1973-02-26,48.2,1994.0,1.0,2.0,2.0,marshallfaulk,70.0,211.0,NaN,2025,Marshall Faulk,Marshall Faulk_2728,NaN

In [29]:
master_mismatch = master_mismatch.drop(labels=master_mismatch.loc[master_mismatch['stats_id'] < 3726].index, axis=0)
master_mismatch['stats_id'].min()

np.float64(3731.0)

In [30]:
master_mismatch[~master_mismatch['mapped_ids'].isin(master_mismatch['stats_id'])]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,NaN
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,NaN
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,NaN
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12034,9793,20af511b-03b7-4905-bc41-158f286b99c6,NaN,NaN,NaN,2864.0,2553937.0,12899.0,29138.0,NaN,2175732.0,NaN,NaN,6002.0,5243.0,NaN,9736.0,245814.0,17332.0,NaN,Mike Reilly,mike reilly,QB,STL,1985-01-25,36.3,0.0,NaN,NaN,NaN,NaN,76.0,240.0,Central Washington,2025,Mike Reilly,Mike Reilly_9736,NaN
12036,9796,NaN,NaN,00-0026792,NaN,NaN,NaN,13027.0,NaN,NaN,1675238.0,WillPa01,NaN,6401.0,5595.0,NaN,9721.0,267416.0,NaN,NaN,Patrick Williams,patrick williams,WR,BAL,1986-01-13,35.3,0.0,NaN,NaN,NaN,NaN,73.0,204.0,Colorado,2025,Patrick Williams,Patrick Williams_9721,NaN
12038,9800,NaN,NaN,00-0024825,NaN,NaN,NaN,11142.0,NaN,NaN,1226291.0,NordJa00,NaN,5467.0,4608.0,NaN,8692.0,219960.0,NaN,NaN,Jake Nordin,jake nordin,TE,DET,1984-07-08,36.8,0.0,NaN,NaN,NaN,NaN,75.0,255.0,Northern Illinois,2025,Jake Nordin,Jake Nordin_8692,NaN
12039,9806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6202.0,5498.0,NaN,9122.0,463275.0,NaN,NaN,Sam Giguere,sam giguere,WR,FA,1985-07-11,35.8,0.0,NaN,NaN,NaN,NaN,71.0,215.0,Sherbrooke,2025,Sam Giguere,Sam Giguere_9122,NaN
12040,9807,95fda3ba-3d46-4985-9b2e-939f5fe4883b,NaN,00-0026669,5308.0,NaN,NaN,12965.0,NaN,NaN,1675122.0,ClohCo00,NaN,6418.0,5628.0,NaN,9683.0,288898.0,NaN,NaN,Colin Cloherty,colin cloherty,TE,FA,1987-09-16,33.6,0.0,NaN,NaN,NaN,colincloherty,74.0,252.0,Brown,2025,Colin Cloherty,Colin Cloherty_9683,NaN

In [31]:
print(master_mismatch['mapped_ids'].isna().sum())

1409

In [32]:
master_mismatch.shape

(1409, 38)

In [33]:
master_mismatch.loc[(master_mismatch['mapped_ids'].isna()), 'mapped_ids'] = master_mismatch.loc[(master_mismatch['mapped_ids'].isna()), 'stats_id']
master_mismatch[master_mismatch['name'] == 'Ollie Gordon']

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [34]:
master_mismatch.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,41787.0
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,41980.0
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,41559.0
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,41477.0
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,41163.0

In [35]:
updated_yahoo_maps = master_mismatch.set_index('match_key')['stats_id'].to_dict()
display(updated_yahoo_maps)

{'Travis Hunter_41787': 41787.0,
 'Andres Borregales_41980': 41980.0,
 'Taulia Tagovailoa_41559': 41559.0,
 'Justin Strong_41477': 41477.0,
 'Lideatrick Griffin_41163': 41163.0,
 'CJ Johnson_40461': 40461.0,
 'Scott Matlock_40225': 40225.0,
 'Demario Douglas_40222': 40222.0,
 'Grant Dubose_40251': 40251.0,
 'Keytaon Thompson_40592': 40592.0,
 'Mitchell Tinsley_40313': 40313.0,
 'EJ Perry_34346': 34346.0,
 'Dvonte Price_34521': 34521.0,
 'TJ Pledger_34691': 34691.0,
 'John Metchie_34063': 34063.0,
 'Chigoziem Okonkwo_34099': 34099.0,
 'Andrew Ogletree_34148': 34148.0,
 'Lujuan Winningham_34255': 34255.0,
 'John Parker Romo_34657': 34657.0,
 'Mike Strachan_33620': 33620.0,
 'BJ Emmons_33855': 33855.0,
 'AJ Dillon_32732': 32732.0,
 'Lamical Perine_32790': 32790.0,
 'Gabriel Davis_32798': 32798.0,
 'K.J. Hill_32890': 32890.0,
 'Jacob Breeland_32994': 32994.0,
 'LJ Scott_32569': 32569.0,
 'Marquise Brown_31857': 31857.0,
 'JJ Arcega-Whiteside_31889': 31889.0,
 'Tyron Johnson_32511': 32511.0,
 'Olabisi Johnson_32079': 32079.0,
 'Chris Blewitt_31819': 31819.0,
 'Jacob Dolegala_32464': 32464.0,
 'D.J. Moore_30994': 30994.0,
 'D.J. Chark_31031': 31031.0,
 'Matthew McCrane_31310': 31310.0,
 'Mike Badgley_31366': 31366.0,
 'Jeffery Wilson_31394': 31394.0,
 'Josh Crockett_31758': 31758.0,
 'KD Cannon_30553': 30553.0,
 'Speedy Noil_30854': 30854.0,
 'Brendan Langley_30214': 30214.0,
 'Alexander Armah_30305': 30305.0,
 'Stanley Williams_30588': 30588.0,
 'Peyton Barber_29560': 29560.0,
 'Moritz Boehringer_29414': 29414.0,
 'Kieren Duncan_29987': 29987.0,
 'Rory Anderson_28642': 28642.0,
 'Justin Manton_28954': 28954.0,
 'Rod Smith_28718': 28718.0,
 'Daniel Brown_29102': 29102.0,
 'A.J. McCarron_27692': 27692.0,
 'Gator Hoskins_28095': 28095.0,
 'Tim Flanders_27924': 27924.0,
 'Rashaun Allen_28253': 28253.0,
 'Alex Carder_27185': 27185.0,
 'James Vandenberg_27128': 27128.0,
 'Dayne Crist_27426': 27426.0,
 'Ryan Katz_26883': 26883.0,
 'Seth Doege_27014': 27014.0,
 'Colby Cameron_27090': 27090.0,
 'Kyle Padron_27068': 27068.0,
 'D.J. Harper_27283': 27283.0,
 'Onterio McCalebb_27163': 27163.0,
 'Stefphon Jefferson_27301': 27301.0,
 'Dominique Whaley_26900': 26900.0,
 'Curtis McNeal_26913': 26913.0,
 'Robbie Rouse_27362': 27362.0,
 'Marcus Davis_27317': 27317.0,
 'Ryan Swope_26797': 26797.0,
 'Roy Roundtree_27115': 27115.0,
 'Zach Rogers_26993': 26993.0,
 'Tyrone Goard_27114': 27114.0,
 'Philip Lutzenkirchen_27168': 27168.0,
 'Havard Rugland_26618': 26618.0,
 'Braden Wilson_26827': 26827.0,
 'Jordan Roberts_27402': 27402.0,
 'Sam McGuffie_27067': 27067.0,
 'Jasper Collins_27244': 27244.0,
 'Matt McGloin_27429': 27429.0,
 'Morgan Lineberry_27097': 27097.0,
 'Perez Ashford_27145': 27145.0,
 'Andrew Helmick_27430': 27430.0,
 'Tyrone Walker_27396': 27396.0,
 'Quentin Sims_27461': 27461.0,
 'Tim Wright_27050': 27050.0,
 'Trent Richardson_25713': 25713.0,
 'Patrick Edwards_26385': 26385.0,
 'Deangelo Peterson_26358': 26358.0,
 'Hayden Smith_25707': 25707.0,
 'Les Brown_25709': 25709.0,
 'T.J. Graham_25779': 25779.0,
 'Greg Childs_25844': 25844.0,
 'Terrance Ganaway_25912': 25912.0,
 'Greg Scruggs_25942': 25942.0,
 'Drake Dunsmore_25943': 25943.0,
 'B.J. Coleman_25953': 25953.0,
 'Jordan White_25954': 25954.0,
 'Rodney Stewart_26248': 26248.0,
 'Lennon Creer_26276': 26276.0,
 'Gerrell Robinson_25984': 25984.0,
 'Michael Calvin_26234': 26234.0,
 'Michael Hayes_26194': 26194.0,
 'Joe Martinek_26405': 26405.0,
 'Adonis Thomas_26500': 26500.0,
 'Marc Tyler_26437': 26437.0,
 'Cody Pearcy_26176': 26176.0,
 'Brandon Collins_26476': 26476.0,
 'Stephfon Green_26387': 26387.0,
 'Devin Goda_26445': 26445.0,
 'Ed Wesley_26570': 26570.0,
 'LaRon Byrd_26135': 26135.0,
 'Darrell Scott_26074': 26074.0,
 'David Douglas_26404': 26404.0,
 'Jarrett Lee_26195': 26195.0,
 'Nate Eachus_26111': 26111.0,
 'Eddy Carmona_26510': 26510.0,
 'Marquis Maze_26226': 26226.0,
 'Danny Noble_26332': 26332.0,
 'John Griffin_25456': 25456.0,
 'Alex Silvestro_25313': 25313.0,
 'Dan DePalma_25297': 25297.0,
 'Andy Fantuz_24782': 24782.0,
 'Derrick Locke_25533': 25533.0,
 'Titus Young_24831': 24831.0,
 'Robert Housler_24856': 24856.0,
 'Clyde Gates_24898': 24898.0,
 'Owen Marecic_24911': 24911.0,
 'Jamie Harper_24917': 24917.0,
 'Johnny White_24920': 24920.0,
 'Nathan Enderle_24947': 24947.0,
 'Greg McElroy_24995': 24995.0,
 'DaRel Scott_25008': 25008.0,
 'Shane Bannon_25010': 25010.0,
 'Scotty McKnight_25014': 25014.0,
 'Baron Batch_25019': 25019.0,
 'Stephen Burton_25023': 25023.0,
 'Daniel Hardy_25025': 25025.0,
 'Jay Finley_25033': 25033.0,
 'Demarco Sampson_25036': 25036.0,
 'Noel Devine_25172': 25172.0,
 'John Clay_25052': 25052.0,
 'Mario Fannin_25185': 25185.0,
 'Darren Evans_25561': 25561.0,
 'Ben Chappell_25480': 25480.0,
 'Graig Cooper_25044': 25044.0,
 'Brandon Saine_25475': 25475.0,
 'DeAndre Brown_25043': 25043.0,
 'Damien Berry_25355': 25355.0,
 'Nic Grigsby_25325': 25325.0,
 'Emmanuel Arceneaux_24779': 24779.0,
 'Caleb King_25682': 25682.0,
 'Adam Froman_25329': 25329.0,
 'Demario Ballard_25620': 25620.0,
 'Isaac Odim_25165': 25165.0,
 'Josh Portis_25100': 25100.0,
 'Armond Smith_25597': 25597.0,
 'Joseph Morgan_25290': 25290.0,
 'Phillip Livas_25322': 25322.0,
 'Will Yeatman_25316': 25316.0,
 'Zack Pianalto_25394': 25394.0,
 'Kyle Adams_25070': 25070.0,
 'Colin Cochart_25450': 25450.0,
 'Collin Franklin_25298': 25298.0,
 'Mossis Madu_25254': 25254.0,
 'Ryan Mahaffey_25364': 25364.0,
 'Michael Higgins_25284': 25284.0,
 'Adam Weber_25195': 25195.0,
 'Darvin Adams_25414': 25414.0,
 'Adi Kunalic_25419': 25419.0,
 'Armando Allen_25244': 25244.0,
 'Joe Hastings_25221': 25221.0,
 'Austin Sylvester_25194': 25194.0,
 'Richard Medlin_25652': 25652.0,
 'Jarred Fayson_25279': 25279.0,
 'Jerome Messam_25702': 25702.0,
 'Diondre Borel_25458': 25458.0,
 'Eddie McGee_25410': 25410.0,
 'Tommy Gallarda_25114': 25114.0,
 'Mario Harvey_25062': 25062.0,
 'Richard Murphy_25126': 25126.0,
 'Jamie McCoy_24313': 24313.0,
 'Terrence Austin_24195': 24195.0,
 'Dedrick Epps_24210': 24210.0,
 'Ryan DImperio_24212': 24212.0,
 'Sean Canfield_24214': 24214.0,
 'Zac Robinson_24226': 24226.0,
 'Tim Toone_24231': 24231.0,
 'Shawnbrey McNeal_24488': 24488.0,
 'Jevan Snead_24232': 24232.0,
 'Stafon Johnson_24406': 24406.0,
 'Blair White_24463': 24463.0,
 'Freddie Barnes_24420': 24420.0,
 'Ryan Perrilloux_24489': 24489.0,
 'Brett Swenson_24468': 24468.0,
 'Curtis Steele_24360': 24360.0,
 'Scott Sicko_24614': 24614.0,
 'Lonyae Miller_24576': 24576.0,
 'Keith Toston_24300': 24300.0,
 'Dimitri Nance_24267': 24267.0,
 'Keiland Williams_24611': 24611.0,
 'Curtis Brinkley_23971': 23971.0,
 'Quinn Porter_24504': 24504.0,
 'Brandon James_24467': 24467.0,
 'Aaron Pettrey_24355': 24355.0,
 'Jeremy Horne_24238': 24238.0,
 'Max Hall_24281': 24281.0,
 'Mike McLaughlin_24361': 24361.0,
 'Chris Gronkowski_24601': 24601.0,
 'Max Komar_24288': 24288.0,
 'Donald Jones_24270': 24270.0,
 'Jerome Johnson_9781': 9781.0,
 'Duke Calhoun_24552': 24552.0,
 'Dominique Curry_24668': 24668.0,
 'Andre Anderson_24399': 24399.0,
 'Javarris James_24462': 24462.0,
 'Richard Goodman_24491': 24491.0,
 'Verran Tucker_24575': 24575.0,
 'Chris Brooks_24663': 24663.0,
 'Clint Stitser_23972': 23972.0,
 'Rashawn Jackson_24341': 24341.0,
 'Chastin West_24522': 24522.0,
 'Cody Slate_24732': 24732.0,
 'Manase Tonga_24392': 24392.0,
 'Joe Jon Finley_9116': 9116.0,
 'Eron Riley_9662': 9662.0,
 'Rod Windsor_24761': 24761.0,
 'Raymond Radway_25440': 25440.0,
 'Tristan Davis_9624': 9624.0,
 'Austin Signor_26622': 26622.0,
 'Aaron Hernandez_24088': 24088.0,
 'Jahvid Best_24005': 24005.0,
 'Mardy Gilyard_24074': 24074.0,
 'Jeremy Williams_24423': 24423.0,
 'Tony Pike_24180': 24180.0,
 'Shay Hodge_24330': 24330.0,
 'Jarrett Brown_24321': 24321.0,
 'Noah Shepard_24519': 24519.0,
 'Jordan Shipley_24059': 24059.0,
 'Montario Hardesty_24034': 24034.0,
 'John Skelton_24131': 24131.0,
 'Brody Eldridge_24138': 24138.0,
 'Kerry Meier_24141': 24141.0,
 'Jonathan Crompton_24144': 24144.0,
 'Dennis Morris_24150': 24150.0,
 'Charles Scott_24176': 24176.0,
 'Levi Brown_24185': 24185.0,
 'Marquez Branson_9606': 9606.0,
 'Walter Mendenhall_23974': 23974.0,
 'Herb Donaldson_9725': 9725.0,
 'Graham Harrell_24727': 24727.0,
 'Kestahn Moore_9756': 9756.0,
 'Roberto Wallace_24285': 24285.0,
 'John Matthews_9685': 9685.0,
 'Todd Carter_23973': 23973.0,
 'Jehuu Caulcrick_9096': 9096.0,
 'Taj Smith_9044': 9044.0,
 'Britt Davis_9734': 9734.0,
 'Julius Pruitt_9682': 9682.0,
 'Beanie Wells_9295': 9295.0,
 'Nate Davis_9435': 9435.0,
 'James Davis_9459': 9459.0,
 'Rhett Bomar_9415': 9415.0,
 'Pat White_9308': 9308.0,
 'Mohamed Massaquoi_9314': 9314.0,
 'Glen Coffee_9338': 9338.0,
 'Derrick Williams_9346': 9346.0,
 'Patrick Turner_9351': 9351.0,
 'Deon Butler_9355': 9355.0,
 'Juaquin Iglesias_9363': 9363.0,
 'Stephen McGee_9365': 9365.0,
 'Shawn Nelson_9385': 9385.0,
 'Anthony Hill_9386': 9386.0,
 'Gartrell Johnson_9398': 9398.0,
 'Johnny Knox_9404': 9404.0,
 'Kenny McKinley_9405': 9405.0,
 'Jarett Dillard_9408': 9408.0,
 'Davon Drew_9413': 9413.0,
 'Cornelius Ingram_9417': 9417.0,
 'Brooks Foster_9424': 9424.0,
 'John Nalbone_9425': 9425.0,
 'David Buehler_9436': 9436.0,
 'Javon Ringer_9437': 9437.0,
 'Tom Brandstater_9438': 9438.0,
 'Quinten Lawrence_9439': 9439.0,
 'Mike Teel_9442': 9442.0,
 'Aaron Brown_9456': 9456.0,
 'Keith Null_9460': 9460.0,
 'Jake Ingram_9462': 9462.0,
 'Dominique Edison_9470': 9470.0,
 'Javarris Williams_9476': 9476.0,
 'Fui Vakapuna_9479': 9479.0,
 'Eddie Williams_9485': 9485.0,
 'Demetrius Byrd_9488': 9488.0,
 'Manuel Johnson_9493': 9493.0,
 'Sammie Stroughter_9497': 9497.0,
 'Jake OConnell_9501': 9501.0,
 'Marko Mitchell_9507': 9507.0,
 'Derek Kinder_9515': 9515.0,
 'Freddie Brown_9516': 9516.0,
 'Dan Gronkowski_9519': 9519.0,
 'Devin Moore_9667': 9667.0,
 'Jeremiah Johnson_9607': 9607.0,
 'P.J. Hill_9603': 9603.0,
 'Ian Johnson_9597': 9597.0,
 'Marion Brennan_9720': 9720.0,
 'Quan Cosby_9530': 9530.0,
 'Isaac Redman_9674': 9674.0,
 'Tyrell Sutton_9587': 9587.0,
 'John Parker Wilson_9529': 9529.0,
 'Nick Miller_9546': 9546.0,
 'Jovan Belcher_9540': 9540.0,
 'Chris Jennings_9622': 9622.0,
 'Nate Jones_9213': 9213.0,
 'Charly Martin_9695': 9695.0,
 'Kahlil Bell_9701': 9701.0,
 'Rudy Carpenter_9569': 9569.0,
 'Troy Bergeron_8225': 8225.0,
 'Marcus Mailei_9634': 9634.0,
 'Kareem Huggins_9642': 9642.0,
 'Brock Bolen_9635': 9635.0,
 'Hunter Cantwell_9626': 9626.0,
 'Darius Hill_9522': 9522.0,
 'Gary Banks_9083': 9083.0,
 'Colt Brennan_8963': 8963.0,
 'Brian Brohm_8833': 8833.0,
 'John David Booty_8898': 8898.0,
 'Early Doucet_8858': 8858.0,
 'James Hardy_8818': 8818.0,
 'Malcolm Kelly_8828': 8828.0,
 'Martin Rucker_8888': 8888.0,
 'Limas Sweed_8830': 8830.0,
 'Andre Woodson_8975': 8975.0,
 'Devin Thomas_8811': 8811.0,
 'Dexter Jackson_8835': 8835.0,
 'Jacob Hester_8846': 8846.0,
 'Brad Cottam_8853': 8853.0,
 'Steve Slaton_8866': 8866.0,
 'Kevin OConnell_8871': 8871.0,
 'Will Franklin_8882': 8882.0,
 'Marcus Smith_8883': 8883.0,
 'Spergon Wynn_8887': 8887.0,
 'Tashard Choice_8902': 8902.0,
 'Arman Shields_8913': 8913.0,
 'Keenan Burton_8918': 8918.0,
 'Derek Fine_8922': 8922.0,
 'Kenneth Moore_8896': 8896.0,
 'Ryan Torain_8905': 8905.0,
 'Matt Slater_8930': 8930.0,
 'Amos Zereoue_8934': 8934.0,
 'Erik Ainge_8939': 8939.0,
 'Owen Schmitt_8940': 8940.0,
 'Marcus Thomas_8943': 8943.0,
 'Marcus Henry_8948': 8948.0,
 'Thomas Brown_8949': 8949.0,
 'Taylor Mehlhaff_8955': 8955.0,
 'Xavier Omon_8956': 8956.0,
 'Kevin Robinson_8959': 8959.0,
 'Spencer Larsen_8960': 8960.0,
 'Tyler Schmitt_8966': 8966.0,
 'Paul Hubbard_8968': 8968.0,
 'Jaymar Johnson_8970': 8970.0,
 'Tom Santi_8973': 8973.0,
 'Mike Hart_8979': 8979.0,
 'Lex Hilliard_8981': 8981.0,
 'Matt Sherry_8984': 8984.0,
 'Chauncey Washington_8990': 8990.0,
 'Justin Harper_8992': 8992.0,
 'Brett Swain_8994': 8994.0,
 'Alex Brink_9000': 9000.0,
 'Stevie Johnson_9001': 9001.0,
 'Chaz Schilens_9003': 9003.0,
 'Keith Zinger_9009': 9009.0,
 'Brandon Coutu_9012': 9012.0,
 'Adrian Arrington_9014': 9014.0,
 'Cory Boyd_9015': 9015.0,
 'Mike Merritt_9016': 9016.0,
 'Allen Patrick_9017': 9017.0,
 'Mario Urrutia_9023': 9023.0,
 'Marcus Monk_9025': 9025.0,
 'Brandon London_8578': 8578.0,
 'Anthony Alridge_9031': 9031.0,
 'Kregg Lumpkin_9038': 9038.0,
 'Mike Cox_9051': 9051.0,
 'Steven Hauschka_9066': 9066.0,
 'Michael Bumpus_9091': 9091.0,
 'Olaniyi Sobomehin_9179': 9179.0,
 'Joey Haynos_9129': 9129.0,
 'Chad Simpson_9167': 9167.0,
 'Clifton Smith_9168': 9168.0,
 'Jonathan Stupar_9171': 9171.0,
 'James Johnson_9034': 9034.0,
 'Darnell Jenkins_9134': 9134.0,
 'Louis Rankin_9155': 9155.0,
 'Lance Ball_9080': 9080.0,
 'Lynell Hamilton_9126': 9126.0,
 'Maurice Purify_9154': 9154.0,
 'Jake Allen_9076': 9076.0,
 'Albert Young_9177': 9177.0,
 'Nate Hughes_9220': 9220.0,
 'Matt Lawrence_9205': 9205.0,
 'Evan Moore_9539': 9539.0,
 'Ricky Schmitt_9225': 9225.0,
 'JaMarcus Russell_8255': 8255.0,
 'Gaines Adams_8258': 8258.0,
 'Dwayne Jarrett_8299': 8299.0,
 'Kenny Irons_8303': 8303.0,
 'Buster Davis_8284': 8284.0,
 'Anthony Gonzalez_8286': 8286.0,
 'Steve Smith_8305': 8305.0,
 'Tony Hunt_8344': 8344.0,
 'Johnnie Lee Higgins_8353': 8353.0,
 'Troy Smith_8428': 8428.0,
 'Antonio Pittman_8361': 8361.0,
 'Paul Williams_8334': 8334.0,
 'Lorenzo Booker_8325': 8325.0,
 'Chansi Stuckey_8489': 8489.0,
 'David Clowney_8411': 8411.0,
 'Josh Huston_8528': 8528.0,
 'Aaron Barret_8253': 8253.0,
 'John Beck_8294': 8294.0,
 'Chris Henry_8304': 8304.0,
 'Brandon Jackson_8317': 8317.0,
 'Yamon Figurs_8328': 8328.0,
 'Laurent Robinson_8329': 8329.0,
 'Jason Hill_8330': 8330.0,
 'Mike Sims-Walker_8333': 8333.0,
 'Garrett Wolfe_8347': 8347.0,
 'Isaiah Stanback_8357': 8357.0,
 'Dwayne Wright_8365': 8365.0,
 'Ryne Robinson_8372': 8372.0,
 'Kareem Brown_8381': 8381.0,
 'Chris Davis_8382': 8382.0,
 'Martrez Milner_8387': 8387.0,
 'Steve Breaston_8396': 8396.0,
 'Aundrae Allison_8400': 8400.0,
 'Kolby Smith_8402': 8402.0,
 'Jeff Rowe_8405': 8405.0,
 'Kevin Boss_8407': 8407.0,
 'Justin Medlock_8414': 8414.0,
 'Roy Hall_8423': 8423.0,
 'Legedu Naanee_8426': 8426.0,
 'Oren ONeal_8429': 8429.0,
 'Reagan Mauia_8435': 8435.0,
 'Thomas Clayton_8440': 8440.0,
 'Joel Filani_8442': 8442.0,
 'Michael Wiley_8444': 8444.0,
 'Korey Hall_8445': 8445.0,
 'Deon Anderson_8449': 8449.0,
 'Courtney Taylor_8451': 8451.0,
 'Justise Hairston_8462': 8462.0,
 'Jordan Kent_8464': 8464.0,
 'Ben Patrick_8469': 8469.0,
 'Tyler Ecker_8470': 8470.0,
 'Derek Schouman_8476': 8476.0,
 'Dallas Baker_8481': 8481.0,
 'DeShawn Wynn_8482': 8482.0,
 'John Broussard_8483': 8483.0,
 'Michael Allan_8485': 8485.0,
 'Chandler Williams_8487': 8487.0,
 'Syndric Steptoe_8488': 8488.0,
 'Nate Ilaoa_8490': 8490.0,
 'Jason Snelling_8498': 8498.0,
 'Kenneth Darby_8500': 8500.0,
 'Derek Stanley_8503': 8503.0,
 'Johnathan Holland_8508': 8508.0,
 'Gary Russell_8530': 8530.0,
 'Selvin Young_8523': 8523.0,
 'Clifton Dawson_8541': 8541.0,
 'Matt Gutierrez_8539': 8539.0,
 'Biren Ealy_8540': 8540.0,
 'Daniel Coats_8542': 8542.0,
 'Marcus Freeman_8543': 8543.0,
 'Cody Boyd_8555': 8555.0,
 'Tyler Palko_8639': 8639.0,
 'Michael Matthews_8569': 8569.0,
 'Tim Castille_8549': 8549.0,
 'Charles Ali_8546': 8546.0,
 'Matt Willis_8627': 8627.0,
 'Darius Walker_8646': 8646.0,
 'Gilbert Harris_8681': 8681.0,
 'D.J. Ware_8524': 8524.0,
 'D.D. Terry_8514': 8514.0,
 'Logan Payne_8678': 8678.0,
 'Brett Ratliff_8622': 8622.0,
 'Marcus Mason_8557': 8557.0,
 'Gijon Robinson_8661': 8661.0,
 'Maurice Price_9035': 9035.0,
 'Buck Ortega_8082': 8082.0,
 'Darrell Hackney_8673': 8673.0,
 'Dominique Zeigler_8671': 8671.0,
 'Alonzo Coleman_8572': 8572.0,
 'Stefan Logan_9559': 9559.0,
 'Matt Leinart_7759': 7759.0,
 'Laurence Maroney_7770': 7770.0,
 'Joseph Addai_7779': 7779.0,
 'Chad Jackson_7785': 7785.0,
 'Sinorice Moss_7793': 7793.0,
 'LenDale White_7794': 7794.0,
 'Joe Klopfenstein_7795': 7795.0,
 'Leonard Pope_7821': 7821.0,
 'Brian Calhoun_7823': 7823.0,
 'Travis Wilson_7827': 7827.0,
 'Jerious Norwood_7828': 7828.0,
 'Brandon Williams_7833': 7833.0,
 'Brodie Croyle_7834': 7834.0,
 'Dave Thomas_7835': 7835.0,
 'Maurice Stovall_7839': 7839.0,
 'Dominique Byrd_7842': 7842.0,
 'Willie Reid_7844': 7844.0,
 'Garrett Mills_7855': 7855.0,
 'Demetrius Williams_7860': 7860.0,
 'Skyler Green_7874': 7874.0,
 'Floyd Turner_7878': 7878.0,
 'P.J. Daniels_7881': 7881.0,
 'Kevin Turner_7890': 7890.0,
 'Marques Hagans_7893': 7893.0,
 'Jerome Harrison_7894': 7894.0,
 'Jeremy Bloom_7896': 7896.0,
 'Ingle Martin_7897': 7897.0,
 'Jason Pociask_7899': 7899.0,
 'Jeff King_7904': 7904.0,
 'David Kirtman_7912': 7912.0,
 'Omar Jacobs_7913': 7913.0,
 'Quinn Sypniewski_7915': 7915.0,
 'Charles Davis_7916': 7916.0,
 'Wali Lundy_7919': 7919.0,
 'Mike Hass_7920': 7920.0,
 'Jonathan Orr_7921': 7921.0,
 'Lawrence Vickers_7929': 7929.0,
 'Adam Jennings_7933': 7933.0,
 'Kurt Smith_7937': 7937.0,
 'Jeff Webb_7939': 7939.0,
 'Reggie McNeal_7942': 7942.0,
 'J.D. Runnels_7944': 7944.0,
 'Mike Vanderjagt_7950': 7950.0,
 'T.J. Williams_7951': 7951.0,
 'Todd Watkins_7967': 7967.0,
 'D.J. Shockley_7972': 7972.0,
 'Michael Vick_7973': 7973.0,
 'Bennie Brazell_7980': 7980.0,
 'Devin Aromashodu_7982': 7982.0,
 'Cedric Humes_7989': 7989.0,
 'Tim Massaquoi_7993': 7993.0,
 'Quinton Ganther_7995': 7995.0,
 'Ben Obomanu_7998': 7998.0,
 'David Anderson_8000': 8000.0,
 'Kevin McMahan_8004': 8004.0,
 'Mike Bell_8008': 8008.0,
 'Hank Baskett_8010': 8010.0,
 'Sam Hurd_8024': 8024.0,
 'Patrick Cobbs_8011': 8011.0,
 'Diamond Ferri_7739': 7739.0,
 'Shaun Bodiford_8047': 8047.0,
 'Jason Carter_8116': 8116.0,
 'Devale Ellis_8093': 8093.0,
 'Chris Hannon_8035': 8035.0,
 'Derrick Ross_8037': 8037.0,
 'John Madsen_8043': 8043.0,
 'Ahmard Hall_8041': 8041.0,
 'Jason Rader_7618': 7618.0,
 'Marquis Weeks_7662': 7662.0,
 'Marcus Vick_8007': 8007.0,
 'Chris Francies_8095': 8095.0,
 'Glenn Holt_8076': 8076.0,
 'Brian Clark_8090': 8090.0,
 'P.J. Pope_8073': 8073.0,
 'Kay-Jay Harris_7616': 7616.0,
 'Zac Alcorn_8094': 8094.0,
 'Mike Espy_8163': 8163.0,
 'Charles Sharon_8108': 8108.0,
 'Naufahu Tahi_8078': 8078.0,
 'Wallace Wright_8134': 8134.0,
 'Chris Taylor_8101': 8101.0,
 'Cory Ross_8015': 8015.0,
 'Brett Basanez_8066': 8066.0,
 'Anthony Sherrell_8224': 8224.0,
 'Cooper Wallace_8162': 8162.0,
 'Andy Thorn_7653': 7653.0,
 'Stacy Tutt_8133': 8133.0,
 'Steven I Jackson_8068': 8068.0,
 'William Buchanon_8136': 8136.0,
 'Martin Nance_8118': 8118.0,
 'Darcy Johnson_8127': 8127.0,
 'James Sims_8129': 8129.0,
 'Jamaal Branch_8122': 8122.0,
 'Quinton Porter_8099': 8099.0,
 'Anthony Mix_8128': 8128.0,
 'Ryan Grant_7635': 7635.0,
 'Greg Estandia_8105': 8105.0,
 'Jason Davis_8582': 8582.0,
 'Spencer Havner_8177': 8177.0,
 'Eldra Buckley_8685': 8685.0,
 'Josh Davis_7627': 7627.0,
 'Braylon Edwards_7179': 7179.0,
 'Cedric Benson_7180': 7180.0,
 'Carnell Williams_7181': 7181.0,
 'Troy Williamson_7183': 7183.0,
 'Matt Jones_7197': 7197.0,
 'Mark Clayton_7198': 7198.0,
 'Reggie Brown_7211': 7211.0,
 'Mark Bradley_7215': 7215.0,
 'J.J. Arrington_7220': 7220.0,
 'Eric Shelton_7230': 7230.0,
 'Roscoe Parrish_7231': 7231.0,
 'Darrent Williams_7232': 7232.0,
 'Terrence Murphy_7234': 7234.0,
 'Charlie Frye_7243': 7243.0,
 'Andrew Walter_7245': 7245.0,
 'Vernand Morency_7249': 7249.0,
 'Ryan Moats_7253': 7253.0,
 'Chris Henry_7259': 7259.0,
 'David Greene_7261': 7261.0,
 'Kevin Everett_7262': 7262.0,
 'Brandon Jones_7272': 7272.0,
 'Maurice Clarett_7277': 7277.0,
 'Marion Barber_7285': 7285.0,
 'Brandon Jacobs_7286': 7286.0,
 'Tony Stewart_7287': 7287.0,
 'Ciatrick Fason_7288': 7288.0,
 'Jerome Mathis_7290': 7290.0,
 'Craphonso Thorpe_7292': 7292.0,
 'Chase Lyman_7294': 7294.0,
 'Manuel White_7296': 7296.0,
 'Stefan Lefors_7297': 7297.0,
 'J.J. Stokes_7302': 7302.0,
 'Alvin Pearman_7303': 7303.0,
 'Fred Gibson_7307': 7307.0,
 'Roydell Williams_7312': 7312.0,
 'Boomer Grigsby_7314': 7314.0,
 'Airese Currie_7316': 7316.0,
 'Damien Nash_7318': 7318.0,
 'Jerome Collins_7320': 7320.0,
 'Pete Stoyanovich_7326': 7326.0,

In [36]:
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN

In [37]:
master_raw = master_raw[((master_raw['stats_id'] < 101000) & (master_raw['stats_id'] > 3720)) | (master_raw['stats_id'].isna())]

In [38]:
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_41787,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN

In [39]:
master_raw[master_raw['name'] == 'Antwane Wells']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN

In [40]:
master_raw.loc[(master_raw['match_key'].isin(updated_yahoo_maps.keys())) & (master_raw['mapped_ids'].isna()), 'mapped_ids'] = master_raw.loc[(master_raw['match_key'].isin(updated_yahoo_maps.keys())) & (master_raw['mapped_ids'].isna()), 'match_key'].map(updated_yahoo_maps)

In [41]:
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>,NaN

In [42]:
master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5432 entries, 0 to 12143
Data columns (total 38 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            5432 non-null   int64
 1   sportradar_id     3263 non-null   object
 2   fantasypros_id    2489 non-null   float64
 3   gsis_id           3339 non-null   object
 4   pff_id            3146 non-null   float64
 5   sleeper_id        2844 non-null   float64
 6   nfl_id            3091 non-null   float64
 7   espn_id           3457 non-null   float64
 8   yahoo_id          2684 non-null   float64
 9   fleaflicker_id    493 non-null    float64
 10  cbs_id            4130 non-null   float64
 11  pfr_id            3917 non-null   object
 12  cfbref_id         2171 non-null   object
 13  rotowire_id       4749 non-null   float64
 14  rotoworld_id      3257 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4339 non-null   float64
 17  stats_global_id   5380 non-null   float64
 18  fantasy_data_id   2513 non-null   float64
 19  swish_id          1466 non-null   float64
 20  name              5432 non-null   object
 21  merge_name        5432 non-null   object
 22  position          5432 non-null   object
 23  team              5432 non-null   object
 24  birthdate         4889 non-null   object
 25  age               4889 non-null   float64
 26  draft_year        5380 non-null   float64
 27  draft_round       2830 non-null   float64
 28  draft_pick        2782 non-null   float64
 29  draft_ovr         2514 non-null   float64
 30  twitter_username  1009 non-null   object
 31  height            4981 non-null   float64
 32  weight            5161 non-null   float64
 33  college           5155 non-null   object
 34  db_season         5432 non-null   int64
 35  cleaned_name      5432 non-null   object
 36  match_key         5432 non-null   object
 37  mapped_ids        4339 non-null   float64
dtypes: float64(23), int64(2), object(13)
memory usage: 1.6+ MB

In [43]:
master_raw[(master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])) & (master_raw['stats_id'].isna())]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
141,17171,1e95c7fc-ecf7-4fcb-82d8-d77e2b6872d5,27315.0,00-0040705,129918.0,12540.0,58308.0,4431268.0,NaN,NaN,3162452.0,DikeCh00,NaN,18641.0,NaN,1814.0,NaN,0.0,25987.0,NaN,Chimere Dike,chimere dike,WR,TEN,2001-12-14,23.8,2025.0,4.0,1.0,103.0,NaN,73.0,196.0,Florida,2025,Chimere Dike,Chimere Dike_<NA>,NaN
245,17277,7bf5a2e0-2512-11f0-9825-33176da47896,27261.0,00-0040279,99867.0,12961.0,58715.0,4568263.0,NaN,NaN,NaN,FitzRy01,NaN,18508.0,NaN,NaN,NaN,0.0,26108.0,NaN,Ryan Fitzgerald,ryan fitzgerald,PK,CAR,2000-08-13,25.2,2025.0,NaN,NaN,NaN,NaN,71.0,193.0,Florida State,2025,Ryan Fitzgerald,Ryan Fitzgerald_<NA>,NaN
344,17396,NaN,NaN,00-0040534,123406.0,NaN,58980.0,4570738.0,NaN,NaN,NaN,WillKe08,NaN,18841.0,NaN,NaN,NaN,0.0,NaN,NaN,Ke'Shawn Williams,keshawn williams,WR,PIT,2001-12-27,23.8,2025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,KeShawn Williams,KeShawn Williams_<NA>,NaN
402,16634,ffd59710-0582-11ef-823c-c3942ac17525,23957.0,00-0039521,101130.0,11921.0,57639.0,4428811.0,41202.0,NaN,3131562.0,WeavXa00,NaN,18041.0,NaN,NaN,NaN,0.0,25032.0,1180538.0,Xavier Weaver,xavier weaver,WR,ARI,2000-10-12,25.0,2024.0,NaN,NaN,NaN,NaN,73.0,185.0,Colorado,2025,Xavier Weaver,Xavier Weaver_<NA>,NaN
406,16638,NaN,NaN,NaN,NaN,NaN,NaN,4427225.0,NaN,NaN,NaN,NaN,NaN,17006.0,NaN,NaN,NaN,0.0,NaN,NaN,Zakhari Franklin,zakhari franklin,WR,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi,2025,Zakhari Franklin,Zakhari Franklin_<NA>,NaN
741,16195,ea3d1393-8c3b-4e81-a519-f636d28d692e,24354.0,00-0038393,99711.0,9486.0,56024.0,4428850.0,40201.0,NaN,3122375.0,WickDo00,dontayvion-wicks-1,16658.0,NaN,1448.0,NaN,0.0,23253.0,1172428.0,Dontayvion Wicks,dontayvion wicks,WR,GBP,2001-06-16,24.3,2023.0,5.0,24.0,159.0,NaN,73.0,206.0,Virginia,2025,Dontayvion Wicks,Dontayvion Wicks_<NA>,NaN
766,16220,5d4a5e4f-7c74-4b4c-b8e5-33bb831e3057,23821.0,00-0038394,77888.0,10220.0,56027.0,4362523.0,40180.0,NaN,2962073.0,MallWi00,will-mallory-1,17014.0,NaN,NaN,NaN,0.0,23143.0,1121873.0,Will Mallory,will mallory,TE,IND,1999-06-22,26.3,2023.0,5.0,27.0,162.0,NaN,76.0,239.0,Miami (FL),2025,Will Mallory,Will Mallory_<NA>,NaN
2271,14091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tre Watson,tre watson,RB,FA,NaN,NaN,2019.0,NaN,NaN,NaN,NaN,71.0,195.0,Texas,2025,Tre Watson,Tre Watson_<NA>,NaN
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,Tyron Billy-Johnson,Tyron Billy-Johnson_<NA>,NaN
2737,13643,1dea7b00-f200-470f-8912-ca9d87ceb7e2,NaN,00-0034068,28580.0,5164.0,46326.0,3128251.0,31397.0,NaN,2924881.0,CobbSi00,NaN,12480.0,13386.0,NaN,NaN,0.0,20107.0,NaN,Simmie Cobbs,simmie cobbs,WR,FA,1995-08-25,30.1,2018.0,NaN,NaN,NaN,NaN,75.0,220.0,Indiana,2025,Simmie Cobbs,Simmie Cobbs_<NA>,NaN
3160,13151,cf338764-9e5b-488e-888f-2443b0b5fc64,NaN,NaN,NaN,4923.0,NaN,2970270.0,30390.0,NaN,NaN,NaN,NaN,11772.0,NaN,NaN,NaN,0.0,19161.0,NaN,Rushel Shell,rushel shell,RB,FA,1993-09-07,32.1,2017.0,NaN,NaN,NaN,NaN,70.0,225.0,West Virginia,2025,Rushel Shell,Rushel Shell_<NA>,NaN
3527,14576,2e67a3f9-b3e8-409b-a61f-adc76fb83115,NaN,00-0034035,48081.0,4829.0,45859.0,3060347.0,30938.0,NaN,NaN,NaN,NaN,12374.0,NaN,NaN,NaN,753865.0,19733.0,NaN,Daniel Williams,daniel williams,WR,FA,1995-08-06,25.8,2017.0,NaN,NaN,NaN,NaN,75.0,200.0,Jackson State,2025,Daniel Williams,Daniel Williams_<NA>,NaN
8909,5793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WileMi00,michael-wiley-1,1343.0,NaN,NaN,NaN,0.0,NaN,NaN,Michael Wiley,michael wiley,RB,FA,1978-01-05,43.3,2000.0,5.0,15.0,144.0,NaN,71.0,185.0,Ohio State,2025,Michael Wiley,Michael Wiley_<NA>,NaN
8939,5824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WillJa01,james-williams-5,1344.0,NaN,NaN,NaN,0.0,NaN,NaN,James Williams,james williams,WR,FA,1978-03-06,43.2,2000.0,6.0,9.0,175.0,NaN,71.0,185.0,Marshall,2025,James Williams,James Williams_<NA>,NaN
9126,3999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Nick Williams,nick williams,RB,CIN,1977-03-30,44.1,1999.0,5.0,2.0,NaN,NaN,73.0,270.0,Miami (Fla.),2025,Nick Williams,Nick Williams_<NA>,NaN
9146,4030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnMa00,malcolm-johnson-1,1186.0,NaN,NaN,NaN,0.0,NaN,NaN,Malcolm Johnson,malcolm johnson,WR,FA,1977-08-27,43.7,1999.0,5.0,33.0,166.0,NaN,76.0,210.0,Notre Dame,2025,Malcolm Johnson,Malcolm Johnson_<NA>,NaN
9469,2992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnLe00,leon-johnson-1,809.0,NaN,NaN,NaN,0.0,NaN,NaN,Leon Johnson,leon johnson,RB,FA,1974-07-13,46.8,1997.0,4.0,8.0,104.0,NaN,NaN,215.0,North Carolina,2025,Leon Johnson,Leon Johnson_<NA>,NaN
9525,3078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Oronde Gadsden,oronde gadsden,WR,MIA,1975-07-30,45.8,1997.0,7.0,2.0,NaN,NaN,71.0,197.0,Northwestern,2025,Oronde Gadsden,Oronde Gadsden_<NA>,NaN
9620,2706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BrowRe00,reggie-brown-7,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Reggie Brown,reggie brown,RB,FA,1973-06-26,47.9,1996.0,3.0,30.0,91.0,NaN,72.0,244.0,Fresno State,2025,Reggie Brown,Reggie Brown_<NA>,NaN
9634,2725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JoneCh00,charlie-jones-4,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Charlie Jones,charlie jones,WR,FA,1972-12-01,48.4,1996.0,4.0,19.0,114.0,NaN,68.0,175.0,Fresno State,2025,Charlie Jones,Charlie Jones_<NA>,NaN
9839,3828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,844.0,NaN,NaN,0.0,NaN,NaN,Marvin Harrison,marvin harrison,WR,IND,1973-08-26,47.7,1995.0,2.0,17.0,NaN,NaN,75.0,315.0,TCU,2025,Marvin Harrison,Marvin Harrison_<NA>,NaN
9844,3852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Matt Hasselbeck,matt hasselbeck,QB,SEA,NaN,NaN,1995.0,6.0,5.0,NaN,NaN,NaN,NaN,California,2025,Matt Hasselbeck,Matt Hasselbeck_<NA>,NaN
9872,1350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnCh00,charles-e-johnson-1,525.0,NaN,NaN,NaN,0.0,NaN,NaN,Charles Johnson,charles johnson,WR,FA,1972-01-03,49.3,1994.0,1.0,17.0,17.0,NaN,72.0,189.0,Colorado,2025,Charles Johnson,Charles Johnson_<NA>,NaN
10001,1622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SmitIr00,irv-smith-1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Irv Smith,irv smith,TE,FA,1971-10-13,49.6,1993.0,1.0,20.0,20.0,NaN,75.0,246.0,Notre Dame,2025,Irv Smith,Irv Smith_<NA>,NaN
10191,4392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Sebastian Janikowski,sebastian janikowski,PK,OAK,NaN,NaN,1992.0,7.0,24.0,NaN,NaN,NaN,NaN,Houston,2025,Sebastian Janikowski,Sebastian Janikowski_<NA>,NaN
10206,4494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Anthony Johnson,anthony johnson,RB,FA,NaN,NaN,1992.0,12.0,26.0,NaN,NaN,NaN,NaN,Virginia Tech,2025,Anthony Johnson,Anthony Johnson_<NA>,NaN
10290,4512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Charles Johnson,charles johnson,WR,FA,NaN,NaN,1991.0,3.0,14.0,NaN,NaN,NaN,NaN,Colorado,2025,Charles Johnson,Charles Johnson_<NA>,NaN
10301,4578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Leon Johnson,leon johnson,RB,NYJ,NaN,NaN,1991.0,8.0,6.0,NaN,NaN,NaN,NaN,Nebraska,2025,Leon Johnson,Leon Johnson_<NA>,NaN
10304,4593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Malcolm Johnson,malcolm johnson,WR,PIT,NaN,NaN,1991.0,9.0,5.0,NaN,NaN,NaN,NaN,Arkansas State,2025,Malcolm Johnson,Malcolm Johnson_<NA>,NaN
10314,4644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Charlie Jones,charlie jones,WR,SDC,NaN,NaN,1991.0,11.0,10.0,NaN,NaN,NaN,NaN,UCLA,2025,Charlie Jones,Charlie Jones_<NA>,NaN
10336,1348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JohnAn00,anthony-johnson-5,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Anthony Johnson,anthony johnson,RB,FA,NaN,NaN,1990.0,2.0,11.0,36.0,NaN,74.0,304.0,Notre Dame,2025,Anthony Johnson,Anthony Johnson_<NA>,NaN
10352,1708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WarrCh00,chris-warren-2,573.0,NaN,NaN,NaN,0.0,NaN,NaN,Chris Warren,chris warren,RB,FA,NaN,NaN,1990.0,4.0,8.0,89.0,NaN,74.0,225.0,NaN,2025,Chris Warren,Chris Warren_<NA>,NaN
10383,6004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Santana Moss,santana moss,WR,NYJ,NaN,NaN,1990.0,2.0,16.0,NaN,NaN,NaN,NaN,Notre Dame,2025,Santana Moss,Santana Moss_<NA>,NaN
10419,1146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Reggie Brown,reggie brown,RB,SEA,NaN,NaN,1989.0,3.0,7.0,NaN,NaN,76.0,234.0,Iowa,2025,Reggie Brown,Reggie Brown_<NA>,NaN
10489,1152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BrowTi00,tim-brown-3,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tim Brown,tim brown,WR,OAK,NaN,NaN,1988.0,1.0,20.0,6.0,NaN,70.0,178.0,Arizona State,2025,Tim Brown,Tim Brown_<NA>,NaN
10556,5274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Peyton Manning,peyton manning,QB,IND,NaN,NaN,1987.0,NaN,NaN,NaN,NaN,73.0,218.0,Pittsburgh,2025,Peyton Manning,Peyton Manning_<NA>,NaN
10620,3630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Hall,john hall,PK,NYJ,NaN,NaN,1984.0,NaN,NaN,NaN,NaN,70.0,196.0,LSU,2025,John Hall,John Hall_<NA>,NaN
11045,3501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0,NaN,NaN,NaN,0.0,NaN,NaN,Oronde Gadsden,oronde gadsden,WR,FA,1971-08-20,49.7,0.0,NaN,NaN,NaN,NaN,NaN,218.0,NaN,2025,Oronde Gadsden,Oronde Gadsden_<NA>,NaN
11081,3564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Rodney Williams,rodney williams,WR,FA,1973-08-15,47.7,0.0,NaN,NaN,NaN,NaN,NaN,185.0,Arizona,2025,Rodney Williams,Rodney Williams_<NA>,NaN
11166,4819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2371.0,NaN,NaN,NaN,0.0,NaN,NaN,Chris Coleman,chris coleman,WR,FA,1977-05-08,44.0,0.0,NaN,NaN,NaN,NaN,72.0,202.0,North Carolina State,2025,Chris Coleman,Chris Coleman_<NA>,NaN
11273,5528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1290.0,NaN,NaN,NaN,0.0,NaN,NaN,Justin Watson,justin watson,RB,FA,1975-01-07,46.3,0.0,NaN,NaN,NaN,NaN,NaN,225.0,San Diego State,2025,Justin Watson,Justin Watson_<NA>,NaN
11290,5546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734314.0,NaN,NaN,Reggie Davis,reggie davis,TE,FA,1976-09-03,44.7,0.0,NaN,NaN,NaN,NaN,72.0,170.0,Washington,2025,Reggie Davis,Reggie Davis_<NA>,NaN
11476,6480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Reggie White,reggie white,RB,FA,1979-07-11,41.8,0.0,NaN,NaN,NaN,NaN,72.0,228.0,Oklahoma State,2025,Reggie White,Reggie White_<NA>,NaN
12056,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,David Akers,david akers,PK,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,David Akers,David Akers_<NA>,NaN
12135,948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tom Brady,tom brady,QB,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Tom Brady,Tom Brady_<NA>,NaN
12138,966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Drew Brees,drew brees,QB,SDC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Drew Brees,Drew Brees_<NA>,NaN

START HERE -- YOU WERE FIGURING OUT IF YOU COULD DROP TEH DUPLIACTES AND IT LOOKS LIKE YOU CAN

In [44]:
master_raw = master_raw[~((master_raw['cleaned_name'].duplicated(keep=False)) & (master_raw['mapped_ids'].isna()))]
master_raw[master_raw['mapped_ids'].isna()].head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>,NaN

In [45]:
master_raw.loc[(master_raw['mapped_ids'].isna()) & (master_raw['yahoo_id'].notna()), 'mapped_ids'] = master_raw.loc[(master_raw['mapped_ids'].isna()) & (master_raw['yahoo_id'].notna()), 'yahoo_id']
master_raw[master_raw['mapped_ids'].isna()]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
35,17065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Henry Parrish,henry parrish,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,70.0,185.0,Mississippi,2025,Henry Parrish,Henry Parrish_<NA>,NaN
37,17067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,John Emery,john emery,RB,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,72.0,220.0,LSU,2025,John Emery,John Emery_<NA>,NaN
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
64,17094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18456.0,NaN,NaN,NaN,0.0,NaN,NaN,Kyren Lacy,kyren lacy,XX,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,213.0,LSU,2025,Kyren Lacy,Kyren Lacy_<NA>,NaN
80,17110,NaN,NaN,NaN,NaN,11594.0,NaN,NaN,NaN,NaN,2965087.0,NaN,NaN,18541.0,NaN,NaN,NaN,0.0,NaN,NaN,Brant Kuithe,brant kuithe,TE,FA,NaN,NaN,2025.0,NaN,NaN,NaN,NaN,74.0,236.0,Utah,2025,Brant Kuithe,Brant Kuithe_<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12107,792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jeff Blake,jeff blake,QB,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Jeff Blake,Jeff Blake_<NA>,NaN
12109,804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Drew Bledsoe,drew bledsoe,QB,NEP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Drew Bledsoe,Drew Bledsoe_<NA>,NaN
12127,902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R.j. Bowers,rj bowers,RB,CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,R.j. Bowers,R.j. Bowers_<NA>,NaN
12134,942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kyle Brady,kyle brady,TE,JAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Kyle Brady,Kyle Brady_<NA>,NaN
12140,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Doug Brien,doug brien,PK,NOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,Doug Brien,Doug Brien_<NA>,NaN

In [46]:
master_raw['mapped_ids'].isna().sum()

np.int64(602)

In [47]:
master_raw.loc[(master_raw['mapped_ids'].isna()) & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,Antwane Wells,Antwane Wells_<NA>,NaN
141,17171,1e95c7fc-ecf7-4fcb-82d8-d77e2b6872d5,27315.0,00-0040705,129918.0,12540.0,58308.0,4431268.0,NaN,NaN,3162452.0,DikeCh00,NaN,18641.0,NaN,1814.0,NaN,0.0,25987.0,NaN,Chimere Dike,chimere dike,WR,TEN,2001-12-14,23.8,2025.0,4.0,1.0,103.0,NaN,73.0,196.0,Florida,2025,Chimere Dike,Chimere Dike_<NA>,NaN
245,17277,7bf5a2e0-2512-11f0-9825-33176da47896,27261.0,00-0040279,99867.0,12961.0,58715.0,4568263.0,NaN,NaN,NaN,FitzRy01,NaN,18508.0,NaN,NaN,NaN,0.0,26108.0,NaN,Ryan Fitzgerald,ryan fitzgerald,PK,CAR,2000-08-13,25.2,2025.0,NaN,NaN,NaN,NaN,71.0,193.0,Florida State,2025,Ryan Fitzgerald,Ryan Fitzgerald_<NA>,NaN
344,17396,NaN,NaN,00-0040534,123406.0,NaN,58980.0,4570738.0,NaN,NaN,NaN,WillKe08,NaN,18841.0,NaN,NaN,NaN,0.0,NaN,NaN,Ke'Shawn Williams,keshawn williams,WR,PIT,2001-12-27,23.8,2025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,KeShawn Williams,KeShawn Williams_<NA>,NaN
406,16638,NaN,NaN,NaN,NaN,NaN,NaN,4427225.0,NaN,NaN,NaN,NaN,NaN,17006.0,NaN,NaN,NaN,0.0,NaN,NaN,Zakhari Franklin,zakhari franklin,WR,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi,2025,Zakhari Franklin,Zakhari Franklin_<NA>,NaN
2271,14091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tre Watson,tre watson,RB,FA,NaN,NaN,2019.0,NaN,NaN,NaN,NaN,71.0,195.0,Texas,2025,Tre Watson,Tre Watson_<NA>,NaN
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,Tyron Billy-Johnson,Tyron Billy-Johnson_<NA>,NaN
11166,4819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2371.0,NaN,NaN,NaN,0.0,NaN,NaN,Chris Coleman,chris coleman,WR,FA,1977-05-08,44.0,0.0,NaN,NaN,NaN,NaN,72.0,202.0,North Carolina State,2025,Chris Coleman,Chris Coleman_<NA>,NaN

In [48]:
master_raw.loc[(master_raw['mapped_ids'].isna()) & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])),
               'mapped_ids'] = master_raw.loc[(master_raw['mapped_ids'].isna()) & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])), 'cleaned_name'].map((yahoo_players[~yahoo_players['cleaned_name'].duplicated(keep=False)]).set_index('cleaned_name')['player_id'])

master_raw[master_raw['cleaned_name'] == 'Ryan Fitzgerald']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
245,17277,7bf5a2e0-2512-11f0-9825-33176da47896,27261.0,00-0040279,99867.0,12961.0,58715.0,4568263.0,NaN,NaN,NaN,FitzRy01,NaN,18508.0,NaN,NaN,NaN,0.0,26108.0,NaN,Ryan Fitzgerald,ryan fitzgerald,PK,CAR,2000-08-13,25.2,2025.0,NaN,NaN,NaN,NaN,71.0,193.0,Florida State,2025,Ryan Fitzgerald,Ryan Fitzgerald_<NA>,42262.0

In [49]:
master_raw.loc[master_raw['mapped_ids'].isna() & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])), 'mapped_ids'] = 32511

In [50]:
master_raw[master_raw['mapped_ids'].isna() & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name']))]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [51]:
master_raw = master_raw[master_raw['mapped_ids'].notna()]
master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4356 entries, 0 to 12040
Data columns (total 38 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4356 non-null   int64
 1   sportradar_id     3260 non-null   object
 2   fantasypros_id    2489 non-null   float64
 3   gsis_id           3339 non-null   object
 4   pff_id            3146 non-null   float64
 5   sleeper_id        2837 non-null   float64
 6   nfl_id            3091 non-null   float64
 7   espn_id           3456 non-null   float64
 8   yahoo_id          2684 non-null   float64
 9   fleaflicker_id    493 non-null    float64
 10  cbs_id            4096 non-null   float64
 11  pfr_id            3537 non-null   object
 12  cfbref_id         1843 non-null   object
 13  rotowire_id       4243 non-null   float64
 14  rotoworld_id      3203 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4339 non-null   float64
 17  stats_global_id   4356 non-null   float64
 18  fantasy_data_id   2509 non-null   float64
 19  swish_id          1466 non-null   float64
 20  name              4356 non-null   object
 21  merge_name        4356 non-null   object
 22  position          4356 non-null   object
 23  team              4356 non-null   object
 24  birthdate         4337 non-null   object
 25  age               4337 non-null   float64
 26  draft_year        4356 non-null   float64
 27  draft_round       2220 non-null   float64
 28  draft_pick        2214 non-null   float64
 29  draft_ovr         2134 non-null   float64
 30  twitter_username  963 non-null    object
 31  height            4264 non-null   float64
 32  weight            4347 non-null   float64
 33  college           4337 non-null   object
 34  db_season         4356 non-null   int64
 35  cleaned_name      4356 non-null   object
 36  match_key         4356 non-null   object
 37  mapped_ids        4356 non-null   float64
dtypes: float64(23), int64(2), object(13)
memory usage: 1.3+ MB

In [52]:
master_raw.loc[master_raw['match_key'].str.contains('<NA>'), 'match_key'] = master_raw.loc[master_raw['match_key'].str.contains('<NA>'), 'cleaned_name'] + '_' + master_raw.loc[master_raw['match_key'].str.contains('<NA>'), 'mapped_ids'].astype(int).astype(str)
master_raw.loc[master_raw['match_key'].str.contains('<NA>')]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids]
Index: []

In [53]:
master_raw['match_key'] = master_raw['match_key'].str.replace('.0', '', regex=False)

In [54]:
master_raw['mapped_ids'] = master_raw['mapped_ids'].astype(int)

In [55]:
master_raw.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
0,17030,3c76cab3-3df2-43dd-acaa-57e055bd32d0,24755.0,00-0040676,133244.0,12522.0,58203.0,4688380.0,NaN,NaN,3168422.0,WardCa00,NaN,16997.0,NaN,1730.0,41786.0,0.0,25323.0,NaN,Cam Ward,cam ward,QB,TEN,2002-05-25,23.4,2025.0,1.0,1.0,1.0,NaN,74.0,219.0,Miami (FL),2025,Cam Ward,Cam Ward_41786,41786
1,17031,270e09bc-8bf8-44b0-87ed-1fd014de4ab7,25968.0,00-0040668,131396.0,12524.0,58349.0,4432762.0,NaN,NaN,26710004.0,SandSh00,NaN,18479.0,NaN,1731.0,41930.0,0.0,26079.0,NaN,Shedeur Sanders,shedeur sanders,QB,CLE,2002-02-07,23.7,2025.0,5.0,6.0,144.0,NaN,74.0,212.0,Colorado,2025,Shedeur Sanders,Shedeur Sanders_41930,41930
2,17032,53848cba-bcad-4cd0-bb35-0a1f6ed111d1,23160.0,00-0040691,146409.0,12508.0,58227.0,4689114.0,NaN,NaN,26694019.0,DartJa00,NaN,18574.0,NaN,1732.0,41810.0,0.0,26082.0,NaN,Jaxson Dart,jaxson dart,QB,NYG,2003-05-13,22.4,2025.0,1.0,25.0,25.0,NaN,74.0,223.0,Ole Miss,2025,Jaxson Dart,Jaxson Dart_41810,41810
3,17033,b0eb5b67-4ef2-462d-bfe7-e73bcce1f6b0,22884.0,00-0040673,146590.0,12510.0,58297.0,4432734.0,NaN,NaN,26694943.0,MilrJa00,NaN,18477.0,NaN,1733.0,41882.0,0.0,25882.0,NaN,Jalen Milroe,jalen milroe,QB,SEA,2002-12-13,22.8,2025.0,3.0,28.0,92.0,NaN,74.0,216.0,Alabama,2025,Jalen Milroe,Jalen Milroe_41882,41882
4,17034,d89f0384-21a6-44e4-8aa6-324cb2103bf6,23680.0,00-0040234,127253.0,12500.0,58436.0,4889929.0,NaN,NaN,26746721.0,EwerQu00,NaN,18505.0,NaN,1734.0,42037.0,0.0,26048.0,NaN,Quinn Ewers,quinn ewers,QB,MIA,2003-05-13,22.4,2025.0,7.0,15.0,231.0,NaN,74.0,209.0,Texas,2025,Quinn Ewers,Quinn Ewers_42037,42037

In [56]:
master_raw.loc[(master_raw['cleaned_name'] == 'Travis Hunter'), 'match_key'] = 'Travis Hunter_99001'

In [58]:
master_raw[master_raw['cleaned_name'] == "Travis Hunter"]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_99001,41787

In [59]:
master_raw = master_raw.drop(master_raw.loc[(~master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])) & (master_raw['cleaned_name'] != 'Travis Hunter')].index)

In [60]:
master_raw[master_raw['cleaned_name'] == "Travis Hunter"]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_99001,41787

In [62]:
master_raw.loc[(~master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])) & (master_raw['cleaned_name'] == 'Travis Hunter')]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,Travis Hunter,Travis Hunter_99001,41787

In [63]:
master_raw.loc[(master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (~master_raw['cleaned_name'].isin(yahoo_players['cleaned_name']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,41980
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,41163
754,16208,3a00b600-ea03-11ed-8d34-41182339b277,22941.0,NaN,NaN,9759.0,NaN,NaN,NaN,NaN,3123939.0,NaN,NaN,16823.0,NaN,NaN,40461.0,0.0,NaN,1172798.0,CJ Johnson,cj johnson,WR,FA,2000-11-04,23.3,2023.0,NaN,NaN,NaN,NaN,73.0,225.0,East Carolina,2025,CJ Johnson,CJ Johnson_40461,40461
886,16342,962496d4-9ffa-471b-8dd2-fc5e60fee84b,25304.0,00-0038621,104155.0,9501.0,56075.0,4427095.0,40222.0,NaN,3126241.0,DougDe00,NaN,16751.0,NaN,1468.0,40222.0,0.0,24180.0,1175693.0,Demario Douglas,demario douglas,WR,NEP,2000-12-08,24.9,2023.0,6.0,33.0,210.0,NaN,68.0,192.0,Liberty,2025,Demario Douglas,Demario Douglas_40222,40222
918,16374,3b590cad-60c1-471d-a54a-d593a676afa9,25470.0,00-0038507,111276.0,11024.0,56121.0,4879650.0,40251.0,NaN,2672034.0,DuboGr00,NaN,16852.0,NaN,NaN,40251.0,0.0,NaN,1323751.0,Grant Dubose,grant dubose,WR,FA,2001-06-20,24.3,2023.0,7.0,39.0,256.0,NaN,74.0,201.0,Charlotte,2025,Grant Dubose,Grant Dubose_40251,40251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,9200,9d404288-65c5-414f-8ea5-ceb97eccaea0,9446.0,00-0026293,4467.0,312.0,4487.0,11387.0,8930.0,NaN,1615610.0,SlatMa00,matt-slater-1,5786.0,4904.0,NaN,8930.0,0.0,7651.0,234403.0,Matt Slater,matthew slater,WR,FA,1985-09-09,39.5,2008.0,5.0,18.0,153.0,NaN,72.0,205.0,UCLA,2025,Matt Slater,Matt Slater_8930,8930
6855,9269,c1b5db36-a2e2-4bbc-87c1-cdd216b4474c,9577.0,00-0026364,4538.0,108.0,768.0,11458.0,9001.0,NaN,1116922.0,JohnSt00,steve-johnson-2,5798.0,4962.0,NaN,9001.0,333980.0,2950.0,NaN,Stevie Johnson,stevie johnson,WR,FA,1986-07-22,34.8,2008.0,7.0,17.0,224.0,StevieJohnson13,74.0,207.0,Kentucky,2025,Stevie Johnson,Stevie Johnson_9001,9001
6890,9319,40cda44b-2ee3-4ad1-834e-995e30db84d4,9581.0,00-0025944,4655.0,775.0,2507374.0,11923.0,9066.0,NaN,1616746.0,HausSt00,NaN,5935.0,5030.0,NaN,9066.0,406186.0,12594.0,NaN,Steven Hauschka,steven hauschka,PK,FA,1985-06-29,36.7,2008.0,NaN,NaN,NaN,NaN,76.0,210.0,North Carolina State,2025,Steven Hauschka,Steven Hauschka_9066,9066
7864,7422,d81844de-54c3-42ee-9850-072dc4131b6f,9040.0,00-0022943,1753.0,663.0,2506122.0,5557.0,6791.0,NaN,493107.0,WatsBe00,benjamin-watson-1,3872.0,48.0,NaN,6791.0,246082.0,11756.0,NaN,Ben Watson,ben watson,TE,FA,1980-12-18,40.4,2004.0,1.0,32.0,32.0,BenjaminSWatson,75.0,255.0,Georgia,2025,Ben Watson,Ben Watson_6791,6791
10574,2322,41210d3e-884d-4c62-9a3b-c8b89007b4a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1631138.0,NaN,NaN,9149.0,NaN,NaN,27102.0,471981.0,NaN,NaN,Ty Detmer,ty detmer,QB,CLE,NaN,NaN,1986.0,9.0,NaN,NaN,NaN,73.0,245.0,Penn State,2025,Ty Detmer,Ty Detmer_27102,27102

In [64]:
master_raw[master_raw['mapped_ids'].duplicated(keep=False)]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
1100,15717,5d4ef6da-a6b5-4d9c-adc0-28dfdbe9315e,22947.0,00-0037258,83659.0,8129.0,54572.0,4360238.0,34063.0,NaN,2964236.0,PierDa01,dameon-pierce-1,15875.0,NaN,1207.0,34063.0,0.0,23223.0,1108998.0,Dameon Pierce,dameon pierce,RB,HOU,2000-02-19,25.7,2022.0,4.0,2.0,107.0,NaN,70.0,215.0,Florida,2025,Dameon Pierce,Dameon Pierce_34063,34063
1142,15759,2995df34-ee81-4320-be1e-1c497b83c927,22895.0,00-0037614,97400.0,8147.0,54509.0,4567096.0,33999.0,NaN,3121171.0,MetcJo00,john-metchie-1,16069.0,NaN,NaN,34063.0,0.0,23160.0,1160348.0,John Metchie,john metchie,WR,PHI,2000-07-18,25.2,2022.0,2.0,12.0,44.0,NaN,72.0,195.0,Alabama,2025,John Metchie,John Metchie_34063,34063
2297,14117,064c4eda-1b10-40ac-a9d2-66caf76a213a,18804.0,00-0035457,34427.0,6063.0,48601.0,3894912.0,32511.0,NaN,2180626.0,JohnTy03,NaN,13615.0,14690.0,NaN,32511.0,865567.0,20838.0,865567.0,Tyron Johnson,tyron johnson,WR,FA,1996-01-08,28.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,Tyron Johnson,Tyron Johnson_32511,32511
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,Tyron Billy-Johnson,Tyron Billy-Johnson_32511,32511

In [65]:
master_raw.loc[master_raw['cleaned_name'] == 'John Metchie', ['stats_id', 'mapped_ids', 'match_key']] = [33999, 33999, 'John_Metchie_33999']

In [66]:
master_raw[master_raw['mapped_ids'].duplicated(keep=False)]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
2297,14117,064c4eda-1b10-40ac-a9d2-66caf76a213a,18804.0,00-0035457,34427.0,6063.0,48601.0,3894912.0,32511.0,NaN,2180626.0,JohnTy03,NaN,13615.0,14690.0,NaN,32511.0,865567.0,20838.0,865567.0,Tyron Johnson,tyron johnson,WR,FA,1996-01-08,28.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,Tyron Johnson,Tyron Johnson_32511,32511
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,Tyron Billy-Johnson,Tyron Billy-Johnson_32511,32511

In [67]:
master_raw.loc[~(master_raw['match_key'].isin(yahoo_players['match_key']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,41980
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,Taulia Tagovailoa,Taulia Tagovailoa_41559,41559
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,Justin Strong,Justin Strong_41477,41477
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,41163
754,16208,3a00b600-ea03-11ed-8d34-41182339b277,22941.0,NaN,NaN,9759.0,NaN,NaN,NaN,NaN,3123939.0,NaN,NaN,16823.0,NaN,NaN,40461.0,0.0,NaN,1172798.0,CJ Johnson,cj johnson,WR,FA,2000-11-04,23.3,2023.0,NaN,NaN,NaN,NaN,73.0,225.0,East Carolina,2025,CJ Johnson,CJ Johnson_40461,40461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12034,9793,20af511b-03b7-4905-bc41-158f286b99c6,NaN,NaN,NaN,2864.0,2553937.0,12899.0,29138.0,NaN,2175732.0,NaN,NaN,6002.0,5243.0,NaN,9736.0,245814.0,17332.0,NaN,Mike Reilly,mike reilly,QB,STL,1985-01-25,36.3,0.0,NaN,NaN,NaN,NaN,76.0,240.0,Central Washington,2025,Mike Reilly,Mike Reilly_9736,9736
12036,9796,NaN,NaN,00-0026792,NaN,NaN,NaN,13027.0,NaN,NaN,1675238.0,WillPa01,NaN,6401.0,5595.0,NaN,9721.0,267416.0,NaN,NaN,Patrick Williams,patrick williams,WR,BAL,1986-01-13,35.3,0.0,NaN,NaN,NaN,NaN,73.0,204.0,Colorado,2025,Patrick Williams,Patrick Williams_9721,9721
12038,9800,NaN,NaN,00-0024825,NaN,NaN,NaN,11142.0,NaN,NaN,1226291.0,NordJa00,NaN,5467.0,4608.0,NaN,8692.0,219960.0,NaN,NaN,Jake Nordin,jake nordin,TE,DET,1984-07-08,36.8,0.0,NaN,NaN,NaN,NaN,75.0,255.0,Northern Illinois,2025,Jake Nordin,Jake Nordin_8692,8692
12039,9806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6202.0,5498.0,NaN,9122.0,463275.0,NaN,NaN,Sam Giguere,sam giguere,WR,FA,1985-07-11,35.8,0.0,NaN,NaN,NaN,NaN,71.0,215.0,Sherbrooke,2025,Sam Giguere,Sam Giguere_9122,9122
12040,9807,95fda3ba-3d46-4985-9b2e-939f5fe4883b,NaN,00-0026669,5308.0,NaN,NaN,12965.0,NaN,NaN,1675122.0,ClohCo00,NaN,6418.0,5628.0,NaN,9683.0,288898.0,NaN,NaN,Colin Cloherty,colin cloherty,TE,FA,1987-09-16,33.6,0.0,NaN,NaN,NaN,colincloherty,74.0,252.0,Brown,2025,Colin Cloherty,Colin Cloherty_9683,9683

In [ ]:
master_raw[master_raw['cleaned_name'] == "Travis Hunter"]

In [68]:
master_raw.loc[(master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (~master_raw['cleaned_name'].isin(yahoo_players['cleaned_name']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids
190,17220,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025,Andres Borregales,Andres Borregales_41980,41980
600,16833,fffee080-04ff-11ef-8a9a-5f3b29e3b4c8,26405.0,00-0039541,124169.0,11886.0,57660.0,4429153.0,41163.0,NaN,3171022.0,GrifLi00,NaN,17973.0,NaN,NaN,41163.0,0.0,NaN,1231735.0,Lideatrick Griffin,lideatrick griffin,WR,FA,2001-01-23,24.7,2024.0,NaN,NaN,NaN,NaN,70.0,181.0,Mississippi State,2025,Lideatrick Griffin,Lideatrick Griffin_41163,41163
754,16208,3a00b600-ea03-11ed-8d34-41182339b277,22941.0,NaN,NaN,9759.0,NaN,NaN,NaN,NaN,3123939.0,NaN,NaN,16823.0,NaN,NaN,40461.0,0.0,NaN,1172798.0,CJ Johnson,cj johnson,WR,FA,2000-11-04,23.3,2023.0,NaN,NaN,NaN,NaN,73.0,225.0,East Carolina,2025,CJ Johnson,CJ Johnson_40461,40461
886,16342,962496d4-9ffa-471b-8dd2-fc5e60fee84b,25304.0,00-0038621,104155.0,9501.0,56075.0,4427095.0,40222.0,NaN,3126241.0,DougDe00,NaN,16751.0,NaN,1468.0,40222.0,0.0,24180.0,1175693.0,Demario Douglas,demario douglas,WR,NEP,2000-12-08,24.9,2023.0,6.0,33.0,210.0,NaN,68.0,192.0,Liberty,2025,Demario Douglas,Demario Douglas_40222,40222
918,16374,3b590cad-60c1-471d-a54a-d593a676afa9,25470.0,00-0038507,111276.0,11024.0,56121.0,4879650.0,40251.0,NaN,2672034.0,DuboGr00,NaN,16852.0,NaN,NaN,40251.0,0.0,NaN,1323751.0,Grant Dubose,grant dubose,WR,FA,2001-06-20,24.3,2023.0,7.0,39.0,256.0,NaN,74.0,201.0,Charlotte,2025,Grant Dubose,Grant Dubose_40251,40251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,9200,9d404288-65c5-414f-8ea5-ceb97eccaea0,9446.0,00-0026293,4467.0,312.0,4487.0,11387.0,8930.0,NaN,1615610.0,SlatMa00,matt-slater-1,5786.0,4904.0,NaN,8930.0,0.0,7651.0,234403.0,Matt Slater,matthew slater,WR,FA,1985-09-09,39.5,2008.0,5.0,18.0,153.0,NaN,72.0,205.0,UCLA,2025,Matt Slater,Matt Slater_8930,8930
6855,9269,c1b5db36-a2e2-4bbc-87c1-cdd216b4474c,9577.0,00-0026364,4538.0,108.0,768.0,11458.0,9001.0,NaN,1116922.0,JohnSt00,steve-johnson-2,5798.0,4962.0,NaN,9001.0,333980.0,2950.0,NaN,Stevie Johnson,stevie johnson,WR,FA,1986-07-22,34.8,2008.0,7.0,17.0,224.0,StevieJohnson13,74.0,207.0,Kentucky,2025,Stevie Johnson,Stevie Johnson_9001,9001
6890,9319,40cda44b-2ee3-4ad1-834e-995e30db84d4,9581.0,00-0025944,4655.0,775.0,2507374.0,11923.0,9066.0,NaN,1616746.0,HausSt00,NaN,5935.0,5030.0,NaN,9066.0,406186.0,12594.0,NaN,Steven Hauschka,steven hauschka,PK,FA,1985-06-29,36.7,2008.0,NaN,NaN,NaN,NaN,76.0,210.0,North Carolina State,2025,Steven Hauschka,Steven Hauschka_9066,9066
7864,7422,d81844de-54c3-42ee-9850-072dc4131b6f,9040.0,00-0022943,1753.0,663.0,2506122.0,5557.0,6791.0,NaN,493107.0,WatsBe00,benjamin-watson-1,3872.0,48.0,NaN,6791.0,246082.0,11756.0,NaN,Ben Watson,ben watson,TE,FA,1980-12-18,40.4,2004.0,1.0,32.0,32.0,BenjaminSWatson,75.0,255.0,Georgia,2025,Ben Watson,Ben Watson_6791,6791
10574,2322,41210d3e-884d-4c62-9a3b-c8b89007b4a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1631138.0,NaN,NaN,9149.0,NaN,NaN,27102.0,471981.0,NaN,NaN,Ty Detmer,ty detmer,QB,CLE,NaN,NaN,1986.0,9.0,NaN,NaN,NaN,73.0,245.0,Penn State,2025,Ty Detmer,Ty Detmer_27102,27102

In [ ]:
master_raw[master_raw['cleaned_name'] == "Travis Hunter"]

In [69]:
master_raw['last_name'] = master_raw['cleaned_name'].str.split().str[-1]
master_raw.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
0,17030,3c76cab3-3df2-43dd-acaa-57e055bd32d0,24755.0,00-0040676,133244.0,12522.0,58203.0,4688380.0,NaN,NaN,3168422.0,WardCa00,NaN,16997.0,NaN,1730.0,41786.0,0.0,25323.0,NaN,Cam Ward,cam ward,QB,TEN,2002-05-25,23.4,2025.0,1.0,1.0,1.0,NaN,74.0,219.0,Miami (FL),2025,Cam Ward,Cam Ward_41786,41786,Ward
1,17031,270e09bc-8bf8-44b0-87ed-1fd014de4ab7,25968.0,00-0040668,131396.0,12524.0,58349.0,4432762.0,NaN,NaN,26710004.0,SandSh00,NaN,18479.0,NaN,1731.0,41930.0,0.0,26079.0,NaN,Shedeur Sanders,shedeur sanders,QB,CLE,2002-02-07,23.7,2025.0,5.0,6.0,144.0,NaN,74.0,212.0,Colorado,2025,Shedeur Sanders,Shedeur Sanders_41930,41930,Sanders
2,17032,53848cba-bcad-4cd0-bb35-0a1f6ed111d1,23160.0,00-0040691,146409.0,12508.0,58227.0,4689114.0,NaN,NaN,26694019.0,DartJa00,NaN,18574.0,NaN,1732.0,41810.0,0.0,26082.0,NaN,Jaxson Dart,jaxson dart,QB,NYG,2003-05-13,22.4,2025.0,1.0,25.0,25.0,NaN,74.0,223.0,Ole Miss,2025,Jaxson Dart,Jaxson Dart_41810,41810,Dart
3,17033,b0eb5b67-4ef2-462d-bfe7-e73bcce1f6b0,22884.0,00-0040673,146590.0,12510.0,58297.0,4432734.0,NaN,NaN,26694943.0,MilrJa00,NaN,18477.0,NaN,1733.0,41882.0,0.0,25882.0,NaN,Jalen Milroe,jalen milroe,QB,SEA,2002-12-13,22.8,2025.0,3.0,28.0,92.0,NaN,74.0,216.0,Alabama,2025,Jalen Milroe,Jalen Milroe_41882,41882,Milroe
4,17034,d89f0384-21a6-44e4-8aa6-324cb2103bf6,23680.0,00-0040234,127253.0,12500.0,58436.0,4889929.0,NaN,NaN,26746721.0,EwerQu00,NaN,18505.0,NaN,1734.0,42037.0,0.0,26048.0,NaN,Quinn Ewers,quinn ewers,QB,MIA,2003-05-13,22.4,2025.0,7.0,15.0,231.0,NaN,74.0,209.0,Texas,2025,Quinn Ewers,Quinn Ewers_42037,42037,Ewers

In [ ]:
master_raw[master_raw['cleaned_name'] == "Travis Hunter"]

In [70]:
yahoo_players['last_name'] = yahoo_players['cleaned_name'].str.split().str[-1]
yahoo_players.head()

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name,match_key,last_name
0,10,K,nfl.p.3727,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['K'],small,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,https://s.yimg.com/iu/api/res/1.2/OpHvpCHjl_PQ...,False,False,False,0,Adam,Adam,Adam Vinatieri,Vinatieri,3727,331.p.3727,K,K,https://sports.yahoo.com/nfl/players/3727,2014,Adam Vinatieri,Adam Vinatieri_3727,Vinatieri
1,9,TE,nfl.p.3950,Atl,Atlanta Falcons,nfl.t.1,https://sports.yahoo.com/nfl/teams/atlanta/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/1_ZQRTBuF_fZ...,https://s.yimg.com/iu/api/res/1.2/1_ZQRTBuF_fZ...,False,False,False,0,Tony,Tony,Tony Gonzalez,Gonzalez,3950,331.p.3950,O,TE,https://sports.yahoo.com/nfl/players/3950,2014,Tony Gonzalez,Tony Gonzalez_3950,Gonzalez
2,4,QB,nfl.p.4256,Den,Denver Broncos,nfl.t.7,https://sports.yahoo.com/nfl/teams/denver/,['QB'],small,https://s.yimg.com/iu/api/res/1.2/UCWtIm9kEbbH...,https://s.yimg.com/iu/api/res/1.2/UCWtIm9kEbbH...,False,False,False,0,Peyton,Peyton,Peyton Manning,Manning,4256,331.p.4256,O,QB,https://sports.yahoo.com/nfl/players/4256,2014,Peyton Manning,Peyton Manning_4256,Manning
3,4,K,nfl.p.4269,Ari,Arizona Cardinals,nfl.t.22,https://sports.yahoo.com/nfl/teams/arizona/,['K'],small,https://s.yimg.com/iu/api/res/1.2/z4ki.EZ6BaZp...,https://s.yimg.com/iu/api/res/1.2/z4ki.EZ6BaZp...,False,False,False,0,Phil,Phil,Phil Dawson,Dawson,4269,331.p.4269,K,K,https://sports.yahoo.com/nfl/players/4269,2014,Phil Dawson,Phil Dawson_4269,Dawson
4,10,QB,nfl.p.4416,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['QB'],small,https://s.yimg.com/iu/api/res/1.2/YdWdJ6P7MDCj...,https://s.yimg.com/iu/api/res/1.2/YdWdJ6P7MDCj...,False,False,False,0,Matt,Matt,Matt Hasselbeck,Hasselbeck,4416,331.p.4416,O,QB,https://sports.yahoo.com/nfl/players/4416,2014,Matt Hasselbeck,Matt Hasselbeck_4416,Hasselbeck

In [ ]:
master_raw[master_raw['cleaned_name'] == "Travis Hunter"]

In [71]:
master_raw.loc[(master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (~master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])) & (~master_raw['last_name'].isin(yahoo_players['last_name']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
918,16374,3b590cad-60c1-471d-a54a-d593a676afa9,25470.0,00-0038507,111276.0,11024.0,56121.0,4879650.0,40251.0,NaN,2672034.0,DuboGr00,NaN,16852.0,NaN,NaN,40251.0,0.0,NaN,1323751.0,Grant Dubose,grant dubose,WR,FA,2001-06-20,24.3,2023.0,7.0,39.0,256.0,NaN,74.0,201.0,Charlotte,2025,Grant Dubose,Grant Dubose_40251,40251,Dubose
1812,15677,7656034d-8647-49e5-b0d4-b708423042ee,23339.0,00-0036696,NaN,7903.0,NaN,NaN,33837.0,NaN,2247169.0,NaN,NaN,15561.0,NaN,NaN,NaN,0.0,NaN,921082.0,Briley Moore-McKinney,briley moore-mckinney,TE,FA,1998-01-13,24.1,2021.0,NaN,NaN,NaN,NaN,76.0,250.0,Kansas State,2025,Briley Moore-McKinney,Briley Moore-McKinney_33837,33837,Moore-McKinney
3720,12809,d7fe9224-7bd7-40e5-a314-1152ed5334d5,NaN,00-0032341,10814.0,3336.0,43469.0,4002672.0,29414.0,NaN,2235403.0,BoehMo00,NaN,11212.0,11470.0,NaN,29414.0,914919.0,18097.0,NaN,Moritz Boehringer,moritz boehringer,WR,FA,1993-10-16,27.6,2016.0,6.0,5.0,180.0,MoBoehringer,77.0,250.0,Germany,2025,Moritz Boehringer,Moritz Boehringer_29414,29414,Boehringer

In [72]:
master_raw[['last_name', 'cleaned_name', 'match_key']] = master_raw[['last_name', 'cleaned_name', 'match_key']].apply(lambda x: x.str.lower())
master_raw.head()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
0,17030,3c76cab3-3df2-43dd-acaa-57e055bd32d0,24755.0,00-0040676,133244.0,12522.0,58203.0,4688380.0,NaN,NaN,3168422.0,WardCa00,NaN,16997.0,NaN,1730.0,41786.0,0.0,25323.0,NaN,Cam Ward,cam ward,QB,TEN,2002-05-25,23.4,2025.0,1.0,1.0,1.0,NaN,74.0,219.0,Miami (FL),2025,cam ward,cam ward_41786,41786,ward
1,17031,270e09bc-8bf8-44b0-87ed-1fd014de4ab7,25968.0,00-0040668,131396.0,12524.0,58349.0,4432762.0,NaN,NaN,26710004.0,SandSh00,NaN,18479.0,NaN,1731.0,41930.0,0.0,26079.0,NaN,Shedeur Sanders,shedeur sanders,QB,CLE,2002-02-07,23.7,2025.0,5.0,6.0,144.0,NaN,74.0,212.0,Colorado,2025,shedeur sanders,shedeur sanders_41930,41930,sanders
2,17032,53848cba-bcad-4cd0-bb35-0a1f6ed111d1,23160.0,00-0040691,146409.0,12508.0,58227.0,4689114.0,NaN,NaN,26694019.0,DartJa00,NaN,18574.0,NaN,1732.0,41810.0,0.0,26082.0,NaN,Jaxson Dart,jaxson dart,QB,NYG,2003-05-13,22.4,2025.0,1.0,25.0,25.0,NaN,74.0,223.0,Ole Miss,2025,jaxson dart,jaxson dart_41810,41810,dart
3,17033,b0eb5b67-4ef2-462d-bfe7-e73bcce1f6b0,22884.0,00-0040673,146590.0,12510.0,58297.0,4432734.0,NaN,NaN,26694943.0,MilrJa00,NaN,18477.0,NaN,1733.0,41882.0,0.0,25882.0,NaN,Jalen Milroe,jalen milroe,QB,SEA,2002-12-13,22.8,2025.0,3.0,28.0,92.0,NaN,74.0,216.0,Alabama,2025,jalen milroe,jalen milroe_41882,41882,milroe
4,17034,d89f0384-21a6-44e4-8aa6-324cb2103bf6,23680.0,00-0040234,127253.0,12500.0,58436.0,4889929.0,NaN,NaN,26746721.0,EwerQu00,NaN,18505.0,NaN,1734.0,42037.0,0.0,26048.0,NaN,Quinn Ewers,quinn ewers,QB,MIA,2003-05-13,22.4,2025.0,7.0,15.0,231.0,NaN,74.0,209.0,Texas,2025,quinn ewers,quinn ewers_42037,42037,ewers

In [73]:
yahoo_players[['last_name', 'cleaned_name', 'match_key']] = yahoo_players[['last_name', 'cleaned_name', 'match_key']].apply(lambda x: x.str.lower())

In [74]:
master_raw.loc[(master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (~master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])) & (~master_raw['last_name'].isin(yahoo_players['last_name']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
1812,15677,7656034d-8647-49e5-b0d4-b708423042ee,23339.0,00-0036696,NaN,7903.0,NaN,NaN,33837.0,NaN,2247169.0,NaN,NaN,15561.0,NaN,NaN,NaN,0.0,NaN,921082.0,Briley Moore-McKinney,briley moore-mckinney,TE,FA,1998-01-13,24.1,2021.0,NaN,NaN,NaN,NaN,76.0,250.0,Kansas State,2025,briley moore-mckinney,briley moore-mckinney_33837,33837,moore-mckinney
3720,12809,d7fe9224-7bd7-40e5-a314-1152ed5334d5,NaN,00-0032341,10814.0,3336.0,43469.0,4002672.0,29414.0,NaN,2235403.0,BoehMo00,NaN,11212.0,11470.0,NaN,29414.0,914919.0,18097.0,NaN,Moritz Boehringer,moritz boehringer,WR,FA,1993-10-16,27.6,2016.0,6.0,5.0,180.0,MoBoehringer,77.0,250.0,Germany,2025,moritz boehringer,moritz boehringer_29414,29414,boehringer

In [75]:
master_raw.loc[master_raw['cleaned_name'] == 'briley moore-mckinney', ['cleaned_name', 'match_key', 'last_name']] = ['briley moore', 'briley moore_338337', 'moore']
master_raw.loc[master_raw['cleaned_name'] == 'moritz boehringer', ['cleaned_name', 'match_key', 'last_name']] = ['moritz bohringer', 'moritz bohringer_29414', 'bohringer']

In [76]:
master_raw.loc[(master_raw['mapped_ids'].isin(yahoo_players['player_id'])) & (~master_raw['cleaned_name'].isin(yahoo_players['cleaned_name'])) & (~master_raw['last_name'].isin(yahoo_players['last_name']))]

Empty DataFrame
Columns: [mfl_id, sportradar_id, fantasypros_id, gsis_id, pff_id, sleeper_id, nfl_id, espn_id, yahoo_id, fleaflicker_id, cbs_id, pfr_id, cfbref_id, rotowire_id, rotoworld_id, ktc_id, stats_id, stats_global_id, fantasy_data_id, swish_id, name, merge_name, position, team, birthdate, age, draft_year, draft_round, draft_pick, draft_ovr, twitter_username, height, weight, college, db_season, cleaned_name, match_key, mapped_ids, last_name]
Index: []

In [77]:
master_raw[master_raw['stats_id'].isna()]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,NaN,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,antwane wells,antwane wells_42444,42444,wells
141,17171,1e95c7fc-ecf7-4fcb-82d8-d77e2b6872d5,27315.0,00-0040705,129918.0,12540.0,58308.0,4431268.0,NaN,NaN,3162452.0,DikeCh00,NaN,18641.0,NaN,1814.0,NaN,0.0,25987.0,NaN,Chimere Dike,chimere dike,WR,TEN,2001-12-14,23.8,2025.0,4.0,1.0,103.0,NaN,73.0,196.0,Florida,2025,chimere dike,chimere dike_41903,41903,dike
245,17277,7bf5a2e0-2512-11f0-9825-33176da47896,27261.0,00-0040279,99867.0,12961.0,58715.0,4568263.0,NaN,NaN,NaN,FitzRy01,NaN,18508.0,NaN,NaN,NaN,0.0,26108.0,NaN,Ryan Fitzgerald,ryan fitzgerald,PK,CAR,2000-08-13,25.2,2025.0,NaN,NaN,NaN,NaN,71.0,193.0,Florida State,2025,ryan fitzgerald,ryan fitzgerald_42262,42262,fitzgerald
344,17396,NaN,NaN,00-0040534,123406.0,NaN,58980.0,4570738.0,NaN,NaN,NaN,WillKe08,NaN,18841.0,NaN,NaN,NaN,0.0,NaN,NaN,Ke'Shawn Williams,keshawn williams,WR,PIT,2001-12-27,23.8,2025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025,keshawn williams,keshawn williams_42278,42278,williams
402,16634,ffd59710-0582-11ef-823c-c3942ac17525,23957.0,00-0039521,101130.0,11921.0,57639.0,4428811.0,41202.0,NaN,3131562.0,WeavXa00,NaN,18041.0,NaN,NaN,NaN,0.0,25032.0,1180538.0,Xavier Weaver,xavier weaver,WR,ARI,2000-10-12,25.0,2024.0,NaN,NaN,NaN,NaN,73.0,185.0,Colorado,2025,xavier weaver,xavier weaver_41202,41202,weaver
406,16638,NaN,NaN,NaN,NaN,NaN,NaN,4427225.0,NaN,NaN,NaN,NaN,NaN,17006.0,NaN,NaN,NaN,0.0,NaN,NaN,Zakhari Franklin,zakhari franklin,WR,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi,2025,zakhari franklin,zakhari franklin_42479,42479,franklin
741,16195,ea3d1393-8c3b-4e81-a519-f636d28d692e,24354.0,00-0038393,99711.0,9486.0,56024.0,4428850.0,40201.0,NaN,3122375.0,WickDo00,dontayvion-wicks-1,16658.0,NaN,1448.0,NaN,0.0,23253.0,1172428.0,Dontayvion Wicks,dontayvion wicks,WR,GBP,2001-06-16,24.3,2023.0,5.0,24.0,159.0,NaN,73.0,206.0,Virginia,2025,dontayvion wicks,dontayvion wicks_40201,40201,wicks
766,16220,5d4a5e4f-7c74-4b4c-b8e5-33bb831e3057,23821.0,00-0038394,77888.0,10220.0,56027.0,4362523.0,40180.0,NaN,2962073.0,MallWi00,will-mallory-1,17014.0,NaN,NaN,NaN,0.0,23143.0,1121873.0,Will Mallory,will mallory,TE,IND,1999-06-22,26.3,2023.0,5.0,27.0,162.0,NaN,76.0,239.0,Miami (FL),2025,will mallory,will mallory_40180,40180,mallory
1812,15677,7656034d-8647-49e5-b0d4-b708423042ee,23339.0,00-0036696,NaN,7903.0,NaN,NaN,33837.0,NaN,2247169.0,NaN,NaN,15561.0,NaN,NaN,NaN,0.0,NaN,921082.0,Briley Moore-McKinney,briley moore-mckinney,TE,FA,1998-01-13,24.1,2021.0,NaN,NaN,NaN,NaN,76.0,250.0,Kansas State,2025,briley moore,briley moore_338337,33837,moore
2271,14091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tre Watson,tre watson,RB,FA,NaN,NaN,2019.0,NaN,NaN,NaN,NaN,71.0,195.0,Texas,2025,tre watson,tre watson_42430,42430,watson
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,tyron billy-johnson,tyron billy-johnson_32511,32511,billy-johnson
2737,13643,1dea7b00-f200-470f-8912-ca9d87ceb7e2,NaN,00-0034068,28580.0,5164.0,46326.0,3128251.0,31397.0,NaN,2924881.0,CobbSi00,NaN,12480.0,13386.0,NaN,NaN,0.0,20107.0,NaN,Simmie Cobbs,simmie cobbs,WR,FA,1995-08-25,30.1,2018.0,NaN,NaN,NaN,NaN,75.0,220.0,Indiana,2025,simmie cobbs,simmie cobbs_31397,31397,cobbs
3160,13151,cf338764-9e5b-488e-888f-2443b0b5fc64,NaN,NaN,NaN,4923.0,NaN,2970270.0,30390.0,NaN,NaN,NaN,NaN,11772.0,NaN,NaN,NaN,0.0,19161.0,NaN,Rushel Shell,rushel shell,RB,FA,1993-09-07,32.1,2017.0,NaN,NaN,NaN,NaN,70.0,225.0,West Virginia,2025,rushel shell,rushel shell_30390,30390,shell
3527,14576,2e67a3f9-b3e8-409b-a61f-adc76fb83115,NaN,00-0034035,48081.0,4829.0,45859.0,3060347.0,30938.0,NaN,NaN,NaN,NaN,12374.0,NaN,NaN,NaN,753865.0,19733.0,NaN,Daniel Williams,daniel williams,WR,FA,1995-08-06,25.8,2017.0,NaN,NaN,NaN,NaN,75.0,200.0,Jackson State,2025,daniel williams,daniel williams_30938,30938,williams
3843,12936,74bb4fa1-3ad4-4376-83d7-bb993da9149e,NaN,00-0032876,11238.0,3621.0,43943.0,2972065.0,29865.0,NaN,2237119.0,WillJo08,NaN,11077.0,11579.0,NaN,NaN,598693.0,18408.0,NaN,Jordan Williams,jordan williams,WR,NOS,1994-05-09,27.0,2016.0,NaN,NaN,NaN,NaN,75.0,228.0,Ball State,2025,jordan williams,jordan williams_29865,29865,williams
10901,1858,1e436b1f-6706-45be-b1b6-ce2969df48fe,NaN,00-0026515,5191.0,780.0,34722.0,12771.0,9608.0,NaN,1674227.0,CartTo99,NaN,112.0,NaN,NaN,NaN,284092.0,12636.0,NaN,Tony Carter,tony carter,RB,FA,1972-08-23,48.7,0.0,NaN,NaN,NaN,NaN,69.0,175.0,Minnesota,2025,tony carter,tony carter_9608,9608,carter
11166,4819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2371.0,NaN,NaN,NaN,0.0,NaN,NaN,Chris Coleman,chris coleman,WR,FA,1977-05-08,44.0,0.0,NaN,NaN,NaN,NaN,72.0,202.0,North Carolina State,2025,chris coleman,chris coleman_40620,40620,coleman

In [79]:
master_raw[master_raw['cleaned_name'] == "travis hunter"]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,travis hunter,travis hunter_99001,41787,hunter

In [80]:
master_raw[master_raw['cleaned_name'] == 'tony carter']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
10901,1858,1e436b1f-6706-45be-b1b6-ce2969df48fe,NaN,00-0026515,5191.0,780.0,34722.0,12771.0,9608.0,NaN,1674227.0,CartTo99,NaN,112.0,NaN,NaN,NaN,284092.0,12636.0,NaN,Tony Carter,tony carter,RB,FA,1972-08-23,48.7,0.0,NaN,NaN,NaN,NaN,69.0,175.0,Minnesota,2025,tony carter,tony carter_9608,9608,carter

In [81]:
master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4331 entries, 0 to 12040
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4331 non-null   int64
 1   sportradar_id     3254 non-null   object
 2   fantasypros_id    2487 non-null   float64
 3   gsis_id           3329 non-null   object
 4   pff_id            3136 non-null   float64
 5   sleeper_id        2834 non-null   float64
 6   nfl_id            3081 non-null   float64
 7   espn_id           3445 non-null   float64
 8   yahoo_id          2680 non-null   float64
 9   fleaflicker_id    489 non-null    float64
 10  cbs_id            4078 non-null   float64
 11  pfr_id            3521 non-null   object
 12  cfbref_id         1830 non-null   object
 13  rotowire_id       4221 non-null   float64
 14  rotoworld_id      3179 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4314 non-null   float64
 17  stats_global_id   4331 non-null   float64
 18  fantasy_data_id   2506 non-null   float64
 19  swish_id          1465 non-null   float64
 20  name              4331 non-null   object
 21  merge_name        4331 non-null   object
 22  position          4331 non-null   object
 23  team              4331 non-null   object
 24  birthdate         4312 non-null   object
 25  age               4312 non-null   float64
 26  draft_year        4331 non-null   float64
 27  draft_round       2203 non-null   float64
 28  draft_pick        2197 non-null   float64
 29  draft_ovr         2120 non-null   float64
 30  twitter_username  960 non-null    object
 31  height            4241 non-null   float64
 32  weight            4322 non-null   float64
 33  college           4312 non-null   object
 34  db_season         4331 non-null   int64
 35  cleaned_name      4331 non-null   object
 36  match_key         4331 non-null   object
 37  mapped_ids        4331 non-null   int64
 38  last_name         4331 non-null   object
dtypes: float64(22), int64(3), object(14)
memory usage: 1.3+ MB

In [82]:
master_raw = master_raw.loc[master_raw['cleaned_name'] != 'tony carter']

In [83]:
master_raw[master_raw['cleaned_name'] == "travis hunter"]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,travis hunter,travis hunter_99001,41787,hunter

In [84]:
master_raw.loc[(master_raw['stats_id'].isna()), 'stats_id'] = master_raw.loc[(master_raw['stats_id'].isna()), 'mapped_ids']

In [85]:
master_raw['stats_id'].isna().sum()

np.int64(0)

In [86]:
master_raw[master_raw['cleaned_name'] == "travis hunter"]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,travis hunter,travis hunter_99001,41787,hunter

In [87]:
master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4330 entries, 0 to 12040
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4330 non-null   int64
 1   sportradar_id     3253 non-null   object
 2   fantasypros_id    2487 non-null   float64
 3   gsis_id           3328 non-null   object
 4   pff_id            3135 non-null   float64
 5   sleeper_id        2833 non-null   float64
 6   nfl_id            3080 non-null   float64
 7   espn_id           3444 non-null   float64
 8   yahoo_id          2679 non-null   float64
 9   fleaflicker_id    489 non-null    float64
 10  cbs_id            4077 non-null   float64
 11  pfr_id            3520 non-null   object
 12  cfbref_id         1830 non-null   object
 13  rotowire_id       4220 non-null   float64
 14  rotoworld_id      3179 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4330 non-null   float64
 17  stats_global_id   4330 non-null   float64
 18  fantasy_data_id   2505 non-null   float64
 19  swish_id          1465 non-null   float64
 20  name              4330 non-null   object
 21  merge_name        4330 non-null   object
 22  position          4330 non-null   object
 23  team              4330 non-null   object
 24  birthdate         4311 non-null   object
 25  age               4311 non-null   float64
 26  draft_year        4330 non-null   float64
 27  draft_round       2203 non-null   float64
 28  draft_pick        2197 non-null   float64
 29  draft_ovr         2120 non-null   float64
 30  twitter_username  960 non-null    object
 31  height            4240 non-null   float64
 32  weight            4321 non-null   float64
 33  college           4311 non-null   object
 34  db_season         4330 non-null   int64
 35  cleaned_name      4330 non-null   object
 36  match_key         4330 non-null   object
 37  mapped_ids        4330 non-null   int64
 38  last_name         4330 non-null   object
dtypes: float64(22), int64(3), object(14)
memory usage: 1.3+ MB

In [88]:
master_raw[['stats_id', 'mapped_ids', 'match_key']].nunique()

stats_id      4329
mapped_ids    4329
match_key     4330
dtype: int64

In [89]:
master_raw[
    master_raw['stats_id'].duplicated(keep=False) | 
    master_raw['mapped_ids'].duplicated(keep=False) | 
    master_raw['match_key'].duplicated(keep=False)
]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
2297,14117,064c4eda-1b10-40ac-a9d2-66caf76a213a,18804.0,00-0035457,34427.0,6063.0,48601.0,3894912.0,32511.0,NaN,2180626.0,JohnTy03,NaN,13615.0,14690.0,NaN,32511.0,865567.0,20838.0,865567.0,Tyron Johnson,tyron johnson,WR,FA,1996-01-08,28.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,tyron johnson,tyron johnson_32511,32511,johnson
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,32511.0,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,tyron billy-johnson,tyron billy-johnson_32511,32511,billy-johnson

In [90]:
master_raw.loc[(master_raw['stats_id'].duplicated(keep=False)), 'stats_id'] = master_raw.loc[(master_raw['stats_id'].duplicated(keep=False)), 'mapped_ids']

master_raw[
    master_raw['mapped_ids'].duplicated(keep=False)
]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
2297,14117,064c4eda-1b10-40ac-a9d2-66caf76a213a,18804.0,00-0035457,34427.0,6063.0,48601.0,3894912.0,32511.0,NaN,2180626.0,JohnTy03,NaN,13615.0,14690.0,NaN,32511.0,865567.0,20838.0,865567.0,Tyron Johnson,tyron johnson,WR,FA,1996-01-08,28.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,tyron johnson,tyron johnson_32511,32511,johnson
2679,16859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2180626.0,NaN,NaN,NaN,NaN,NaN,32511.0,0.0,NaN,NaN,Tyron Billy-Johnson,tyron billy-johnson,XX,FA,1996-01-08,29.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,tyron billy-johnson,tyron billy-johnson_32511,32511,billy-johnson

In [91]:
yahoo_players[yahoo_players['player_id'] == 32511]

,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name,match_key,last_name
7031,8,WR,nfl.p.32511,Dal,Dallas Cowboys,nfl.t.6,https://sports.yahoo.com/nfl/teams/dallas/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,False,False,False,0,Tyron,Tyron,Tyron Billy-Johnson,Billy-Johnson,32511,390.p.32511,O,WR,https://sports.yahoo.com/nfl/players/32511,2019,tyron billy-johnson,tyron billy-johnson_32511,billy-johnson
7953,10,WR,nfl.p.32511,Dal,Dallas Cowboys,nfl.t.6,https://sports.yahoo.com/nfl/teams/dallas/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,False,False,False,0,Tyron,Tyron,Tyron Billy-Johnson,Billy-Johnson,32511,399.p.32511,O,WR,https://sports.yahoo.com/nfl/players/32511,2020,tyron billy-johnson,tyron billy-johnson_32511,billy-johnson
8953,7,WR,nfl.p.32511,Dal,Dallas Cowboys,nfl.t.6,https://sports.yahoo.com/nfl/teams/dallas/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,False,False,False,0,Tyron,Tyron,Tyron Billy-Johnson,Billy-Johnson,32511,406.p.32511,O,WR,https://sports.yahoo.com/nfl/players/32511,2021,tyron billy-johnson,tyron billy-johnson_32511,billy-johnson
9946,9,WR,nfl.p.32511,Dal,Dallas Cowboys,nfl.t.6,https://sports.yahoo.com/nfl/teams/dallas/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,False,False,False,0,Tyron,Tyron,Tyron Billy-Johnson,Billy-Johnson,32511,414.p.32511,O,WR,https://sports.yahoo.com/nfl/players/32511,2022,tyron billy-johnson,tyron billy-johnson_32511,billy-johnson
10982,7,WR,nfl.p.32511,Dal,Dallas Cowboys,nfl.t.6,https://sports.yahoo.com/nfl/teams/dallas/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,False,False,False,0,Tyron,Tyron,Tyron Billy-Johnson,Billy-Johnson,32511,423.p.32511,O,WR,https://sports.yahoo.com/nfl/players/32511,2023,tyron billy-johnson,tyron billy-johnson_32511,billy-johnson
12038,7,WR,nfl.p.32511,Dal,Dallas Cowboys,nfl.t.6,https://sports.yahoo.com/nfl/teams/dallas/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,https://s.yimg.com/iu/api/res/1.2/bdGameuMdoTd...,False,False,False,0,Tyron,Tyron,Tyron Billy-Johnson,Billy-Johnson,32511,449.p.32511,O,WR,https://sports.yahoo.com/nfl/players/32511,2024,tyron billy-johnson,tyron billy-johnson_32511,billy-johnson

In [92]:
master_raw = master_raw.drop_duplicates(subset='mapped_ids', keep='first')

In [93]:
master_raw[master_raw['cleaned_name'] == "travis hunter"]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
44,17074,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025,travis hunter,travis hunter_99001,41787,hunter

In [94]:
master_raw.loc[master_raw['mapped_ids'] == 32511, ['cleaned_name', 'match_key', 'last_name']] = ['tyron billy-johnson','tyron billy-johnson_32511', 'billy-johnson']

In [95]:
master_raw[master_raw['mapped_ids'] == 32511]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
2297,14117,064c4eda-1b10-40ac-a9d2-66caf76a213a,18804.0,00-0035457,34427.0,6063.0,48601.0,3894912.0,32511.0,NaN,2180626.0,JohnTy03,NaN,13615.0,14690.0,NaN,32511.0,865567.0,20838.0,865567.0,Tyron Johnson,tyron johnson,WR,FA,1996-01-08,28.1,2019.0,NaN,NaN,NaN,NaN,73.0,193.0,Oklahoma State,2025,tyron billy-johnson,tyron billy-johnson_32511,32511,billy-johnson

In [96]:
master_raw[['stats_id', 'mapped_ids', 'match_key']].nunique()

stats_id      4329
mapped_ids    4329
match_key     4329
dtype: int64

In [97]:
master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4329 entries, 0 to 12040
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            4329 non-null   int64
 1   sportradar_id     3253 non-null   object
 2   fantasypros_id    2487 non-null   float64
 3   gsis_id           3328 non-null   object
 4   pff_id            3135 non-null   float64
 5   sleeper_id        2833 non-null   float64
 6   nfl_id            3080 non-null   float64
 7   espn_id           3444 non-null   float64
 8   yahoo_id          2679 non-null   float64
 9   fleaflicker_id    489 non-null    float64
 10  cbs_id            4076 non-null   float64
 11  pfr_id            3520 non-null   object
 12  cfbref_id         1830 non-null   object
 13  rotowire_id       4220 non-null   float64
 14  rotoworld_id      3179 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          4329 non-null   float64
 17  stats_global_id   4329 non-null   float64
 18  fantasy_data_id   2505 non-null   float64
 19  swish_id          1465 non-null   float64
 20  name              4329 non-null   object
 21  merge_name        4329 non-null   object
 22  position          4329 non-null   object
 23  team              4329 non-null   object
 24  birthdate         4310 non-null   object
 25  age               4310 non-null   float64
 26  draft_year        4329 non-null   float64
 27  draft_round       2203 non-null   float64
 28  draft_pick        2197 non-null   float64
 29  draft_ovr         2120 non-null   float64
 30  twitter_username  960 non-null    object
 31  height            4239 non-null   float64
 32  weight            4320 non-null   float64
 33  college           4310 non-null   object
 34  db_season         4329 non-null   int64
 35  cleaned_name      4329 non-null   object
 36  match_key         4329 non-null   object
 37  mapped_ids        4329 non-null   int64
 38  last_name         4329 non-null   object
dtypes: float64(22), int64(3), object(14)
memory usage: 1.3+ MB

In [98]:
yahoo_players['match_key'].nunique()

4263

In [101]:
master_raw.loc[master_raw['stats_id'] == 41787, 'mapped_ids'] = 99001

In [103]:
master_raw[~(master_raw['mapped_ids'].isin(yahoo_players['player_id']))]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,taulia tagovailoa,taulia tagovailoa_41559,41559,tagovailoa
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,justin strong,justin strong_41477,41477,strong
879,16335,9cedc261-40ff-4fe3-80e1-e128dcceede0,25567.0,00-0038614,82482.0,10994.0,56065.0,4373684.0,40225.0,NaN,2969142.0,MatlSc00,scott-matlock-1,16767.0,NaN,NaN,40225.0,0.0,24457.0,1130595.0,Scott Matlock,scott matlock,RB,LAC,2000-06-28,25.3,2023.0,6.0,23.0,200.0,NaN,76.0,296.0,Boise State,2025,scott matlock,scott matlock_40225,40225,matlock
938,16394,53bcdfe0-ec71-11ed-8bf2-e7fff7735d4a,NaN,NaN,NaN,11344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17041.0,NaN,NaN,40592.0,0.0,NaN,974075.0,Keytaon Thompson,keytaon thompson,WR,FA,1998-10-23,25.3,2023.0,NaN,NaN,NaN,NaN,77.0,218.0,Virginia,2025,keytaon thompson,keytaon thompson_40592,40592,thompson
3285,13282,dd50e8ab-518b-44a1-9c71-2bc2af74ee7c,NaN,00-0033552,11856.0,4130.0,44913.0,3043144.0,30214.0,NaN,2061118.0,LangBr00,NaN,12022.0,12345.0,NaN,30214.0,734330.0,18976.0,NaN,Brendan Langley,brendan langley,WR,FA,1994-10-16,26.6,2017.0,3.0,37.0,101.0,NaN,72.0,199.0,Lamar,2025,brendan langley,brendan langley_30214,30214,langley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12034,9793,20af511b-03b7-4905-bc41-158f286b99c6,NaN,NaN,NaN,2864.0,2553937.0,12899.0,29138.0,NaN,2175732.0,NaN,NaN,6002.0,5243.0,NaN,9736.0,245814.0,17332.0,NaN,Mike Reilly,mike reilly,QB,STL,1985-01-25,36.3,0.0,NaN,NaN,NaN,NaN,76.0,240.0,Central Washington,2025,mike reilly,mike reilly_9736,9736,reilly
12036,9796,NaN,NaN,00-0026792,NaN,NaN,NaN,13027.0,NaN,NaN,1675238.0,WillPa01,NaN,6401.0,5595.0,NaN,9721.0,267416.0,NaN,NaN,Patrick Williams,patrick williams,WR,BAL,1986-01-13,35.3,0.0,NaN,NaN,NaN,NaN,73.0,204.0,Colorado,2025,patrick williams,patrick williams_9721,9721,williams
12038,9800,NaN,NaN,00-0024825,NaN,NaN,NaN,11142.0,NaN,NaN,1226291.0,NordJa00,NaN,5467.0,4608.0,NaN,8692.0,219960.0,NaN,NaN,Jake Nordin,jake nordin,TE,DET,1984-07-08,36.8,0.0,NaN,NaN,NaN,NaN,75.0,255.0,Northern Illinois,2025,jake nordin,jake nordin_8692,8692,nordin
12039,9806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6202.0,5498.0,NaN,9122.0,463275.0,NaN,NaN,Sam Giguere,sam giguere,WR,FA,1985-07-11,35.8,0.0,NaN,NaN,NaN,NaN,71.0,215.0,Sherbrooke,2025,sam giguere,sam giguere_9122,9122,giguere
12040,9807,95fda3ba-3d46-4985-9b2e-939f5fe4883b,NaN,00-0026669,5308.0,NaN,NaN,12965.0,NaN,NaN,1675122.0,ClohCo00,NaN,6418.0,5628.0,NaN,9683.0,288898.0,NaN,NaN,Colin Cloherty,colin cloherty,TE,FA,1987-09-16,33.6,0.0,NaN,NaN,NaN,colincloherty,74.0,252.0,Brown,2025,colin cloherty,colin cloherty_9683,9683,cloherty

In [104]:
yahoo_players[yahoo_players['player_id'] == 41787]

Empty DataFrame
Columns: [bye_weeks.week, display_position, editorial_player_key, editorial_team_abbr, editorial_team_full_name, editorial_team_key, editorial_team_url, eligible_positions, headshot.size, headshot.url, image_url, is_keeper.status, is_keeper.cost, is_keeper.kept, is_undroppable, name.ascii_first, name.first, name.full, name.last, player_id, player_key, position_type, primary_position, url, season, cleaned_name, match_key, last_name]
Index: []

In [105]:
merged_ids = master_raw.merge(yahoo_players, left_on='mapped_ids', right_on='player_id', how='outer', suffixes=['_master', '_yahoo'])
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15412 entries, 0 to 15411
Data columns (total 67 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mfl_id                    13355 non-null  float64
 1   sportradar_id             12254 non-null  object
 2   fantasypros_id            10953 non-null  float64
 3   gsis_id                   12293 non-null  object
 4   pff_id                    12057 non-null  float64
 5   sleeper_id                11819 non-null  float64
 6   nfl_id                    11960 non-null  float64
 7   espn_id                   12394 non-null  float64
 8   yahoo_id                  11604 non-null  float64
 9   fleaflicker_id            1252 non-null   float64
 10  cbs_id                    13082 non-null  float64
 11  pfr_id                    12384 non-null  object
 12  cfbref_id                 6826 non-null   object
 13  rotowire_id               13246 non-null  float64
 14  rotoworld_id              10091 non-null  float64
 15  ktc_id                    1731 non-null   float64
 16  stats_id                  13355 non-null  float64
 17  stats_global_id           13355 non-null  float64
 18  fantasy_data_id           11087 non-null  float64
 19  swish_id                  7570 non-null   float64
 20  name                      13355 non-null  object
 21  merge_name                13355 non-null  object
 22  position                  13355 non-null  object
 23  team                      13355 non-null  object
 24  birthdate                 13333 non-null  object
 25  age                       13333 non-null  float64
 26  draft_year                13355 non-null  float64
 27  draft_round               7625 non-null   float64
 28  draft_pick                7606 non-null   float64
 29  draft_ovr                 7542 non-null   float64
 30  twitter_username          4005 non-null   object
 31  height                    13261 non-null  float64
 32  weight                    13343 non-null  float64
 33  college                   13326 non-null  object
 34  db_season                 13355 non-null  float64
 35  cleaned_name_master       13355 non-null  object
 36  match_key_master          13355 non-null  object
 37  mapped_ids                13355 non-null  float64
 38  last_name_master          13355 non-null  object
 39  bye_weeks.week            14096 non-null  float64
 40  display_position          14096 non-null  object
 41  editorial_player_key      14096 non-null  object
 42  editorial_team_abbr       14096 non-null  object
 43  editorial_team_full_name  14096 non-null  object
 44  editorial_team_key        14096 non-null  object
 45  editorial_team_url        14096 non-null  object
 46  eligible_positions        14096 non-null  object
 47  headshot.size             14096 non-null  object
 48  headshot.url              14096 non-null  object
 49  image_url                 14096 non-null  object
 50  is_keeper.status          14096 non-null  object
 51  is_keeper.cost            14096 non-null  object
 52  is_keeper.kept            14096 non-null  object
 53  is_undroppable            14096 non-null  float64
 54  name.ascii_first          14096 non-null  object
 55  name.first                14096 non-null  object
 56  name.full                 14096 non-null  object
 57  name.last                 14096 non-null  object
 58  player_id                 14096 non-null  float64
 59  player_key                14096 non-null  object
 60  position_type             14096 non-null  object
 61  primary_position          14096 non-null  object
 62  url                       14096 non-null  object
 63  season                    14096 non-null  float64
 64  cleaned_name_yahoo        14096 non-null  object
 65  match_key_yahoo           14096 non-null  object
 66  last_name_yahoo           14096 non-null  object
dtypes: float64(29), object(38)
memory usage: 7.9+ MB

In [107]:
display(merged_ids[(merged_ids['gsis_id'].isna()) & (merged_ids['primary_position'] != 'DEF')])
merged_ids[(merged_ids['gsis_id'].isna()) & (merged_ids['primary_position'] != 'DEF')].tail()

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
7,2785.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.0,DoerCh00,chris-doering-1,1223.0,700.0,NaN,3731.0,0.0,NaN,NaN,Chris Doering,chris doering,WR,FA,1973-05-19,48.0,1996.0,6.0,18.0,185.0,NaN,76.0,201.0,Florida,2025.0,chris doering,chris doering_3731,3731.0,doering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,383.0,NaN,NaN,3807.0,0.0,NaN,NaN,Harold Morrow,harold morrow,RB,FA,1973-02-24,48.2,0.0,NaN,NaN,NaN,NaN,NaN,232.0,Auburn,2025.0,harold morrow,harold morrow_3807,3807.0,morrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3185.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1453.0,NaN,NaN,NaN,801.0,NaN,3853.0,0.0,NaN,NaN,Chris Hetherington,chris hetherington,RB,FA,1972-11-27,48.4,0.0,NaN,NaN,NaN,NaN,75.0,253.0,Yale,2025.0,chris hetherington,chris hetherington_3853,3853.0,hetherington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1624.0,NaN,NaN,286.0,2604.0,NaN,3873.0,0.0,NaN,NaN,Kelly Holcomb,kelly holcomb,QB,FA,1973-07-09,47.8,0.0,NaN,NaN,NaN,NaN,74.0,212.0,Middle Tennessee Sta,2025.0,kelly holcomb,kelly holcomb_3873,3873.0,holcomb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2917.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DunnWa00,warrick-dunn-1,738.0,2117.0,NaN,3893.0,0.0,NaN,NaN,Warrick Dunn,warrick dunn,RB,FA*,1975-01-05,46.3,1997.0,1.0,12.0,12.0,WarrickDunn,69.0,180.0,Florida State,2025.0,warrick dunn,warrick dunn_3893,3893.0,dunn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,RB,nfl.p.42587,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Nay'Quan,Nay'Quan,Nay'Quan Wright,Wright,42587.0,461.p.42587,O,RB,https://sports.yahoo.com/nfl/players/42587,2025.0,nayquan wright,nayquan wright_42587,wright
15022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,TE,nfl.p.42592,Det,Detroit Lions,nfl.t.8,https://sports.yahoo.com/nfl/teams/detroit/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Gunnar,Gunnar,Gunnar Oakes,Oakes,42592.0,461.p.42592,O,TE,https://sports.yahoo.com/nfl/players/42592,2025.0,gunnar oakes,gunnar oakes_42592,oakes
15023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,RB,nfl.p.42596,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Shane,Shane,Shane Watts,Watts,42596.0,461.p.42596,O,RB,https://sports.yahoo.com/nfl/players/42596,2025.0,shane watts,shane watts_42596,watts
15024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,WR,nfl.p.42597,NO,New Orleans Saints,nfl.t.18,https://sports.yahoo.com/nfl/teams/new-orleans/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Roderick,Roderick,Roderick Daniels Jr.,Daniels Jr.,42597.0,461.p.42597,O,WR,https://sports.yahoo.com/nfl/players/42597,2025.0,roderick daniels,roderick daniels_42597,daniels
15026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,WR,nfl.p.42602,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Phil,Phil,Phil Lutz,Lutz,42602.0,461.p.42602,O,WR,https://sports.yahoo.com/nfl/players/42602,2025.0,phil lutz,phil lutz_42602,lutz

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
15021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,RB,nfl.p.42587,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Nay'Quan,Nay'Quan,Nay'Quan Wright,Wright,42587.0,461.p.42587,O,RB,https://sports.yahoo.com/nfl/players/42587,2025.0,nayquan wright,nayquan wright_42587,wright
15022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,TE,nfl.p.42592,Det,Detroit Lions,nfl.t.8,https://sports.yahoo.com/nfl/teams/detroit/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Gunnar,Gunnar,Gunnar Oakes,Oakes,42592.0,461.p.42592,O,TE,https://sports.yahoo.com/nfl/players/42592,2025.0,gunnar oakes,gunnar oakes_42592,oakes
15023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,RB,nfl.p.42596,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Shane,Shane,Shane Watts,Watts,42596.0,461.p.42596,O,RB,https://sports.yahoo.com/nfl/players/42596,2025.0,shane watts,shane watts_42596,watts
15024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,WR,nfl.p.42597,NO,New Orleans Saints,nfl.t.18,https://sports.yahoo.com/nfl/teams/new-orleans/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Roderick,Roderick,Roderick Daniels Jr.,Daniels Jr.,42597.0,461.p.42597,O,WR,https://sports.yahoo.com/nfl/players/42597,2025.0,roderick daniels,roderick daniels_42597,daniels
15026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,WR,nfl.p.42602,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Phil,Phil,Phil Lutz,Lutz,42602.0,461.p.42602,O,WR,https://sports.yahoo.com/nfl/players/42602,2025.0,phil lutz,phil lutz_42602,lutz

In [108]:
merged_ids = merged_ids.dropna(subset='player_id')
display(merged_ids[(merged_ids['gsis_id'].isna()) & (merged_ids['primary_position'] != 'DEF')])

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
1205,8641.0,f4f9983e-2334-4c10-afac-449ea4e83a90,NaN,NaN,NaN,504.0,2506746.0,13174.0,NaN,4557.0,1114549.0,NaN,NaN,5061.0,4145.0,NaN,8054.0,156008.0,10412.0,NaN,Micheal Spurlock,micheal spurlock,WR,FA,1983-01-31,38.3,2006.0,NaN,NaN,NaN,NaN,71.0,210.0,Mississippi,2025.0,micheal spurlock,micheal spurlock_8054,8054.0,spurlock,9.0,WR,nfl.p.8054,Chi,Chicago Bears,nfl.t.3,https://sports.yahoo.com/nfl/teams/chicago/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/pCFEkFDnlnV8...,https://s.yimg.com/iu/api/res/1.2/pCFEkFDnlnV8...,False,False,False,0.0,Micheal,Micheal,Micheal Spurlock,Spurlock,8054.0,331.p.8054,O,WR,https://sports.yahoo.com/nfl/players/8054,2014.0,micheal spurlock,micheal spurlock_8054,spurlock
2065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,WR,nfl.p.9668,Bal,Baltimore Ravens,nfl.t.33,https://sports.yahoo.com/nfl/teams/baltimore/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Dobson,Dobson,Dobson Collins,Collins,9668.0,359.p.9668,O,WR,https://sports.yahoo.com/nfl/players/9668,2016.0,dobson collins,dobson collins_9668,collins
2475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,WR,nfl.p.24746,Car,Carolina Panthers,nfl.t.29,https://sports.yahoo.com/nfl/teams/carolina/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/M8gJ9e0k7poq...,https://s.yimg.com/iu/api/res/1.2/M8gJ9e0k7poq...,False,False,False,0.0,Teddy,Teddy,Teddy Williams,Williams,24746.0,331.p.24746,O,WR,https://sports.yahoo.com/nfl/players/24746,2014.0,teddy williams,teddy williams_24746,williams
2665,10359.0,26dd8e50-8f7a-43d6-8a98-addaaeb8194b,9953.0,NaN,NaN,804.0,2495284.0,14209.0,24898.0,NaN,1695497.0,GateCl00,NaN,7383.0,6583.0,NaN,24898.0,557952.0,12754.0,NaN,Clyde Gates,clyde gates,WR,TEN,1986-06-13,34.9,2011.0,4.0,14.0,111.0,EdmondGates,72.0,197.0,Abilene Christian,2025.0,clyde gates,clyde gates_24898,24898.0,gates,11.0,WR,nfl.p.24898,NYJ,New York Jets,nfl.t.20,https://sports.yahoo.com/nfl/teams/ny-jets/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/s.ugCuaAFaJD...,https://s.yimg.com/iu/api/res/1.2/s.ugCuaAFaJD...,False,False,False,0.0,Edmond,Edmond,Edmond Gates,Gates,24898.0,331.p.24898,O,WR,https://sports.yahoo.com/nfl/players/24898,2014.0,edmond gates,edmond gates_24898,gates
2666,10359.0,26dd8e50-8f7a-43d6-8a98-addaaeb8194b,9953.0,NaN,NaN,804.0,2495284.0,14209.0,24898.0,NaN,1695497.0,GateCl00,NaN,7383.0,6583.0,NaN,24898.0,557952.0,12754.0,NaN,Clyde Gates,clyde gates,WR,TEN,1986-06-13,34.9,2011.0,4.0,14.0,111.0,EdmondGates,72.0,197.0,Abilene Christian,2025.0,clyde gates,clyde gates_24898,24898.0,gates,5.0,WR,nfl.p.24898,NYJ,New York Jets,nfl.t.20,https://sports.yahoo.com/nfl/teams/ny-jets/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/s.ugCuaAFaJD...,https://s.yimg.com/iu/api/res/1.2/s.ugCuaAFaJD...,False,False,False,0.0,Edmond,Edmond,Edmond Gates,Gates,24898.0,348.p.24898,O,WR,https://sports.yahoo.com/nfl/players/24898,2015.0,edmond gates,edmond gates_24898,gates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,RB,nfl.p.42587,Ind,Indianapolis Colts,nfl.t.11,https://sports.yahoo.com/nfl/teams/indianapolis/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Nay'Quan,Nay'Quan,Nay'Quan Wright,Wright,42587.0,461.p.42587,O,RB,https://sports.yahoo.com/nfl/players/42587,2025.0,nayquan wright,nayquan wright_42587,wright
15022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,TE,nfl.p.42592,Det,Detroit Lions,nfl.t.8,https://sports.yahoo.com/nfl/teams/detroit/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Gunnar,Gunnar,Gunnar Oakes,Oakes,42592.0,461.p.42592,O,TE,https://sports.yahoo.com/nfl/players/42592,2025.0,gunnar oakes,gunnar oakes_42592,oakes
15023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,RB,nfl.p.42596,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['RB'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Shane,Shane,Shane Watts,Watts,42596.0,461.p.42596,O,RB,https://sports.yahoo.com/nfl/players/42596,2025.0,shane watts,shane watts_42596,watts
15024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,WR,nfl.p.42597,NO,New Orleans Saints,nfl.t.18,https://sports.yahoo.com/nfl/teams/new-orleans/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Roderick,Roderick,Roderick Daniels Jr.,Daniels Jr.,42597.0,461.p.42597,O,WR,https://sports.yahoo.com/nfl/players/42597,2025.0,roderick daniels,roderick daniels_42597,daniels
15026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,WR,nfl.p.42602,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Phil,Phil,Phil Lutz,Lutz,42602.0,461.p.42602,O,WR,https://sports.yahoo.com/nfl/players/42602,2025.0,phil lutz,phil lutz_42602,lutz

In [110]:
merged_ids[(merged_ids['cleaned_name_master'] == 'travis hunter') | (merged_ids['cleaned_name_yahoo'] == 'travis hunter')]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
15027,17074.0,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025.0,travis hunter,travis hunter_99001,99001.0,hunter,8.0,WR,nfl.p.41787,Jax,Jacksonville Jaguars,nfl.t.30,https://sports.yahoo.com/nfl/teams/jacksonville/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/VMwr0OLB8DWK...,https://s.yimg.com/iu/api/res/1.2/VMwr0OLB8DWK...,False,False,False,0.0,Travis,Travis,Travis Hunter,Hunter,99001.0,461.p.99001,O,WR,https://sports.yahoo.com/nfl/players/41787,2025.0,travis hunter,travis hunter_99001,hunter

In [111]:
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14096 entries, 0 to 15411
Data columns (total 67 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mfl_id                    12039 non-null  float64
 1   sportradar_id             11974 non-null  object
 2   fantasypros_id            10879 non-null  float64
 3   gsis_id                   11776 non-null  object
 4   pff_id                    11643 non-null  float64
 5   sleeper_id                11783 non-null  float64
 6   nfl_id                    11576 non-null  float64
 7   espn_id                   11810 non-null  float64
 8   yahoo_id                  11522 non-null  float64
 9   fleaflicker_id            1016 non-null   float64
 10  cbs_id                    11956 non-null  float64
 11  pfr_id                    11547 non-null  object
 12  cfbref_id                 6282 non-null   object
 13  rotowire_id               12028 non-null  float64
 14  rotoworld_id              8839 non-null   float64
 15  ktc_id                    1731 non-null   float64
 16  stats_id                  12039 non-null  float64
 17  stats_global_id           12039 non-null  float64
 18  fantasy_data_id           11054 non-null  float64
 19  swish_id                  7567 non-null   float64
 20  name                      12039 non-null  object
 21  merge_name                12039 non-null  object
 22  position                  12039 non-null  object
 23  team                      12039 non-null  object
 24  birthdate                 12027 non-null  object
 25  age                       12027 non-null  float64
 26  draft_year                12039 non-null  float64
 27  draft_round               6903 non-null   float64
 28  draft_pick                6886 non-null   float64
 29  draft_ovr                 6900 non-null   float64
 30  twitter_username          3809 non-null   object
 31  height                    12029 non-null  float64
 32  weight                    12031 non-null  float64
 33  college                   12019 non-null  object
 34  db_season                 12039 non-null  float64
 35  cleaned_name_master       12039 non-null  object
 36  match_key_master          12039 non-null  object
 37  mapped_ids                12039 non-null  float64
 38  last_name_master          12039 non-null  object
 39  bye_weeks.week            14096 non-null  float64
 40  display_position          14096 non-null  object
 41  editorial_player_key      14096 non-null  object
 42  editorial_team_abbr       14096 non-null  object
 43  editorial_team_full_name  14096 non-null  object
 44  editorial_team_key        14096 non-null  object
 45  editorial_team_url        14096 non-null  object
 46  eligible_positions        14096 non-null  object
 47  headshot.size             14096 non-null  object
 48  headshot.url              14096 non-null  object
 49  image_url                 14096 non-null  object
 50  is_keeper.status          14096 non-null  object
 51  is_keeper.cost            14096 non-null  object
 52  is_keeper.kept            14096 non-null  object
 53  is_undroppable            14096 non-null  float64
 54  name.ascii_first          14096 non-null  object
 55  name.first                14096 non-null  object
 56  name.full                 14096 non-null  object
 57  name.last                 14096 non-null  object
 58  player_id                 14096 non-null  float64
 59  player_key                14096 non-null  object
 60  position_type             14096 non-null  object
 61  primary_position          14096 non-null  object
 62  url                       14096 non-null  object
 63  season                    14096 non-null  float64
 64  cleaned_name_yahoo        14096 non-null  object
 65  match_key_yahoo           14096 non-null  object
 66  last_name_yahoo           14096 non-null  object
dtypes: float64(29), object(38)
memory usage: 7.3+ MB

In [113]:
merged_ids.loc[merged_ids['stats_id'].isna(), 'stats_id'] = merged_ids.loc[merged_ids['stats_id'].isna(), 'player_id']

In [114]:
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14096 entries, 0 to 15411
Data columns (total 67 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mfl_id                    12039 non-null  float64
 1   sportradar_id             11974 non-null  object
 2   fantasypros_id            10879 non-null  float64
 3   gsis_id                   11776 non-null  object
 4   pff_id                    11643 non-null  float64
 5   sleeper_id                11783 non-null  float64
 6   nfl_id                    11576 non-null  float64
 7   espn_id                   11810 non-null  float64
 8   yahoo_id                  11522 non-null  float64
 9   fleaflicker_id            1016 non-null   float64
 10  cbs_id                    11956 non-null  float64
 11  pfr_id                    11547 non-null  object
 12  cfbref_id                 6282 non-null   object
 13  rotowire_id               12028 non-null  float64
 14  rotoworld_id              8839 non-null   float64
 15  ktc_id                    1731 non-null   float64
 16  stats_id                  14096 non-null  float64
 17  stats_global_id           12039 non-null  float64
 18  fantasy_data_id           11054 non-null  float64
 19  swish_id                  7567 non-null   float64
 20  name                      12039 non-null  object
 21  merge_name                12039 non-null  object
 22  position                  12039 non-null  object
 23  team                      12039 non-null  object
 24  birthdate                 12027 non-null  object
 25  age                       12027 non-null  float64
 26  draft_year                12039 non-null  float64
 27  draft_round               6903 non-null   float64
 28  draft_pick                6886 non-null   float64
 29  draft_ovr                 6900 non-null   float64
 30  twitter_username          3809 non-null   object
 31  height                    12029 non-null  float64
 32  weight                    12031 non-null  float64
 33  college                   12019 non-null  object
 34  db_season                 12039 non-null  float64
 35  cleaned_name_master       12039 non-null  object
 36  match_key_master          12039 non-null  object
 37  mapped_ids                12039 non-null  float64
 38  last_name_master          12039 non-null  object
 39  bye_weeks.week            14096 non-null  float64
 40  display_position          14096 non-null  object
 41  editorial_player_key      14096 non-null  object
 42  editorial_team_abbr       14096 non-null  object
 43  editorial_team_full_name  14096 non-null  object
 44  editorial_team_key        14096 non-null  object
 45  editorial_team_url        14096 non-null  object
 46  eligible_positions        14096 non-null  object
 47  headshot.size             14096 non-null  object
 48  headshot.url              14096 non-null  object
 49  image_url                 14096 non-null  object
 50  is_keeper.status          14096 non-null  object
 51  is_keeper.cost            14096 non-null  object
 52  is_keeper.kept            14096 non-null  object
 53  is_undroppable            14096 non-null  float64
 54  name.ascii_first          14096 non-null  object
 55  name.first                14096 non-null  object
 56  name.full                 14096 non-null  object
 57  name.last                 14096 non-null  object
 58  player_id                 14096 non-null  float64
 59  player_key                14096 non-null  object
 60  position_type             14096 non-null  object
 61  primary_position          14096 non-null  object
 62  url                       14096 non-null  object
 63  season                    14096 non-null  float64
 64  cleaned_name_yahoo        14096 non-null  object
 65  match_key_yahoo           14096 non-null  object
 66  last_name_yahoo           14096 non-null  object
dtypes: float64(29), object(38)
memory usage: 7.3+ MB

In [115]:
merged_ids[merged_ids['stats_id'] != merged_ids['mapped_ids']]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
2065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9668.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,WR,nfl.p.9668,Bal,Baltimore Ravens,nfl.t.33,https://sports.yahoo.com/nfl/teams/baltimore/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Dobson,Dobson,Dobson Collins,Collins,9668.0,359.p.9668,O,WR,https://sports.yahoo.com/nfl/players/9668,2016.0,dobson collins,dobson collins_9668,collins
2475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24746.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,WR,nfl.p.24746,Car,Carolina Panthers,nfl.t.29,https://sports.yahoo.com/nfl/teams/carolina/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/M8gJ9e0k7poq...,https://s.yimg.com/iu/api/res/1.2/M8gJ9e0k7poq...,False,False,False,0.0,Teddy,Teddy,Teddy Williams,Williams,24746.0,331.p.24746,O,WR,https://sports.yahoo.com/nfl/players/24746,2014.0,teddy williams,teddy williams_24746,williams
2834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,TE,nfl.p.25050,Cle,Cleveland Browns,nfl.t.5,https://sports.yahoo.com/nfl/teams/cleveland/,['TE'],small,https://s.yimg.com/iu/api/res/1.2/SKdKxY1l7uWA...,https://s.yimg.com/iu/api/res/1.2/SKdKxY1l7uWA...,False,False,False,0.0,Martell,Martell,Martell Webb,Webb,25050.0,331.p.25050,O,TE,https://sports.yahoo.com/nfl/players/25050,2014.0,martell webb,martell webb_25050,webb
2867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,"WR,TE",nfl.p.25123,Mia,Miami Dolphins,nfl.t.15,https://sports.yahoo.com/nfl/teams/miami/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,https://s.yimg.com/iu/api/res/1.2/TcM85WhJ.fAO...,False,False,False,0.0,Raymond,Raymond,Raymond Webber,Webber,25123.0,331.p.25123,O,WR,https://sports.yahoo.com/nfl/players/25123,2014.0,raymond webber,raymond webber_25123,webber
2920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,WR,nfl.p.25277,Chi,Chicago Bears,nfl.t.3,https://sports.yahoo.com/nfl/teams/chicago/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/ErQQSpQt6mru...,https://s.yimg.com/iu/api/res/1.2/ErQQSpQt6mru...,False,False,False,0.0,John,John,John Chiles,Chiles,25277.0,348.p.25277,O,WR,https://sports.yahoo.com/nfl/players/25277,2015.0,john chiles,john chiles_25277,chiles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0.0,Houston,Houston,Houston Texans,Texans,100034.0,406.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2021.0,houston texans,houston texans_100034,texans
15408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0.0,Houston,Houston,Houston Texans,Texans,100034.0,414.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2022.0,houston texans,houston texans_100034,texans
15409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0.0,Houston,Houston,Houston Texans,Texans,100034.0,423.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2023.0,houston texans,houston texans_100034,texans
15410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0.0,Houston,Houston,Houston Texans,Texans,100034.0,449.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2024.0,houston texans,houston texans_100034,texans
15411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,DEF,nfl.p.100034,Hou,Houston Texans,nfl.t.34,https://sports.yahoo.com/nfl/teams/houston/,['DEF'],small,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,https://s.yimg.com/lq/i/us/sp/v/nfl/teams/1/50...,False,False,False,0.0,Houston,Houston,Houston Texans,Texans,100034.0,461.p.100034,DT,DEF,https://sports.yahoo.com/nfl/teams/houston/,2025.0,houston texans,houston texans_100034,texans

In [116]:
merged_ids.loc[merged_ids['mapped_ids'].isna(), 'mapped_ids'] = merged_ids.loc[merged_ids['mapped_ids'].isna(), 'stats_id']

In [117]:
merged_ids[merged_ids['stats_id'] != merged_ids['mapped_ids']]

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
15027,17074.0,4a975d4c-d7cd-45ef-b258-db45187140eb,26034.0,00-0040718,160766.0,12530.0,58204.0,4685415.0,NaN,NaN,28909849.0,HuntTr00,NaN,18578.0,NaN,1774.0,41787.0,0.0,26056.0,NaN,Travis Hunter,travis hunter,WR,JAC,2003-05-18,22.4,2025.0,1.0,2.0,2.0,NaN,73.0,185.0,Colorado,2025.0,travis hunter,travis hunter_99001,99001.0,hunter,8.0,WR,nfl.p.41787,Jax,Jacksonville Jaguars,nfl.t.30,https://sports.yahoo.com/nfl/teams/jacksonville/,['WR'],small,https://s.yimg.com/iu/api/res/1.2/VMwr0OLB8DWK...,https://s.yimg.com/iu/api/res/1.2/VMwr0OLB8DWK...,False,False,False,0.0,Travis,Travis,Travis Hunter,Hunter,99001.0,461.p.99001,O,WR,https://sports.yahoo.com/nfl/players/41787,2025.0,travis hunter,travis hunter_99001,hunter

In [119]:
merged_ids[merged_ids['last_name_yahoo'] == 'borregales']

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name_master,match_key_master,mapped_ids,last_name_master,bye_weeks.week,display_position,editorial_player_key,editorial_team_abbr,editorial_team_full_name,editorial_team_key,editorial_team_url,eligible_positions,headshot.size,headshot.url,image_url,is_keeper.status,is_keeper.cost,is_keeper.kept,is_undroppable,name.ascii_first,name.first,name.full,name.last,player_id,player_key,position_type,primary_position,url,season,cleaned_name_yahoo,match_key_yahoo,last_name_yahoo
12954,15507.0,42a287f6-9a56-4699-8c63-bc54625ff6eb,23403.0,00-0036757,NaN,7961.0,NaN,NaN,33867.0,NaN,2262788.0,NaN,NaN,15617.0,NaN,NaN,33867.0,0.0,NaN,948876.0,Jose Borregales,jose borregales,PK,FA,1997-12-15,25.2,2021.0,NaN,NaN,NaN,NaN,70.0,205.0,Miami (FL),2025.0,jose borregales,jose borregales_33867,33867.0,borregales,9.0,K,nfl.p.33867,TB,Tampa Bay Buccaneers,nfl.t.27,https://sports.yahoo.com/nfl/teams/tampa-bay/,['K'],small,https://s.yimg.com/iu/api/res/1.2/K97wBKJC19ug...,https://s.yimg.com/iu/api/res/1.2/K97wBKJC19ug...,False,False,False,0.0,Jose,Jose,Jose Borregales,Borregales,33867.0,406.p.33867,K,K,https://sports.yahoo.com/nfl/players/33867,2021.0,jose borregales,jose borregales_33867,borregales
12955,15507.0,42a287f6-9a56-4699-8c63-bc54625ff6eb,23403.0,00-0036757,NaN,7961.0,NaN,NaN,33867.0,NaN,2262788.0,NaN,NaN,15617.0,NaN,NaN,33867.0,0.0,NaN,948876.0,Jose Borregales,jose borregales,PK,FA,1997-12-15,25.2,2021.0,NaN,NaN,NaN,NaN,70.0,205.0,Miami (FL),2025.0,jose borregales,jose borregales_33867,33867.0,borregales,11.0,K,nfl.p.33867,TB,Tampa Bay Buccaneers,nfl.t.27,https://sports.yahoo.com/nfl/teams/tampa-bay/,['K'],small,https://s.yimg.com/iu/api/res/1.2/K97wBKJC19ug...,https://s.yimg.com/iu/api/res/1.2/K97wBKJC19ug...,False,False,False,0.0,Jose,Jose,Jose Borregales,Borregales,33867.0,414.p.33867,K,K,https://sports.yahoo.com/nfl/players/33867,2022.0,jose borregales,jose borregales_33867,borregales
14803,17220.0,80dce1ba-c997-47e6-a37e-e92fefcbdc1b,NaN,00-0040200,143934.0,12713.0,58387.0,4569923.0,NaN,NaN,26699665.0,BorrAn00,NaN,18743.0,NaN,NaN,41980.0,0.0,26106.0,NaN,Andres Borregales,andres borregales,PK,NEP,2002-01-02,23.8,2025.0,6.0,6.0,182.0,NaN,71.0,202.0,Miami (FL),2025.0,andres borregales,andres borregales_41980,41980.0,borregales,14.0,K,nfl.p.41980,NE,New England Patriots,nfl.t.17,https://sports.yahoo.com/nfl/teams/new-england/,['K'],small,https://s.yimg.com/iu/api/res/1.2/xgXGV4LH8kz....,https://s.yimg.com/iu/api/res/1.2/xgXGV4LH8kz....,False,False,False,0.0,Andy,Andy,Andy Borregales,Borregales,41980.0,461.p.41980,K,K,https://sports.yahoo.com/nfl/players/41980,2025.0,andy borregales,andy borregales_41980,borregales

In [120]:
merged_ids['player_id'].nunique()

4263

In [121]:
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14096 entries, 0 to 15411
Data columns (total 67 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mfl_id                    12039 non-null  float64
 1   sportradar_id             11974 non-null  object
 2   fantasypros_id            10879 non-null  float64
 3   gsis_id                   11776 non-null  object
 4   pff_id                    11643 non-null  float64
 5   sleeper_id                11783 non-null  float64
 6   nfl_id                    11576 non-null  float64
 7   espn_id                   11810 non-null  float64
 8   yahoo_id                  11522 non-null  float64
 9   fleaflicker_id            1016 non-null   float64
 10  cbs_id                    11956 non-null  float64
 11  pfr_id                    11547 non-null  object
 12  cfbref_id                 6282 non-null   object
 13  rotowire_id               12028 non-null  float64
 14  rotoworld_id              8839 non-null   float64
 15  ktc_id                    1731 non-null   float64
 16  stats_id                  14096 non-null  float64
 17  stats_global_id           12039 non-null  float64
 18  fantasy_data_id           11054 non-null  float64
 19  swish_id                  7567 non-null   float64
 20  name                      12039 non-null  object
 21  merge_name                12039 non-null  object
 22  position                  12039 non-null  object
 23  team                      12039 non-null  object
 24  birthdate                 12027 non-null  object
 25  age                       12027 non-null  float64
 26  draft_year                12039 non-null  float64
 27  draft_round               6903 non-null   float64
 28  draft_pick                6886 non-null   float64
 29  draft_ovr                 6900 non-null   float64
 30  twitter_username          3809 non-null   object
 31  height                    12029 non-null  float64
 32  weight                    12031 non-null  float64
 33  college                   12019 non-null  object
 34  db_season                 12039 non-null  float64
 35  cleaned_name_master       12039 non-null  object
 36  match_key_master          12039 non-null  object
 37  mapped_ids                14096 non-null  float64
 38  last_name_master          12039 non-null  object
 39  bye_weeks.week            14096 non-null  float64
 40  display_position          14096 non-null  object
 41  editorial_player_key      14096 non-null  object
 42  editorial_team_abbr       14096 non-null  object
 43  editorial_team_full_name  14096 non-null  object
 44  editorial_team_key        14096 non-null  object
 45  editorial_team_url        14096 non-null  object
 46  eligible_positions        14096 non-null  object
 47  headshot.size             14096 non-null  object
 48  headshot.url              14096 non-null  object
 49  image_url                 14096 non-null  object
 50  is_keeper.status          14096 non-null  object
 51  is_keeper.cost            14096 non-null  object
 52  is_keeper.kept            14096 non-null  object
 53  is_undroppable            14096 non-null  float64
 54  name.ascii_first          14096 non-null  object
 55  name.first                14096 non-null  object
 56  name.full                 14096 non-null  object
 57  name.last                 14096 non-null  object
 58  player_id                 14096 non-null  float64
 59  player_key                14096 non-null  object
 60  position_type             14096 non-null  object
 61  primary_position          14096 non-null  object
 62  url                       14096 non-null  object
 63  season                    14096 non-null  float64
 64  cleaned_name_yahoo        14096 non-null  object
 65  match_key_yahoo           14096 non-null  object
 66  last_name_yahoo           14096 non-null  object
dtypes: float64(29), object(38)
memory usage: 7.3+ MB

In [124]:
merged_ids = merged_ids.loc[(merged_ids['gsis_id'].notna()) | (merged_ids['primary_position'] == 'DEF')]

In [125]:
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12160 entries, 0 to 15411
Data columns (total 67 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mfl_id                    11776 non-null  float64
 1   sportradar_id             11766 non-null  object
 2   fantasypros_id            10803 non-null  float64
 3   gsis_id                   11776 non-null  object
 4   pff_id                    11643 non-null  float64
 5   sleeper_id                11605 non-null  float64
 6   nfl_id                    11539 non-null  float64
 7   espn_id                   11678 non-null  float64
 8   yahoo_id                  11396 non-null  float64
 9   fleaflicker_id            1015 non-null   float64
 10  cbs_id                    11720 non-null  float64
 11  pfr_id                    11531 non-null  object
 12  cfbref_id                 6271 non-null   object
 13  rotowire_id               11774 non-null  float64
 14  rotoworld_id              8677 non-null   float64
 15  ktc_id                    1731 non-null   float64
 16  stats_id                  12160 non-null  float64
 17  stats_global_id           11776 non-null  float64
 18  fantasy_data_id           10958 non-null  float64
 19  swish_id                  7523 non-null   float64
 20  name                      11776 non-null  object
 21  merge_name                11776 non-null  object
 22  position                  11776 non-null  object
 23  team                      11776 non-null  object
 24  birthdate                 11772 non-null  object
 25  age                       11772 non-null  float64
 26  draft_year                11776 non-null  float64
 27  draft_round               6885 non-null   float64
 28  draft_pick                6869 non-null   float64
 29  draft_ovr                 6884 non-null   float64
 30  twitter_username          3794 non-null   object
 31  height                    11767 non-null  float64
 32  weight                    11769 non-null  float64
 33  college                   11758 non-null  object
 34  db_season                 11776 non-null  float64
 35  cleaned_name_master       11776 non-null  object
 36  match_key_master          11776 non-null  object
 37  mapped_ids                12160 non-null  float64
 38  last_name_master          11776 non-null  object
 39  bye_weeks.week            12160 non-null  float64
 40  display_position          12160 non-null  object
 41  editorial_player_key      12160 non-null  object
 42  editorial_team_abbr       12160 non-null  object
 43  editorial_team_full_name  12160 non-null  object
 44  editorial_team_key        12160 non-null  object
 45  editorial_team_url        12160 non-null  object
 46  eligible_positions        12160 non-null  object
 47  headshot.size             12160 non-null  object
 48  headshot.url              12160 non-null  object
 49  image_url                 12160 non-null  object
 50  is_keeper.status          12160 non-null  object
 51  is_keeper.cost            12160 non-null  object
 52  is_keeper.kept            12160 non-null  object
 53  is_undroppable            12160 non-null  float64
 54  name.ascii_first          12160 non-null  object
 55  name.first                12160 non-null  object
 56  name.full                 12160 non-null  object
 57  name.last                 12160 non-null  object
 58  player_id                 12160 non-null  float64
 59  player_key                12160 non-null  object
 60  position_type             12160 non-null  object
 61  primary_position          12160 non-null  object
 62  url                       12160 non-null  object
 63  season                    12160 non-null  float64
 64  cleaned_name_yahoo        12160 non-null  object
 65  match_key_yahoo           12160 non-null  object
 66  last_name_yahoo           12160 non-null  object
dtypes: float64(29), object(38)
memory usage: 6.3+ MB

In [127]:
merged_ids[['stats_id', 'player_id', 'gsis_id']].nunique()

stats_id     2843
player_id    2843
gsis_id      2810
dtype: int64

In [ ]:
merg

In [135]:
merged_ids[merged_ids['gsis_id'].isna()]['primary_position'].value_counts()

primary_position
DEF    384
Name: count, dtype: int64

In [136]:
merged_ids.loc[merged_ids['gsis_id'].isna(), 'gsis_id'] = merged_ids.loc[merged_ids['gsis_id'].isna(), 'name.full']

In [137]:
merged_ids[['stats_id', 'player_id', 'gsis_id']].nunique()

stats_id     2843
player_id    2843
gsis_id      2842
dtype: int64

In [146]:
# Find gsis_ids that map to multiple different stats_ids
multi_stats = merged_ids.groupby('gsis_id')['stats_id'].nunique()
multi_stats[multi_stats > 1]

gsis_id
00-0031320    2
Name: stats_id, dtype: int64

In [149]:
merged_ids = merged_ids.loc[merged_ids['mapped_ids'] != 27502]

In [151]:
merged_ids[['stats_id', 'player_id', 'gsis_id', 'mapped_ids']].nunique()

stats_id      2842
player_id     2842
gsis_id       2842
mapped_ids    2842
dtype: int64

In [152]:
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12157 entries, 0 to 15411
Data columns (total 67 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mfl_id                    11773 non-null  float64
 1   sportradar_id             11763 non-null  object
 2   fantasypros_id            10803 non-null  float64
 3   gsis_id                   12157 non-null  object
 4   pff_id                    11640 non-null  float64
 5   sleeper_id                11602 non-null  float64
 6   nfl_id                    11536 non-null  float64
 7   espn_id                   11675 non-null  float64
 8   yahoo_id                  11393 non-null  float64
 9   fleaflicker_id            1015 non-null   float64
 10  cbs_id                    11717 non-null  float64
 11  pfr_id                    11528 non-null  object
 12  cfbref_id                 6271 non-null   object
 13  rotowire_id               11771 non-null  float64
 14  rotoworld_id              8674 non-null   float64
 15  ktc_id                    1731 non-null   float64
 16  stats_id                  12157 non-null  float64
 17  stats_global_id           11773 non-null  float64
 18  fantasy_data_id           10955 non-null  float64
 19  swish_id                  7523 non-null   float64
 20  name                      11773 non-null  object
 21  merge_name                11773 non-null  object
 22  position                  11773 non-null  object
 23  team                      11773 non-null  object
 24  birthdate                 11769 non-null  object
 25  age                       11769 non-null  float64
 26  draft_year                11773 non-null  float64
 27  draft_round               6885 non-null   float64
 28  draft_pick                6869 non-null   float64
 29  draft_ovr                 6884 non-null   float64
 30  twitter_username          3794 non-null   object
 31  height                    11764 non-null  float64
 32  weight                    11766 non-null  float64
 33  college                   11755 non-null  object
 34  db_season                 11773 non-null  float64
 35  cleaned_name_master       11773 non-null  object
 36  match_key_master          11773 non-null  object
 37  mapped_ids                12157 non-null  float64
 38  last_name_master          11773 non-null  object
 39  bye_weeks.week            12157 non-null  float64
 40  display_position          12157 non-null  object
 41  editorial_player_key      12157 non-null  object
 42  editorial_team_abbr       12157 non-null  object
 43  editorial_team_full_name  12157 non-null  object
 44  editorial_team_key        12157 non-null  object
 45  editorial_team_url        12157 non-null  object
 46  eligible_positions        12157 non-null  object
 47  headshot.size             12157 non-null  object
 48  headshot.url              12157 non-null  object
 49  image_url                 12157 non-null  object
 50  is_keeper.status          12157 non-null  object
 51  is_keeper.cost            12157 non-null  object
 52  is_keeper.kept            12157 non-null  object
 53  is_undroppable            12157 non-null  float64
 54  name.ascii_first          12157 non-null  object
 55  name.first                12157 non-null  object
 56  name.full                 12157 non-null  object
 57  name.last                 12157 non-null  object
 58  player_id                 12157 non-null  float64
 59  player_key                12157 non-null  object
 60  position_type             12157 non-null  object
 61  primary_position          12157 non-null  object
 62  url                       12157 non-null  object
 63  season                    12157 non-null  float64
 64  cleaned_name_yahoo        12157 non-null  object
 65  match_key_yahoo           12157 non-null  object
 66  last_name_yahoo           12157 non-null  object
dtypes: float64(29), object(38)
memory usage: 6.3+ MB

In [ ]:
# master_raw[master_raw['gsis_id'].isna()].head(50)

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,cbs_id,pfr_id,cfbref_id,rotowire_id,rotoworld_id,ktc_id,stats_id,stats_global_id,fantasy_data_id,swish_id,name,merge_name,position,team,birthdate,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season,cleaned_name,match_key,mapped_ids,last_name
55,17085,1edb3290-2518-11f0-972e-efd9d03db8c5,27455.0,NaN,NaN,12972.0,NaN,4431597.0,NaN,NaN,26733219.0,NaN,NaN,18651.0,NaN,NaN,42279.0,0.0,NaN,NaN,Roc Taylor,roc taylor,WR,FA,2002-08-26,23.1,2025.0,NaN,NaN,NaN,NaN,73.0,213.0,Memphis,2025,roc taylor,roc taylor_42279,42279,taylor
59,17089,483872b0-2630-11f0-b7f1-df7c830143e7,27218.0,NaN,NaN,12460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18559.0,NaN,NaN,42444.0,0.0,26081.0,NaN,Antwane Wells,antwane wells,WR,NYG,2001-04-02,24.5,2025.0,NaN,NaN,NaN,NaN,72.0,205.0,Ole Miss,2025,antwane wells,antwane wells_42444,42444,wells
60,17090,3e9fe6f0-2619-11f0-8447-731004665991,23063.0,NaN,NaN,13108.0,NaN,4430800.0,NaN,NaN,NaN,NaN,NaN,17067.0,NaN,NaN,42423.0,0.0,NaN,NaN,Julian Fleming,julian fleming,WR,FA,2000-12-19,24.8,2025.0,NaN,NaN,NaN,NaN,74.0,208.0,Penn State,2025,julian fleming,julian fleming_42423,42423,fleming
62,17092,71bd62b0-3ccb-11f0-b22b-71ee09ef21d6,27450.0,NaN,NaN,13225.0,NaN,4587977.0,NaN,NaN,29052184.0,NaN,NaN,18468.0,NaN,NaN,42545.0,0.0,NaN,NaN,Sam Brown,sam brown,WR,FA,2002-08-15,23.2,2025.0,NaN,NaN,NaN,NaN,74.0,200.0,Miami (FL),2025,sam brown,sam brown_42545,42545,brown
63,17093,8a410ba0-23a5-11f0-8d5d-1b4f09989b68,26061.0,NaN,NaN,12810.0,NaN,4429184.0,NaN,NaN,3163150.0,NaN,NaN,18570.0,NaN,NaN,42111.0,0.0,NaN,NaN,Elijhah Badger,elijhah badger,WR,FA,2001-08-15,24.2,2025.0,NaN,NaN,NaN,NaN,73.0,192.0,Florida,2025,elijhah badger,elijhah badger_42111,42111,badger
65,17095,a6f8abf0-25f7-11f0-8ecb-77a06236c534,27075.0,NaN,NaN,12488.0,NaN,4429056.0,NaN,NaN,3161851.0,NaN,NaN,18557.0,NaN,NaN,42404.0,0.0,NaN,NaN,Kobe Hudson,kobe hudson,WR,FA,2001-09-11,24.1,2025.0,NaN,NaN,NaN,NaN,72.0,193.0,UCF,2025,kobe hudson,kobe hudson_42404,42404,hudson
71,17101,557ec8cb-2700-4dcb-8d5e-db0e0e5a8ef5,25413.0,NaN,NaN,12721.0,NaN,4431509.0,NaN,NaN,26694721.0,NaN,NaN,18563.0,NaN,NaN,42020.0,0.0,NaN,NaN,Kaden Prather,kaden prather,WR,FA,2002-09-06,23.1,2025.0,7.0,24.0,NaN,NaN,75.0,204.0,Maryland,2025,kaden prather,kaden prather_42020,42020,prather
235,17266,3557e290-2449-11f0-9b47-b3e02d0eb26f,27649.0,NaN,NaN,12868.0,NaN,4684625.0,NaN,NaN,26699807.0,NaN,NaN,18566.0,NaN,NaN,42173.0,0.0,NaN,NaN,Montrell Johnson,montrell johnson,RB,PHI,2002-10-13,23.0,2025.0,NaN,NaN,NaN,NaN,71.0,212.0,Florida,2025,montrell johnson,montrell johnson_42173,42173,johnson
239,17271,8a118cb0-2551-11f0-9371-f9b494c39630,27293.0,NaN,NaN,12546.0,NaN,4694302.0,NaN,NaN,26728267.0,NaN,NaN,18525.0,NaN,NaN,42345.0,0.0,NaN,NaN,Marcus Yarns,marcus yarns,RB,FA,2001-10-30,24.0,2025.0,NaN,NaN,NaN,NaN,71.0,190.0,Delaware,2025,marcus yarns,marcus yarns_42345,42345,yarns
241,17273,394f23d0-254e-11f0-85e6-ad6d4b9a9b15,25407.0,NaN,NaN,13001.0,NaN,4431618.0,NaN,NaN,26697388.0,NaN,NaN,18926.0,NaN,NaN,42326.0,0.0,NaN,NaN,Mario Williams,mario williams,WR,FA,2003-01-21,22.7,2025.0,NaN,NaN,NaN,NaN,69.0,178.0,Tulane,2025,mario williams,mario williams_42326,42326,williams
244,17276,8e353ae0-2442-11f0-b1aa-45a8da233bc0,26400.0,NaN,NaN,12863.0,NaN,5093923.0,NaN,NaN,28926946.0,NaN,NaN,18453.0,NaN,NaN,42162.0,0.0,NaN,NaN,Andrew Armstrong,andrew armstrong,WR,FA,2000-10-31,25.0,2025.0,NaN,NaN,NaN,NaN,76.0,210.0,Arkansas,2025,andrew armstrong,andrew armstrong_42162,42162,armstrong
247,17279,c2d12a90-254e-11f0-bbb1-dfff98110c96,NaN,NaN,NaN,13022.0,NaN,4428143.0,NaN,NaN,3121137.0,NaN,NaN,18903.0,NaN,NaN,42333.0,0.0,NaN,NaN,Sone Ntoh,sone ntoh,RB,FA,2001-10-05,24.0,2025.0,NaN,NaN,NaN,NaN,71.0,235.0,Monmouth,2025,sone ntoh,sone ntoh_42333,42333,ntoh
248,17280,34368fd0-2514-11f0-a81f-81aa50e9d045,NaN,NaN,NaN,12940.0,NaN,5093062.0,NaN,NaN,29426636.0,NaN,NaN,18813.0,NaN,NaN,42271.0,0.0,NaN,NaN,Tre Stewart,tre stewart,RB,FA,2002-12-14,22.8,2025.0,NaN,NaN,NaN,NaN,68.0,186.0,Jacksonville State,2025,tre stewart,tre stewart_42271,42271,stewart
256,17288,1b29e8b0-263c-11f0-a83a-5dc5f977bd5d,NaN,NaN,NaN,13139.0,NaN,4567044.0,NaN,NaN,3127330.0,NaN,NaN,18962.0,NaN,NaN,42458.0,0.0,NaN,NaN,Taylor Morin,taylor morin,WR,FA,2001-01-03,24.8,2025.0,NaN,NaN,NaN,NaN,71.0,185.0,Wake Forest,2025,taylor morin,taylor morin_42458,42458,morin
259,17291,245093a0-2441-11f0-a608-33674237b180,27278.0,NaN,NaN,12859.0,NaN,4613032.0,NaN,NaN,3172309.0,NaN,NaN,18475.0,NaN,NaN,42160.0,0.0,NaN,NaN,Nate Noel,nate noel,RB,FA,2002-04-04,23.5,2025.0,NaN,NaN,NaN,NaN,69.0,200.0,Missouri,2025,nate noel,nate noel_42160,42160,noel
260,17292,01eab3e0-2306-11f0-9c04-1317a7fe708d,27492.0,NaN,NaN,12755.0,NaN,5082289.0,NaN,NaN,28874246.0,NaN,NaN,18904.0,NaN,NaN,42061.0,0.0,NaN,NaN,Kelly Akharaiyi,kelly akharaiyi,WR,FA,2000-02-02,25.7,2025.0,NaN,NaN,NaN,NaN,73.0,200.0,Mississippi State,2025,kelly akharaiyi,kelly akharaiyi_42061,42061,akharaiyi
264,17296,394f7520-2552-11f0-9371-f9b494c39630,NaN,NaN,NaN,13043.0,NaN,4430804.0,NaN,NaN,3171678.0,NaN,NaN,17035.0,NaN,NaN,42343.0,0.0,NaN,NaN,Chris Tyree,chris tyree,WR,FA,2001-12-05,23.9,2025.0,NaN,NaN,NaN,NaN,70.0,192.0,Virginia,2025,chris tyree,chris tyree_42343,42343,tyree
265,17297,50201cb0-2911-11f0-8936-0dff501e2cb9,NaN,NaN,NaN,13153.0,NaN,4427569.0,NaN,NaN,3133264.0,NaN,NaN,18984.0,NaN,NaN,42468.0,0.0,NaN,NaN,Giles Jackson,giles jackson,WR,FA,2001-12-11,23.8,2025.0,NaN,NaN,NaN,NaN,69.0,187.0,Washington,2025,giles jackson,giles jackson_42468,42468,jackson
268,17300,f64aff60-2510-11f0-abe6-9bfe83819280,27451.0,NaN,NaN,12967.0,NaN,4567784.0,NaN,NaN,26700358.0,NaN,NaN,18649.0,NaN,NaN,42259.0,0.0,NaN,NaN,Jacolby George,jacolby george,WR,FA,2003-01-25,22.7,2025.0,NaN,NaN,NaN,NaN,71.0,172.0,Miami (FL),2025,jacolby george,jacolby george_42259,42259,george
276,17309,11288610-2311-11f0-833e-6da5d4b3f0d4,NaN,NaN,NaN,12777.0,NaN,4696907.0,NaN,NaN,26726311.0,NaN,NaN,18862.0,NaN,NaN,42072.0,0.0,NaN,NaN,Joaquin Davis,joaquin davis,WR,FA,2002-08-18,23.2,2025.0,NaN,NaN,NaN,NaN,76.0,195.0,North Carolina Central,2025,joaquin davis,joaquin davis_42072,42072,davis
277,17310,ca2eed00-23ae-11f0-a139-771c091b0ec3,NaN,NaN,NaN,12815.0,NaN,4686438.0,NaN,NaN,3164867.0,NaN,NaN,18839.0,NaN,NaN,42122.0,0.0,NaN,NaN,Stevo Klotz,stevo klotz,TE,FA,2001-12-28,23.8,2025.0,NaN,NaN,NaN,NaN,76.0,260.0,Iowa State,2025,stevo klotz,stevo klotz_42122,42122,klotz
278,17311,ab7254b0-246c-11f0-a479-43ecd63a7ee8,NaN,NaN,NaN,12884.0,NaN,4572380.0,NaN,NaN,26697082.0,NaN,NaN,18898.0,NaN,NaN,42187.0,0.0,NaN,NaN,Quincy Skinner,quincy skinner,WR,FA,2003-02-28,22.6,2025.0,NaN,NaN,NaN,NaN,74.0,205.0,Vanderbilt,2025,quincy skinner,quincy skinner_42187,42187,skinner
280,17313,2b89f6e0-249e-11f0-8ecb-33c8d222dbba,NaN,NaN,NaN,12909.0,NaN,4430288.0,NaN,NaN,3121378.0,NaN,NaN,18869.0,NaN,NaN,42217.0,0.0,NaN,NaN,Eli Pancol,eli pancol,WR,FA,2000-07-07,25.3,2025.0,NaN,NaN,NaN,NaN,75.0,205.0,Duke,2025,eli pancol,eli pancol_42217,42217,pancol
282,17316,e36f0e80-22fa-11f0-9dac-6f662a2700ab,NaN,NaN,NaN,12750.0,NaN,4568671.0,NaN,NaN,3126558.0,NaN,NaN,18935.0,NaN,NaN,42048.0,0.0,NaN,NaN,Jonathan Kim,jonathan kim,PK,FA,2004-03-25,21.6,2025.0,NaN,NaN,NaN,NaN,72.0,232.0,Michigan State,2025,jonathan kim,jonathan kim_42048,42048,kim
284,17318,bd460ff0-2567-11f0-831d-a5b6ed781dda,NaN,NaN,NaN,13064.0,NaN,4711055.0,NaN,NaN,26730616.0,NaN,NaN,18955.0,NaN,NaN,42377.0,0.0,NaN,NaN,Dorian Singer,dorian singer,WR,FA,2002-10-16,23.0,2025.0,NaN,NaN,NaN,NaN,72.0,181.0,Utah,2025,dorian singer,dorian singer_42377,42377,singer
286,17320,cf2bfe00-263e-11f0-884b-838304cf5cc4,27497.0,NaN,NaN,13149.0,NaN,4570688.0,NaN,NaN,3124063.0,NaN,NaN,18510.0,NaN,NaN,42463.0,0.0,NaN,NaN,Caden Davis,caden davis,PK,FA,2001-02-27,24.6,2025.0,NaN,NaN,NaN,NaN,74.0,210.0,Ole Miss,2025,caden davis,caden davis_42463,42463,davis
292,17327,bedb8120-23b3-11f0-8ddb-c1d5ce2f7de3,NaN,NaN,NaN,12824.0,NaN,4879326.0,NaN,NaN,26716700.0,NaN,NaN,18882.0,NaN,NaN,42125.0,0.0,NaN,NaN,Maddux Trujillo,maddux trujillo,PK,FA,2003-04-12,22.5,2025.0,NaN,NaN,NaN,NaN,72.0,172.0,Temple,2025,maddux trujillo,maddux trujillo_42125,42125,trujillo
293,17328,e1d60110-25f1-11f0-853d-af323d5bbf18,NaN,NaN,NaN,13088.0,NaN,4694583.0,NaN,NaN,3164735.0,NaN,NaN,19052.0,NaN,NaN,42392.0,0.0,NaN,NaN,Quali Conley,quali conley,RB,FA,2002-09-25,23.1,2025.0,NaN,NaN,NaN,NaN,70.0,211.0,Arizona,2025,quali conley,quali conley_42392,42392,conley
304,17345,542de5c0-263d-11f0-961b-296ef24a1ae9,NaN,NaN,NaN,13145.0,NaN,4876907.0,NaN,NaN,26695018.0,NaN,NaN,18963.0,NaN,NaN,42460.0,0.0,NaN,NaN,ShunDerrick Powell,shunderrick powell,RB,FA,2002-05-16,23.4,2025.0,NaN,NaN,NaN,NaN,67.0,183.0,Central Arkansas,2025,shunderrick powell,shunderrick powell_42460,42460,powell
358,16590,ec7b8cf0-0bb9-11ef-bb45-99966e93bb71,23002.0,NaN,NaN,12259.0,NaN,NaN,NaN,NaN,3123935.0,NaN,NaN,16999.0,NaN,NaN,41559.0,0.0,NaN,NaN,Taulia Tagovailoa,taulia tagovailoa,QB,FA,2000-02-15,25.7,2024.0,NaN,NaN,NaN,NaN,71.0,200.0,Maryland,2025,taulia tagovailoa,taulia tagovailoa_41559,41559,tagovailoa
406,16638,NaN,NaN,NaN,NaN,NaN,NaN,4427225.0,NaN,NaN,NaN,NaN,NaN,17006.0,NaN,NaN,42479.0,0.0,NaN,NaN,Zakhari Franklin,zakhari franklin,WR,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi,2025,zakhari franklin,zakhari franklin_42479,42479,franklin
585,16818,8e6fc170-07d2-11ef-95d0-7db2ea91136a,NaN,NaN,NaN,12188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41477.0,0.0,NaN,NaN,Justin Strong,justin strong,RB,FA,NaN,NaN,2024.0,NaN,NaN,NaN,NaN,72.0,205.0,Southern Illinois,2025,justin strong,justin strong_41477,41477,strong
754,16208,3a00b600-ea03-11ed-8d34-41182339b277,22941.0,NaN,NaN,9759.0,NaN,NaN,NaN,NaN,3123939.0,NaN,NaN,16823.0,NaN,NaN,40461.0,0.0,NaN,1172798.0,CJ Johnson,cj johnson,WR,FA,2000-11-04,23.3,2023.0,NaN,NaN,NaN,NaN,73.0,225.0,East Carolina,2025,cj johnson,cj johnson_40461,40461,johnson
921,16377,a5310620-e84e-11ed-a5ed-cf76bc12ef69,25327.0,NaN,NaN,9223.0,NaN,NaN,40390.0,NaN,26701126.0,NaN,NaN,16911.0,NaN,NaN,40390.0,0.0,NaN,1286884.0,Tiyon Evans,tiyon evans,RB,FA,2001-06-17,22.6,2023.0,NaN,NaN,NaN,NaN,71.0,210.0,Louisville,2025,tiyon evans,tiyon evans_40390,40390,evans
925,16381,db046ea0-e84d-11ed-b0f9-4913ed85ec87,25618.0,NaN,NaN,11146.0,NaN,4361665.0,40380.0,NaN,2963497.0,NaN,NaN,17370.0,NaN,NaN,40380.0,0.0,NaN,1107011.0,Christopher Dunn,christopher dunn,PK,FA,1998-02-19,26.0,2023.0,NaN,NaN,NaN,NaN,68.0,170.0,North Carolina State,2025,christopher dunn,christopher dunn_40380,40380,dunn
932,16388,4679f200-e8f2-11ed-98f6-5d2840f88eed,NaN,NaN,NaN,11176.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17313.0,NaN,NaN,40410.0,0.0,NaN,1058751.0,Khalan Laborn,khalan laborn,RB,FA,1999-06-01,24.7,2023.0,NaN,NaN,NaN,NaN,70.0,204.0,Marshall,2025,khalan laborn,khalan laborn_40410,40410,laborn
938,16394,53bcdfe0-ec71-11ed-8bf2-e7fff7735d4a,NaN,NaN,NaN,11344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17041.0,NaN,NaN,40592.0,0.0,NaN,974075.0,Keytaon Thompson,keytaon thompson,WR,FA,1998-10-23,25.3,2023.0,NaN,NaN,NaN,NaN,77.0,218.0,Virginia,2025,keytaon thompson,keytaon thompson_40592,40592,thompson
949,16408,ff179350-e792-11ed-a48d-cfb30084e6b5,NaN,NaN,NaN,11130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16839.0,NaN,NaN,40354.0,0.0,NaN,1058767.0,Pokey Wilson,pokey wilson,WR,FA,1999-08-12,24.5,2023.0,NaN,NaN,NaN,NaN,72.0,181.0,Florida State,2025,pokey wilson,pokey wilson_40354,40354,wilson
962,16421,b56e75b0-f328-11ed-8c4b-45baa5992d35,25890.0,NaN,NaN,11457.0,NaN,NaN,40713.0,NaN,2962857.0,NaN,NaN,17567.0,NaN,NaN,40713.0,0.0,NaN,1120927.0,Trey Wolff,trey wolff,PK,FA,2000-02-22,24.0,2023.0,NaN,NaN,NaN,NaN,76.0,205.0,Texas Tech,2025,trey wolff,trey wolff_40713,40713,wolff
975,16434,81d1aec0-e761-11ed-9207-cdc32ee5cc07,25353.0,NaN,NaN,11077.0,NaN,4379410.0,40307.0,NaN,2975696.0,NaN,NaN,16780.0,NaN,NaN,40307.0,0.0,NaN,1131031.0,Jack Podlesny,jack podlesny,PK,FA,2000-03-16,25.0,2023.0,NaN,NaN,NaN,NaN,72.0,195.0,Georgia,2025,jack podlesny,jack podlesny_40307,40307,podlesny
1071,17324,cd8d5f70-6a69-11f0-bafc-7fbf1cbad470,NaN,NaN,NaN,13240.0,NaN,4361444.0,NaN,NaN,2964065.0,NaN,NaN,17490.0,NaN,NaN,42562.0,0.0,NaN,NaN,Toa Taua,toa taua,RB,FA,2000-02-15,25.7,2023.0,NaN,NaN,NaN,NaN,69.0,215.0,Nevada,2025,toa taua,toa taua_42562,42562,taua
1105,15722,3e59ec20-ce0d-11ec-8f7c-f5226825ea6a,23029.0,NaN,NaN,8120.0,NaN,NaN,34434.0,NaN,3126859.0,NaN,NaN,15987.0,NaN,NaN,34434.0,0.0,NaN,1176738.0,Jerrion Ealy,jerrion ealy,WR,FA,2000-08-19,23.5,2022.0,NaN,NaN,NaN,NaN,68.0,187.0,Mississippi,2025,jerrion ealy,jerrion ealy_34434,34434,ealy
1122,15739,434b6750-d3b1-11ec-96a0-c3471a31202c,24669.0,NaN,NaN,8173.0,NaN,NaN,34538.0,NaN,2864584.0,NaN,NaN,15801.0,NaN,NaN,34538.0,0.0,NaN,1058764.0,ZaQuandre White,zaquandre white,RB,FA,1998-12-21,25.1,2022.0,NaN,NaN,NaN,NaN,73.0,215.0,South Carolina,2025,zaquandre white,zaquandre white_34538,34538,white
1128,15745,d607d750-d554-11ec-addb-6dd6dcd40f21,24040.0,NaN,NaN,8407.0,NaN,NaN,34691.0,NaN,2963440.0,NaN,NaN,16233.0,NaN,NaN,34691.0,0.0,NaN,1107843.0,TJ Pledger,tj pledger,RB,FA,2000-02-24,23.0,2022.0,NaN,NaN,NaN,NaN,69.0,196.0,Utah,2025,tj pledger,tj pledger_34691,34691,pledger
1133,15750,43768a40-d396-11ec-96a0-c3471a31202c,20103.0,NaN,NaN,8187.0,NaN,NaN,34530.0,NaN,2866324.0,NaN,NaN,16110.0,NaN,NaN,34530.0,0.0,NaN,1060296.0,CJ Verdell,cj verdell,RB,FA,1999-08-16,23.5,2022.0,NaN,NaN,NaN,NaN,68.0,211.0,Oregon,2025,cj verdell,cj verdell_34530,34530,verdell
1152,15770,e7642500-d3a4-11ec-96a0-c3471a31202c,23820.0,NaN,NaN,8169.0,NaN,NaN,34238.0,NaN,2966451.0,NaN,NaN,15822.0,NaN,NaN,34238.0,0.0,NaN,1109761.0,Tre Turner,tre turner,WR,FA,2000-04-21,22.8,2022.0,NaN,NaN,NaN,NaN,74.0,190.0,Virginia Tech,2025,tre turner,tre turner_34238,34238,turner
1166,15784,35bb6da0-d321-11ec-8b77-45b1765fd110,24212.0,NaN,NaN,8222.0,NaN,NaN,34557.0,NaN,2867095.0,NaN,NaN,16023.0,NaN,NaN,34557.0,0.0,NaN,1058625.0,Josh Johnson,josh johnson,WR,FA,1999-08-10,23.5,2022.0,NaN,NaN,NaN,NaN,70.0,183.0,Tulsa,2025,josh johnson,josh johnson_34557,34557,johnson
1340,15962,23377490-cd99-11ec-b94f-57e6927758e6,20076.0,NaN,NaN,8429.0,NaN,NaN,34405.0,NaN,2819874.0,NaN,NaN,16402.0,NaN,NaN,34405.0,0.0,NaN,1050831.0,Levi Lewis,levi lewis,QB,FA,1998-05-09,24.8,2022.0,NaN,NaN,NaN,NaN,70.0,185.0,Louisiana,2025,levi lewis,levi lewis_34405,34405,lewis
1342,15964,009212d0-ccb6-11ec-80d8-09832b512ffb,23938.0,NaN,NaN,8260.0,NaN,NaN,34345.0,NaN,2962313.0,NaN,NaN,16246.0,NaN,NaN,34345.0,0.0,NaN,1125621.0,Gabe Brkic,gabe brkic,PK,FA,2000-02-16,24.0,2022.0,NaN,NaN,NaN,NaN,75.0,201.0,Oklahoma,2025,gabe brkic,gabe brkic_34345,34345,brkic
1345,15967,f68c76d0-d314-11ec-8b77-45b1765fd110,24867.0,NaN,NaN,8812.0,NaN,4569390.0,34575.0,NaN,3127678.0,NaN,NaN,15856.0,NaN,NaN,34575.0,0.0,NaN,1178301.0,Jonathan Garibay,jonathan garibay,PK,FA,1999-12-31,24.1,2022.0,NaN,NaN,NaN,NaN,73.0,215.0,Texas Tech,2025,jonathan garibay,jonathan garibay_34575,34575,garibay

None of these players have any stats and seem to be rookies for 2025. This chekcs out as the gsis is the stat for one of the librarie that connects to everything else

In [ ]:
# master_raw = master_raw.dropna(subset='gsis_id')
# master_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3328 entries, 0 to 12040
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mfl_id            3328 non-null   int64
 1   sportradar_id     3052 non-null   object
 2   fantasypros_id    2424 non-null   float64
 3   gsis_id           3328 non-null   object
 4   pff_id            3135 non-null   float64
 5   sleeper_id        2679 non-null   float64
 6   nfl_id            3053 non-null   float64
 7   espn_id           3268 non-null   float64
 8   yahoo_id          2576 non-null   float64
 9   fleaflicker_id    444 non-null    float64
 10  cbs_id            3286 non-null   float64
 11  pfr_id            3186 non-null   object
 12  cfbref_id         1538 non-null   object
 13  rotowire_id       3323 non-null   float64
 14  rotoworld_id      2327 non-null   float64
 15  ktc_id            394 non-null    float64
 16  stats_id          3328 non-null   float64
 17  stats_global_id   3328 non-null   float64
 18  fantasy_data_id   2424 non-null   float64
 19  swish_id          1432 non-null   float64
 20  name              3328 non-null   object
 21  merge_name        3328 non-null   object
 22  position          3328 non-null   object
 23  team              3328 non-null   object
 24  birthdate         3327 non-null   object
 25  age               3327 non-null   float64
 26  draft_year        3328 non-null   float64
 27  draft_round       1791 non-null   float64
 28  draft_pick        1786 non-null   float64
 29  draft_ovr         1786 non-null   float64
 30  twitter_username  918 non-null    object
 31  height            3323 non-null   float64
 32  weight            3324 non-null   float64
 33  college           3319 non-null   object
 34  db_season         3328 non-null   int64
 35  cleaned_name      3328 non-null   object
 36  match_key         3328 non-null   object
 37  mapped_ids        3328 non-null   int64
 38  last_name         3328 non-null   object
dtypes: float64(22), int64(3), object(14)
memory usage: 1.0+ MB

In [153]:
merged_ids = merged_ids.dropna(axis=1, how='any')

In [154]:
merged_ids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12157 entries, 0 to 15411
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gsis_id                   12157 non-null  object
 1   stats_id                  12157 non-null  float64
 2   mapped_ids                12157 non-null  float64
 3   bye_weeks.week            12157 non-null  float64
 4   display_position          12157 non-null  object
 5   editorial_player_key      12157 non-null  object
 6   editorial_team_abbr       12157 non-null  object
 7   editorial_team_full_name  12157 non-null  object
 8   editorial_team_key        12157 non-null  object
 9   editorial_team_url        12157 non-null  object
 10  eligible_positions        12157 non-null  object
 11  headshot.size             12157 non-null  object
 12  headshot.url              12157 non-null  object
 13  image_url                 12157 non-null  object
 14  is_keeper.status          12157 non-null  object
 15  is_keeper.cost            12157 non-null  object
 16  is_keeper.kept            12157 non-null  object
 17  is_undroppable            12157 non-null  float64
 18  name.ascii_first          12157 non-null  object
 19  name.first                12157 non-null  object
 20  name.full                 12157 non-null  object
 21  name.last                 12157 non-null  object
 22  player_id                 12157 non-null  float64
 23  player_key                12157 non-null  object
 24  position_type             12157 non-null  object
 25  primary_position          12157 non-null  object
 26  url                       12157 non-null  object
 27  season                    12157 non-null  float64
 28  cleaned_name_yahoo        12157 non-null  object
 29  match_key_yahoo           12157 non-null  object
 30  last_name_yahoo           12157 non-null  object
dtypes: float64(6), object(25)
memory usage: 3.0+ MB

In [ ]:
# merged_ids.to_csv('Raw/player_ids.csv', index=False)