In [6]:
import pandas as pd
import polars as pl
pd.set_option('display.max_rows', 60)
pd.set_option('display.max_columns', None) 
import numpy as np
import re
from collections import defaultdict
import nflreadpy as nfl

In [28]:
draft_picks = nfl.load_draft_picks(seasons=(range(1998, 2026))).to_pandas()

In [29]:
draft_picks[draft_picks['round'] == 2]

,season,round,pick,team,gsis_id,pfr_player_id,cfb_player_id,pfr_player_name,hof,position,category,side,college,age,to,allpro,probowls,seasons_started,w_av,car_av,dr_av,games,pass_completions,pass_attempts,pass_yards,pass_tds,pass_ints,rush_atts,rush_yards,rush_tds,receptions,rec_yards,rec_tds,def_solo_tackles,def_ints,def_sacks
30,1998,2,31,OAK,None,None,None,Leon Bender,False,DT,DL,D,Washington St.,NaN,NaN,0,0,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1998,2,32,IND,None,PathJe00,jerome-pathon-1,Jerome Pathon,False,WR,WR,O,Washington,22.0,2005.0,0,0,4,29.0,None,15.0,100.0,0.0,0.0,0.0,0.0,0.0,5.0,-7.0,0.0,260.0,3350.0,15.0,1.0,NaN,NaN
32,1998,2,33,ARI,None,ChavCo00,corey-chavous-1,Corey Chavous,False,DB,DB,D,Vanderbilt,22.0,2008.0,0,1,8,42.0,None,8.0,171.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,602.0,20.0,5.5
33,1998,2,34,TAM,None,GreeJa00,jacquez-green-1,Jacquez Green,False,WR,WR,O,Florida,22.0,2002.0,0,0,3,26.0,None,25.0,66.0,0.0,0.0,0.0,0.0,0.0,13.0,42.0,0.0,162.0,2311.0,7.0,NaN,NaN,NaN
34,1998,2,35,CHI,None,ParrTo20,tony-parrish-1,Tony Parrish,False,DB,DB,D,Washington,22.0,2006.0,0,0,8,49.0,None,24.0,131.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,516.0,30.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6940,2025,2,60,DEN,00-0040730,HarvRJ00,rj-harvey-1,RJ Harvey,False,RB,RB,O,Central Florida,24.0,2025.0,0,0,0,0.0,None,0.0,8.0,0.0,0.0,0.0,0.0,0.0,44.0,200.0,2.0,18.0,115.0,3.0,NaN,NaN,NaN
6941,2025,2,61,WAS,00-0040731,AmosTr00,trey-amos-1,Trey Amos,False,CB,DB,D,Mississippi,23.0,2025.0,0,0,0,0.0,None,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,NaN,NaN
6942,2025,2,62,CHI,00-0040741,TurnSh00,shemar-turner-1,Shemar Turner,False,DE,DL,D,Texas A&M,22.0,2025.0,0,0,0,0.0,None,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,NaN,NaN
6943,2025,2,63,KAN,00-0040748,NormOm00,omarr-norman-lott-1,Omarr Norman-Lott,False,DT,DL,D,Tennessee,23.0,2025.0,0,0,0,0.0,None,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,NaN,1.0
6944,2025,2,64,PHI,00-0040749,MukuAn00,andrew-mukuba-1,Andrew Mukuba,False,SAF,DB,D,Texas,22.0,2025.0,0,0,0,0.0,None,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,2.0,0.5

In [30]:
draft_picks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7138 entries, 0 to 7137
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   season            7138 non-null   int32
 1   round             7138 non-null   int32
 2   pick              7138 non-null   int32
 3   team              7138 non-null   object
 4   gsis_id           3109 non-null   object
 5   pfr_player_id     6817 non-null   object
 6   cfb_player_id     5882 non-null   object
 7   pfr_player_name   7138 non-null   object
 8   hof               7138 non-null   bool
 9   position          7138 non-null   object
 10  category          7138 non-null   object
 11  side              7136 non-null   object
 12  college           7138 non-null   object
 13  age               6809 non-null   float64
 14  to                6463 non-null   float64
 15  allpro            7138 non-null   int32
 16  probowls          7138 non-null   int32
 17  seasons_started   7138 non-null   int32
 18  w_av              6463 non-null   float64
 19  car_av            0 non-null      object
 20  dr_av             6008 non-null   float64
 21  games             6463 non-null   float64
 22  pass_completions  6463 non-null   float64
 23  pass_attempts     6463 non-null   float64
 24  pass_yards        6463 non-null   float64
 25  pass_tds          6463 non-null   float64
 26  pass_ints         6462 non-null   float64
 27  rush_atts         6463 non-null   float64
 28  rush_yards        6463 non-null   float64
 29  rush_tds          6463 non-null   float64
 30  receptions        6463 non-null   float64
 31  rec_yards         6463 non-null   float64
 32  rec_tds           6463 non-null   float64
 33  def_solo_tackles  4481 non-null   float64
 34  def_ints          1491 non-null   float64
 35  def_sacks         2010 non-null   float64
dtypes: bool(1), float64(19), int32(6), object(10)
memory usage: 1.7+ MB

In [31]:
# draft_picks[draft_picks['gsis_id'].isna()].to_csv('draft_picks_missing_ids.csv')

In [32]:
draft_picks = draft_picks.dropna(subset='gsis_id')

In [33]:
draft_picks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3109 entries, 0 to 7137
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   season            3109 non-null   int32
 1   round             3109 non-null   int32
 2   pick              3109 non-null   int32
 3   team              3109 non-null   object
 4   gsis_id           3109 non-null   object
 5   pfr_player_id     3109 non-null   object
 6   cfb_player_id     2912 non-null   object
 7   pfr_player_name   3109 non-null   object
 8   hof               3109 non-null   bool
 9   position          3109 non-null   object
 10  category          3109 non-null   object
 11  side              3107 non-null   object
 12  college           3109 non-null   object
 13  age               3107 non-null   float64
 14  to                2979 non-null   float64
 15  allpro            3109 non-null   int32
 16  probowls          3109 non-null   int32
 17  seasons_started   3109 non-null   int32
 18  w_av              2979 non-null   float64
 19  car_av            0 non-null      object
 20  dr_av             2847 non-null   float64
 21  games             2979 non-null   float64
 22  pass_completions  2979 non-null   float64
 23  pass_attempts     2979 non-null   float64
 24  pass_yards        2979 non-null   float64
 25  pass_tds          2979 non-null   float64
 26  pass_ints         2979 non-null   float64
 27  rush_atts         2979 non-null   float64
 28  rush_yards        2979 non-null   float64
 29  rush_tds          2979 non-null   float64
 30  receptions        2979 non-null   float64
 31  rec_yards         2979 non-null   float64
 32  rec_tds           2979 non-null   float64
 33  def_solo_tackles  2294 non-null   float64
 34  def_ints          741 non-null    float64
 35  def_sacks         1032 non-null   float64
dtypes: bool(1), float64(19), int32(6), object(10)
memory usage: 804.6+ KB

In [34]:
draft_picks = draft_picks[['season', 'round', 'pick', 'team', 'gsis_id', 'position']]

In [35]:
draft_picks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3109 entries, 0 to 7137
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   season    3109 non-null   int32
 1   round     3109 non-null   int32
 2   pick      3109 non-null   int32
 3   team      3109 non-null   object
 4   gsis_id   3109 non-null   object
 5   position  3109 non-null   object
dtypes: int32(3), object(3)
memory usage: 133.6+ KB

In [37]:
draft_picks['position'].value_counts()

position
WR     527
RB     391
DE     283
LB     271
DB     260
CB     251
TE     242
DT     239
QB     211
S      138
OLB     78
DL      73
K       32
P       30
SAF     30
ILB     28
FB      11
NT      11
FS       2
G        1
Name: count, dtype: int64

In [38]:
draft_picks = draft_picks.loc[draft_picks['position'].isin(['QB', 'WR', 'RB', 'TE', 'K', 'FB'])]

In [39]:
draft_picks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1414 entries, 0 to 7135
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   season    1414 non-null   int32
 1   round     1414 non-null   int32
 2   pick      1414 non-null   int32
 3   team      1414 non-null   object
 4   gsis_id   1414 non-null   object
 5   position  1414 non-null   object
dtypes: int32(3), object(3)
memory usage: 60.8+ KB

In [40]:
draft_picks.to_csv('draft_picks_cln.csv')